@import '@igloo-ui/tokens/dist/base10/variables.css';
@import '@igloo-ui/tokens/dist/fonts.css';

:root {
  /* Default */
  --ids-alert-font-family: var(--primary-font-family);
  --ids-alert-font-size: var(--font-size-4);
  --ids-alert-title-font-weight: var(--font-weight-semi-bold);
  --ids-alert-padding: var(--space-3); // TODO Verify 16 px
  --ids-alert-flex-gap: var(--space-3); // TODO Verify 16 px
  --ids-alert-border-radius: var(--border-radius-sm); // TODO validate 4 px
  --ids-alert-box-shadow: var(--shadow-6);
  --ids-alert-background-color-light: var(--samoyed);
  --ids-alert-background-color-darker: var(--grey-100);
  --ids-alert-border-left-width: 6px;
  --ids-alert-text-color-title: var(--black);
  --ids-alert-text-color-body: var(--grey-600);
  --ids-alert-icon-size-small: 26px;
  --ids-alert-icon-size-medium: 40px;
  --ids-alert-link-color: var(--electric-blue-500);

  /* Announcement */
  --ids-alert-color-announcement: var(--seaweed-500);

  /* Info */
  --ids-alert-color-info: var(--sky-100);

  /* Premium */
  --ids-alert-color-premium: var(--dandelion-300);

  /* Promo */
  --ids-alert-color-promo: var(--sky-100);

  /* Success */
  --ids-alert-color-success: var(--seaweed-500);

  /* Warning */
  --ids-alert-color-warning: var(--creamsicle-200);
}

.ids-alert {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--ids-alert-flex-gap);
  border-left: var(--ids-alert-border-left-width) solid transparent;
  font-size: var(--ids-alert-font-size);
  font-family: var(--ids-alert-font-family);
  padding: var(--ids-alert-padding);

  /* Types */
  &--announcement {
    border-left-color: var(--ids-alert-color-announcement);

    #ids-alert-icon-circle {
      fill: var(--ids-alert-color-announcement);
    }
  }

  &--info {
    border-left-color: var(--ids-alert-color-info);

    #ids-alert-icon-circle {
      fill: var(--ids-alert-color-info);
    }
  }

  &--premium {
    border-left-color: var(--ids-alert-color-premium);

    #ids-alert-icon-circle {
      fill: var(--ids-alert-color-premium);
    }
  }

  &--promo {
    border-left-color: var(--ids-alert-color-promo);

    #ids-alert-icon-circle {
      fill: var(--ids-alert-color-promo);
    }
  }

  &--success {
    border-left-color: var(--ids-alert-color-success);

    #ids-alert-icon-circle {
      fill: var(--ids-alert-color-success);
    }
  }

  &--warning {
    border-left-color: var(--ids-alert-color-warning);

    #ids-alert-icon-circle {
      fill: var(--ids-alert-color-warning);
    }
  }

  /* Styles */
  &--card {
    background-color: var(--ids-alert-background-color-light);
    border-radius: var(--ids-alert-border-radius);
    box-shadow: var(--ids-alert-box-shadow);
  }

  &--inline {
    background-color: var(--ids-alert-background-color-darker);
  }

  &--horizontal {
    background-color: var(--ids-alert-background-color-darker);
  }

  /* Components */
  &__dismiss-button {
    order: 99;
    flex: 0 0 auto;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
    border-radius: var(--border-radius-xs);

    &:focus {
      box-shadow: var(--focus);
    }
  }

  &__icon {
    order: 0;
    flex: 0 0 auto;
    border-radius: 50%;

    @media screen and (max-width: 600px) {
      display: none;
    }

    &--medium-centered {
      align-self: center;

      svg {
        height: var(--ids-alert-icon-size-medium);
        width: var(--ids-alert-icon-size-medium);
      }
    }

    &--small-top {
      align-self: flex-start;

      svg {
        height: var(--ids-alert-icon-size-small);
        width: var(--ids-alert-icon-size-small);
      }
    }
  }

  &__body {
    order: 1;
    display: flex;
    gap: 0 30px;
    width: 100%;
  }

  &--card &__body {
    flex-direction: column;
    align-items: flex-start;
  }

  &--inline &__body {
    flex-direction: column;
    align-items: flex-start;
  }

  &--horizontal &__body {
    flex-direction: row;
    align-items: center;
  }

  &__content {
    flex: 1 1 auto;
    display: block;

    .alert-title {
      font-weight: var(--ids-alert-title-font-weight);
      color: var(--ids-alert-text-color-title);
    }

    p:not(.alert-title) {
      color: var(--ids-alert-text-color-body);
    }
  }

  &__link {
    flex: 0 0 auto;
    color: var(--ids-alert-link-color);
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
