@mixin ids-alert-mixin-decoration($border-color, $color: "", $background: "", $icon-color: "") {
  @if $icon-color == "" {
    $icon-color: $border-color;
  }

  border-color: $border-color;

  @if $color != "" {
    background-color: $background;

    .ids-alert__content,
    .ids-alert__title {
      color: $color;
    }

    .ids-alert__metadata {
      color: $color;
    }
  }

  svg,
  svg circle:first-child {
    fill: $icon-color;
  }
}

@mixin ids-alert-mixin-icon-position-size($alignSelf, $size) {
  align-self: $alignSelf;

  svg {
    height: $size;
    width: $size;
  }
}
