@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-link-font-family: #{tokens.$primary-font-family};
  --ids-link-font-size: #{tokens.$font-size-4};
  --ids-link-font-size-small: #{tokens.$font-size-3};
  --ids-link-font-size-xsmall: #{tokens.$font-size-2};
  --ids-link-font-weight: #{tokens.$font-weight-medium};
  --ids-link-icon-color: currentColor;
  --ids-link-icon-margin: #{tokens.$space-1};

  /* Primary */
  --ids-link-text-primary: #{tokens.$electric-blue-500};
  --ids-link-text-primary-hover: #{tokens.$electric-blue-600};

  /* Secondary */
  --ids-link-text-secondary: #{tokens.$grey-600};
  --ids-link-text-secondary-hover: #{tokens.$grey-700};

  /* Danger */
  --ids-link-text-danger: #{tokens.$coral-500};
  --ids-link-text-danger-hover: #{tokens.$coral-600};
}

.ids-link {
  font-family: var(--ids-link-font-family);
  font-size: var(--ids-link-font-size);
  font-weight: var(--ids-link-font-weight);
  text-decoration: none;
  color: var(--ids-link-text-primary);

  &:focus,
  &.focus,
  &:hover {
    cursor: pointer;
    color: var(--ids-link-text-primary-hover);
  }

  &--small {
    font-size: var(--ids-link-font-size-small);
  }

  &--xsmall {
    font-size: var(--ids-link-font-size-xsmall);
  }

  &--underline {
    text-decoration: underline;
  }

  &.has-icon {
    display: inline-flex;
    align-items: center;
  }

  &.has-icon .ids-icon {
    color: var(--ids-link-icon-color);
  }

  &.has-icon--leading .ids-icon {
    margin-right: var(--ids-link-icon-margin);
  }

  &.has-icon--trailing .ids-icon {
    margin-left: var(--ids-link-icon-margin);
  }
}

.ids-link--secondary {
  color: var(--ids-link-text-secondary);

  &:hover {
    cursor: pointer;
    color: var(--ids-link-text-secondary-hover);
  }
}

.ids-link--danger {
  color: var(--ids-link-text-danger);

  &:hover {
    cursor: pointer;
    color: var(--ids-link-text-danger-hover);
  }
}
