@use 'sass:color';
@import '../variables.scss';

$card-effect-size: $size-2;

$card-shadow-yellow: rgba(
  color.red($c-yellow),
  color.green($c-yellow),
  color.blue($c-yellow),
  var(--alpha, 0)
);

$card-shadow-green: rgba(
  color.red($c-green),
  color.green($c-green),
  color.blue($c-green),
  var(--alpha, 0)
);

$card-shadow-pink: rgba(
  color.red($c-pink),
  color.green($c-pink),
  color.blue($c-pink),
  var(--alpha, 0)
);

// interactive card
a {
  .io-card {
    transition: box-shadow 150ms ease-in-out, transform 200ms ease-in-out,
      -webkit-transform 150ms ease-in-out;
    box-shadow: 0 0 0 0 $card-shadow-yellow;
    height: 100%;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: -1;
    }

    &:hover {
      --alpha: 1;
      transform: translate($card-effect-size * -1, $card-effect-size * -1);
      box-shadow: $card-effect-size $card-effect-size 0 0 $card-shadow-yellow;

      &::after {
        right: $card-effect-size * -1;
        bottom: $card-effect-size * -1;
      }
    }

    .io-card--components {
      box-shadow: 0 0 0 0 $card-shadow-yellow;
      &:hover {
        box-shadow: $card-effect-size $card-effect-size 0 0 $card-shadow-yellow;
      }
    }

    &.io-card--tokens {
      box-shadow: 0 0 0 0 $card-shadow-green;
      &:hover {
        box-shadow: $card-effect-size $card-effect-size 0 0 $card-shadow-green;
      }
    }

    &.io-card--icons {
      box-shadow: 0 0 0 0 $card-shadow-pink;
      &:hover {
        box-shadow: $card-effect-size $card-effect-size 0 0 $card-shadow-pink;
      }
    }
  }

  .io-card--inline {
    box-shadow: none;
    height: auto;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.io-card {
  position: relative;
  font-size: $fs-4;
  border-radius: $br-1;
  padding: $size-2;
  color: $c-white;
  background: $c-black;

  &__content {
    padding-top: $size-2;
    line-height: 1.5;
    z-index: 100;
  }

  &__title.io-title {
    color: inherit;
  }

  &__description {
    font-size: $fs-5;
    margin: $size-0 0 0;
  }
}

.io-card--inline {
  display: flex;
  padding: 0;
  color: $c-black;
  background: $c-white;

  .io-card__content {
    padding: 0 $size-2;
  }
}
