@use '../abstract/function' as *;
@use '../tokens' as token;

$btn-size: rebase(2rem);
$btn-radius: rebase(0.25rem);
$btn-text: token.$black;
$btn-background: token.$white;
$btn-border: #e5e5e5;

.io-btn-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $btn-text;
  background: $btn-background;
  border: 1px solid $btn-border;
  width: $btn-size;
  height: $btn-size;
  padding: 0;
  border-radius: $btn-radius;

  &:hover {
    cursor: pointer;
  }

  &--dark {
    color: token.$button-copy-color;
    background: transparent;
    border-color: token.$button-copy-color;
  }
}
