@use '../tokens' as token;

.io-code {
  display: block;
  font-size: var(--fs-100);
  font-family: monospace;
  margin: token.$space-2 0;

  + .io-title {
    margin-top: token.$space-6;
  }

  &--inline {
    display: inline-block;
    font-family: monospace;
    font-size: var(--fs-100);
    color: token.$code-color;
    line-height: 2;
    background: token.$grey-200;
    padding: 0 token.$space-1;
    border-radius: token.$radius-2;
  }

  &--light {
    background: transparent;
  }

  &--copy {
    display: flex;
    align-items: center;
    gap: token.$space-1;

    .io-btn-copy {
      opacity: 0;
      transform: translateX(-50%);
      transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    }

    &:hover {
      .io-btn-copy {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
