@import 'variables';

.io-code {
  display: block;
  font-size: $fs-5;
  font-family: monospace;
  margin: $size-2 0;

  + .io-title {
    margin-top: $size-4;
  }

  &--inline {
    display: inline-block;
    font-family: monospace;
    font-size: $fs-6;
    color: $c-code;
    line-height: 2;
    background: rgba(175, 184, 193, 0.25);
    padding: 0 8px;
    border-radius: $br-2;
  }
}
