@import "variables";

.io-code {
  display: block;
  font-size: $fs-5;
  font-family: monospace;
  margin: $size-2 0;

  + .io-title {
    margin-top: $size-4;
  }

  &--inline {
    display: inline-block;
    font-family: monospace;
    font-size: $fs-5;
    color: $c-code;
    line-height: 2;
    background: rgb(175 184 193 / 25%);
    padding: 0 $size-1;
    border-radius: $br-2;
  }

  &--light {
    background: transparent;
  }
}
