@import 'variables';

.io-display {
  display: flex;
  align-items: center;
  font-size: $size-4;
  font-weight: 700;
  margin-bottom: $size-4;
  line-height: 1;

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__tag {
    margin-left: $size-1;
    margin-bottom: $size-0;
  }

  &__icon {
    width: $size-4;
    height: $size-4;
    margin-right: $size-2;
  }
}
