@use '../variables' as var;

.io-display {
  display: flex;
  align-items: center;
  font-size: var(--fs-700);
  font-weight: 700;
  margin-bottom: var.$size-8;
  line-height: 1;

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__tag {
    margin-left: var.$size-1;
    margin-bottom: var.$size-0;
  }

  &__icon {
    width: var.$size-5;
    height: var.$size-5;
    margin-right: var.$size-2;
  }
}
