@use '../tokens' as token;

.io-display {
  display: flex;
  align-items: center;
  font-size: var(--fs-700);
  font-weight: 700;
  margin-bottom: token.$space-8;
  line-height: 1;

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__tag {
    margin-left: token.$space-1;
    margin-bottom: token.$space-0;
  }

  &__icon {
    width: token.$space-5;
    height: token.$space-5;
    margin-right: token.$space-2;
  }
}
