@use '../tokens' as token;
@use '../abstract/function' as *;

.example {
  display: flex;
  flex-direction: var(--io-example-direction);
  align-items: center;
  justify-content: center;
  gap: token.$space-3;
  min-height: rebase(10rem);
  padding: var(--io-example-padding);
  margin: var(--io-example-margin);
  border: 1px solid token.$grey-400;
  border-radius: token.$radius-3;
  background-color: token.$white;
}

.example__block {
  display: flex;
  flex-direction: column;
}

.example__form {
  padding-top: token.$radius-1;
  display: flex;
  flex-direction: column;
  gap: token.$radius-0;
}

.example--truncate > * {
  max-width: rebase(15rem);
}