@use '../tokens' as token;
@use '../abstract/function' as *;

.example {
  display: flex;
  flex-direction: var(--io-example-direction);
  align-items: center;
  justify-content: center;
  gap: token.$space-3;
  min-height: rebase(10rem);
  padding: var(--io-example-padding);
  margin: var(--io-example-margin);
  border: 1px solid token.$grey-400;
  border-radius: token.$radius-3;
  background-color: token.$white;
}

.example__block {
  display: flex;
  flex-direction: column;
}

.example__form {
  padding-top: token.$radius-1;
  display: flex;
  flex-direction: column;
  gap: token.$radius-0;

  > .ids-form-control {
    align-items: center;
  }

  .ids-checkbox {
    margin-top: 0;
  }
}

.example--truncate > * {
  max-width: rebase(15rem);
}

.example--max-with > * {
  width: 100%;
  max-width: 80%;
}

.example__inline {
  display: flex;
  gap: rebase(0.5rem);
  align-items: center;
}

//Special style for the example of Modal
.ids-modal.ex-modal {
  z-index: 1000;
}
.ex-modal {
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: rebase(1rem);
  }

  &__avatar {
    width: rebase(3rem);
    height: rebase(3rem);
    border-radius: token.$radius-2;
    background-color: token.$grey-400;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: rebase(1rem);
  }

  &__formGroup {
    flex: 1 0 100%;
    max-width: calc(50% - 1.6rem);
    box-sizing: border-box;
  }

  &__footer {
    margin-top: rebase(2rem);
    display: flex;
    justify-content: flex-end;
    gap: rebase(0.75rem);
  }
}


//Special style for the example of Popover
.ex-popover {
  z-index: 10;
}

.ex-trigger {
  display: inline-block;
  width:  var(--space-1);
  height: var(--space-1);
  border-radius: 50%;
  background-color: #1053FF;
}

.ex-popover__item {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.ex-popover__tag {
  border-radius: 50%;
  width: var(--space-2);
  height: var(--space-2);
}

.ex-popover__value {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-semi-bold);
  color: token.$grey-800;
}

// Special style for the dropdown list
.ex-list {
  list-style: none;
  margin: 0;
  padding: 0.8rem 0;
  min-width: 20rem;

  &__item {
    padding: 0.8rem 1.6rem;

    &:hover {
      cursor: pointer;
      background-color: token.$grey-200;
    }
  }
}