@use '../variables' as var;

.io-highlighter {
  position: relative;

  &__syntax {
    border-radius: var.$br-2;
    padding: var.$size-2 !important;
  }

  &__action {
    position: absolute;
    inset: var.$size-1 var.$size-1 auto auto;
  }

  &__action-left {
    position: absolute;
    inset: var.$size-1;
  }
}
