@use '../tokens' as token;

.io-highlighter {
  position: relative;

  &__syntax {
    border-radius: token.$radius-2;
    padding: token.$space-2 !important;
  }

  &__action {
    position: absolute;
    inset: token.$space-1 token.$space-1 auto auto;
  }

  &__action-left {
    position: absolute;
    inset: token.$space-1;
  }
}
