@use '../abstract/function' as *;
@use '../tokens' as token;

.io-icon {
  color: token.$black;
  font-size: var(--fs-050, var(--fs-100) );
  box-sizing: border-box;

  &:hover {
    background: token.$white;
    border-radius: token.$radius-1;
    box-shadow: rebase(0.15rem) rebase(0.25rem)  0 0 token.$grey-200;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    & .io-btn-copy {
      display: none;
    }

    &:hover .io-btn-copy {
      display: inherit;
    }
  }

  &__svg {
    display: flex;
    flex: 1 1 rebase(4rem);
    min-width: 50px;
    cursor: pointer;

    > * {
      margin: auto;
    }
  }

  &__name {
    flex: 1 1 rebase(2rem);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    padding: 0 token.$space-2;
    color: rgba($color: #000000, $alpha: 0.6);
  }

  .empty::after {
    display: block;
    content: 'Not available';
  }
}
