@use '../variables' as var;

.io-icon {
  color: var.$c-black;
  font-size: var(--fs-050, --fs-100);
  box-sizing: border-box;

  &:hover {
    background: var.$c-white;
    border-radius: var.$br-1;
    box-shadow: 0.15rem 0.25rem 0 0 var.$c-grey-200;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    display: flex;
    flex: 1 1 4rem;

    > * {
      margin: auto;
    }
  }

  &__name {
    flex: 1 1 2rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    padding: 0 var.$size-2;
    color: rgba($color: #000000, $alpha: 0.6);
  }

  .empty::after {
    display: block;
    content: 'Not available';
  }
}
