@import 'variables';

.io-nav {
  font-size: $fs-4;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:first-child) {
    margin-left: $size-2;
  }

  &__link:hover {
    text-decoration: underline;
  }

  .is-active {
    text-decoration: underline;
  }

  &__item--icon {
    display: flex;
    align-items: center;

    span {
      display: none;
    }
  }
}

.io-subnav {
  position: sticky;
  top: $size-1;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $fs-5;
  line-height: 2;

  a:hover {
    text-decoration: underline;
  }
}
