@use '../variables' as var;

.io-options {
  background: var.$c-white;
  display: grid;
  gap: var.$size-1;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: var.$size-3;
  padding: var.$size-3 var.$size-2;
  border-radius: var.$br-1;
  border: 1px solid var.$c-grey-200;
  box-shadow: 0 0.25rem 0 0 var.$c-grey-300;

  @media (min-width: var.$breakpoint-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: var.$breakpoint-medium) {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  &__search {
    grid-column: 1;

    @media (min-width: var.$breakpoint-medium) {
      grid-column: 2;
    }
  }

  &__sizes {
    margin: var.$size-2 auto 0;

    @media (min-width: var.$breakpoint-small) {
      margin: 0;
      justify-self: flex-end;
    }
  }

  &--large {
    margin-left: -(var.$size-4);
    margin-right: -(var.$size-4);
    display: flex;
  }

  .io-options__title {
    margin: 0;
    font-weight: 700;
  }
}

.io-input {
  position: relative;

  > svg {
    color: var.$c-grey-300;
    position: absolute;
    top: 50%;
    left: var.$size-1;
    transform: translate(0, -50%);
  }

  input {
    width: 100%;
    padding: var.$size-1 var.$size-2 var.$size-1 var.$size-4;
    border: 1px solid var.$c-grey-200;
    border-radius: var.$br-1;
    font-size: var.$fs-3;

    &:focus {
      outline: none;
      border-color: var.$c-grey-300;
    }
  }
}

.io-select {
  font-size: var.$fs-4;
  border: 1px solid var.$c-grey-300;
  border-radius: 0.25rem;
  padding: var.$size-0;
  background: var.$c-white;
}

.io-btn-group {
  > label {
    padding: var.$size-1 var.$size-2;
    background: var.$c-white;
    border: 1px solid var.$c-grey-200;
    border-radius: var.$br-1;
    color: var.$c-grey-300;
    cursor: pointer;
  }

  :checked + label {
    background: var.$c-grey-400;
    color: var.$c-white;
  }

  > label:nth-child(n + 3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > label:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  label:not(:first-child),
  label:not(:first-child) {
    margin-left: -1px;
  }

  .io-btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}
