@use '../abstract/function' as *;
@use '../tokens' as token;

.io-tokens__table {
  font-size: var(--fs-100);
  width: 100%;
  margin: token.$space-3 0 token.$space-8 0;

  th,
  td {
    font-weight: normal;
    text-align: left;
    padding: token.$space-0 0;
    margin: 0;
  }

  td {
    font-size: var(--fs-100);
    border: 0;
    border-top: 1px solid token.$grey-200;
  }

  td:first-child {
    width: 40%;
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  td:last-child {
    width: rebase(8rem);

    > * {
      float: right;
    }
  }
}

.io-tokens__preview {
  text-align: right;
  width: token.$space-5;
  height: token.$space-3;
  border-radius: token.$radius-2;
  background: token.$grey-200;
}

.io-preview {
  font-size: var(--fs-300);

  &--fonts {
    width: auto;
    height: auto;
  }

  &--space {
    height: token.$space-2;
    border-radius: token.$radius-2;
    background: token.$code-bg-color;
  }

  &--lineHeight {
    padding: 0 token.$space-0;
  }

  &--lineHeight,
  &--border {
    border: 1px solid token.$grey-300;
  }

  &--empty,
  &--border,
  &--fonts,
  &--shadow {
    background: transparent;
  }

  &--color,
  &--empty,
  &--border,
  &--shadow,
  &--space {
    > * {
      display: none;
    }
  }
}
