@use '../tokens' as token;

.io-tag {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-050, var(--fs-100));
  text-align: center;
  border-radius: token.$space-2;
  min-height: token.$space-2;
  padding: 0 token.$space-1;
  background: token.$grey-200;

  &--ready {
    color: token.$white;
    background: token.$green;
  }

  &--beta {
    background: token.$yellow;
  }

  &--ghost {
    line-height: 1.5;
    border: 1px solid token.$grey-300;
    background: transparent;
  }
}
