@import "../variables";

.io-tag {
  display: inline-flex;
  align-items: center;
  font-size: $fs-5;
  text-align: center;
  border-radius: $size-1;
  min-height: $size-2;
  padding: 0 $size-1;
  background: $c-grey;

  &--ready {
    color: $c-white;
    background: $c-green;
  }

  &--beta {
    background: $c-yellow;
  }

  &--ghost {
    line-height: 1.5;
    border: 1px solid $c-grey;
    background: transparent;
  }
}
