@use '../tokens' as token;

.io-title {
  line-height: 1.35;
  color: token.$black;
  margin: 0;

  &--level1 {
    font-size: var(--fs-display);
  }

  &--level2 {
    font-size: var(--fs-600);
  }

  &--level3 {
    font-size: var(--fs-500);
  }

  &--level4 {
    font-size: var(--fs-400);
  }
}
