@use "../tokens" as token;
@use '../base/media-query' as media;

:root {
  --io-main-top-padding: #{token.$space-7};
  --io-main-right-padding: #{token.$space-3};
  --io-toc-display: none;
}

@include media.mq(medium) {
  :root {
    --io-main-top-padding: #{token.$space-10};
    --io-main-right-padding: #{token.$space-4};
  }
}

@include media.mq(large) {
  :root {
    --io-toc-display: block;
  }
}

.io-toc {
  display: var(--io-toc-display);
  position: absolute;
  top: var(--io-main-top-padding);
  right: 0;
  width: min(100% - var(--io-main-right-padding), 20rem);
  height: 100%;

  .toc-level-3 {
    padding-left: #{token.$space-3};
  }
}