@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

/* stylelint-disable custom-property-pattern, max-line-length  */

:root {
  /* Default */
  --ids-toaster-font-family: #{tokens.$primary-font-family};
  --ids-toaster-font-size: #{tokens.$font-size-3};
  --ids-toaster-font-weight: #{tokens.$font-weight-medium};
  --ids-toaster-text: #{tokens.$grey-800};
  --ids-toaster-inset: 0 0 auto 0;
  --ids-toaster-padding: #{tokens.$space-2} #{tokens.$space-2} calc(#{tokens.$space-2} + #{tokens.$space-1}) #{tokens.$space-2};
  --ids-toaster-gap: #{tokens.$space-2};
  --ids-toaster-max-width: 60rem;
  --ids-toaster-border-radius: 0;
  --ids-toaster-shadow: #{tokens.$shadow-12};
  --ids-toaster-background: #{tokens.$samoyed};
  --ids-toaster-status-height: #{tokens.$space-1};
  --ids-toaster-status-color: #{tokens.$seaweed-500};
  --ids-toaster-status-icon-size: #{tokens.$space-4};

  /* Error */
  --ids-toaster-status-color-error: #{tokens.$coral-500};

  /* Overlay */
  --ids-toaster-overlay-padding: 0 #{tokens.$space-3};
  --ids-toaster-z-index: #{tokens.$z-index-max};
}

.ids-toast__overlay {
  position: fixed;
  inset: var(--ids-toaster-inset);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ids-toaster-gap);
  z-index: var(--ids-toaster-z-index);
}

.ids-toast {
  --_state: var(--ids-toaster-status-color);

  position: relative;
  pointer-events: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: var(--ids-toaster-gap);
  width: 100%;
  max-width: var(--ids-toaster-max-width);
  font-family: var(--ids-toaster-font-family);
  font-size: var(--ids-toaster-font-size);
  font-weight: var(--ids-toaster-font-weight);
  color: var(--ids-toaster-text);
  background: var(--ids-toaster-background);
  border-radius: var(--ids-toaster-border-radius);
  padding: var(--ids-toaster-padding);
  box-shadow: var(--ids-toaster-shadow);
  box-sizing: border-box;
  will-change: transform;
  animation: fade-in 0.3s ease, slide-in 0.3s ease;

  &::after {
    position: absolute;
    inset: auto 0 0 0;
    display: block;
    content: '';
    height: var(--ids-toaster-status-height);
    background: var(--_state);
    animation-name: time;
    animation-duration: var(--_duration, 4000ms);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  &__icon {
    box-sizing: border-box;
    flex: 0 1 auto;
    min-width: var(--ids-toaster-status-icon-size);
    color: var(--_state);
  }

  &--error {
    --_state: var(--ids-toaster-status-color-error);
  }

  &--hidden {
    animation: fade-out 0.15s ease, slide-out 0.15s ease, remove-space 0.15s ease;
    animation-fill-mode: forwards;
  }

  &--reduce-motion {
    &::after {
      animation: none;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(var(--_travel-distance, -64px));
  }
}

@keyframes slide-out {
  to {
    transform: translateY(var(--_travel-distance, -64px));
  }
}

@keyframes remove-space {
  to {
    height: 0;
    padding: 0;
  }
}

@keyframes time {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 600px) {
  :root {
    --ids-toaster-font-size: #{tokens.$font-size-4};
    --ids-toaster-font-weight: #{tokens.$font-weight-bold};
    --ids-toaster-inset: #{tokens.$space-3} 0 auto 0;
    --ids-toaster-border-radius: #{tokens.$border-radius-sm};
    --ids-toaster-padding: #{tokens.$space-3} #{tokens.$space-3} calc(#{tokens.$space-3} + #{tokens.$space-1}) #{tokens.$space-3};
    --ids-toaster-overlay-padding: 0;
  }
}
