@use 'tokens' as token;
@use 'base/media-query' as media;
@use "abstract/function" as *;

:root {
  --ico-columns: calc(100% / 4);
  --io-header-padding: #{token.$space-2};
  --io-hero-space: #{token.$space-3} 0 #{token.$space-8};
  --io-main-padding: #{token.$space-7} #{token.$space-3} 0;
  --io-section-grid-gap: #{token.$space-8};
  --io-section-hasAside-display: block;
  --io-aside-display: none;
  --io-contact-direction: column;
}

@include media.mq(medium) {
  :root {
    --ico-columns: calc(100% / 7);
    --io-header-padding: 0  #{token.$space-4};
    --io-header-title-width: 70%;
    --io-hero-space: #{token.$hero-space};
    --io-main-padding: #{token.$space-10} #{token.$space-4} 0 ;
    --io-section-template: repeat(3, 1fr);
    --io-section-hub-template: repeat(4, 1fr);
    --io-section-grid-gap: #{token.$space-3};
    --io-section-grid-template: 2fr 1fr;
    --io-section-hasAside-display: grid;
    --io-section-hasAside-template: 1fr minmax(auto, #{rebase(52rem)}) 1fr;
    --io-aside-display: block;
    --io-contact-direction: row;
  }
}

.io-layout {
  font-size: token.$text-size;
  width: 100%;
  margin: 0 auto;
}

.io-link {
  &-icon {
    display: inline-block;
    line-height: 0;
  }

  &-brand {
    width: auto;
  }
}

.io-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0 0 auto 0;
  min-height: token.$navbar-min-height;
  padding: var(--io-header-padding);
  box-shadow: token.$menu-shadow;
  background-color: token.$navbar-bg-color;
  color: token.$navbar-color;
  box-sizing: border-box;
  z-index: 999;

  > * {
    flex: 1 1 calc(100% / 3)
  }
}

.io-main {
  position: relative;
  width: 100%;
  max-width: token.$max-layout-width;
  margin: token.$navbar-min-height auto 0;
  padding: var(--io-main-padding);
  box-sizing: border-box;
}

.io-hero {
  margin: var(--io-hero-space);
  max-width: var(--io-header-title-width, 100%);
}

.io-section {
  margin-bottom: token.$space-8;

  &__title {

    .io-layout & {
      margin-bottom: 2.4rem;
    }

  }

  &__content {
    display: grid;
    gap: token.$space-3;
    grid-template-columns: var(--io-section-template, initial);

    &--icon {
      grid-template-columns: repeat(auto-fill, minmax(var(--ico-columns), 1fr));
      grid-gap: 0;
      padding: token.$space-4;
    }

    &--hub {
      grid-template-columns: var(--io-section-hub-template, initial);
    }
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &--grid {
    display: grid;
    gap: var(--io-section-grid-gap);
    grid-template-columns: var(--io-section-grid-template, initial);
  }

  &--hasAside {
    display: var(--io-section-hasAside-display);
    grid-template-columns: var(--io-section-hasAside-template, initial);
  }

  &--tight {
    margin-left: auto;
    margin-right: auto;
    max-width: token.$layout-small;
  }

  &--empty {
    text-align: center;
    margin-top: token.$space-8;
    margin-bottom: token.$space-8;
  }

  &--icons {
    background: token.$grey-100;
    border-radius: token.$radius-1;
    margin: token.$space-10 0;
  }
}

.io-contact {
  display: flex;
  flex-direction: var(--io-contact-direction);
  gap: #{token.$space-3};

  > * {
    flex: 1 1 calc(100% / 2);
  }
}

.io-list {
  font-size: var(--fs-500);
  list-style: none;
  margin: token.$space-2 0 0;
  padding: 0;

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: token.$space-1;
    }
  }
}

.io-aside {
  display: var(--io-aside-display);
  margin-top: token.$space-8 + token.$space-8;
}

.io-tokens {
  &__list {
    margin-top: token.$space-10;
  }
}

.io-empty {
  padding: token.$space-4;
  text-align: center;

  a {
    text-decoration: underline;
  }
}
