@use 'tokens' as token;
@use 'base/media-query' as media;

:root {
  --ico-columns: calc(100% / 4);

  @include media.mq(medium) {
    --ico-columns: calc(100% / 7);
  }
}

.io-layout {
  font-size: token.$text-size;
  width: 100%;
  max-width: token.$max-layout-width;
  margin: 0 auto;
}

.io-link {
  &-icon {
    display: inline-block;
    line-height: 0;
  }

  &-brand {
    width: auto;
  }
}

.io-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0 0 auto 0;
  min-height: token.$navbar-min-height;
  padding: token.$space-2;
  box-shadow: token.$menu-shadow;
  background-color: token.$navbar-bg-color;
  color: token.$navbar-color;
  box-sizing: border-box;
  z-index: 10;

  @include media.mq(medium) {
    padding-inline: token.$space-4;
  }

  > * {
    flex: 1 1 calc(100% / 3)
  }
}

.io-main {
  width: 100%;
  padding-top: token.$navbar-min-height;
}

//.io-hero {
//  margin: var.$size-10 0 var.$size-10 + var.$size-6 0;
//
//  @media (min-width: var.$breakpoint-medium) {
//    &__title {
//      max-width: 70%;
//    }
//  }
//}
//
//.io-section {
//  margin-bottom: var.$size-8;
//
//  &__content {
//    display: grid;
//    gap: var.$size-3;
//
//    @media (min-width: var.$breakpoint-medium) {
//      grid-template-columns: repeat(3, 1fr);
//    }
//
//    &--flex {
//      display: flex;
//      flex-wrap: wrap;
//    }
//
//    &--icon {
//      grid-template-columns: repeat(auto-fill, minmax(var(--ico-columns), 1fr));
//      grid-gap: 0;
//      padding: var.$size-4;
//    }
//  }
//
//  &--grid {
//    display: grid;
//    gap: var.$size-8;
//
//    @media (min-width: var.$breakpoint-medium) {
//      gap: var.$size-3;
//      grid-template-columns: 2fr 1fr;
//    }
//  }
//
//  &--hasAside {
//    display: block;
//
//    @media (min-width: var.$breakpoint-medium) {
//      display: grid;
//      grid-template-columns: 1fr var.$layout-sm 1fr;
//    }
//  }
//
//  &--tight {
//    margin-left: auto;
//    margin-right: auto;
//    max-width: var.$layout-sm;
//  }
//
//  &--empty {
//    text-align: center;
//    margin-top: var.$size-8;
//    margin-bottom: var.$size-8;
//  }
//
//  &--icons {
//    background: var.$c-grey-100;
//    border-radius: var.$br-1;
//    margin: var.$size-10 0;
//  }
//}
//
//.io-container {
//  a {
//    text-decoration: underline;
//  }
//}
//
//.io-contact {
//  > *:not(:first-child) {
//    display: block;
//    margin-top: var.$size-3;
//  }
//}
//
//.io-list {
//  font-size: var.$fs-4;
//  list-style: none;
//  margin: var.$size-2 0 0;
//  padding: 0;
//
//  &__item {
//    display: flex;
//    justify-content: space-between;
//
//    &:not(:first-child) {
//      margin-top: var.$size-1;
//    }
//  }
//}
//
//.io-aside {
//  display: none;
//  margin-top: var.$size-8 + var.$size-8;
//
//  @media (min-width: var.$breakpoint-medium) {
//    display: block;
//  }
//}
//
//.io-tokens {
//  &__list {
//    margin-top: var.$size-10;
//  }
//}
//

//
//.io-empty {
//  padding: var.$size-4;
//  text-align: center;
//
//  a {
//    text-decoration: underline;
//  }
//}
