@use 'abstract/variables';
@use 'tokens' as token;
@use 'base/media-query' as media;

@use 'components';
@use 'layout';
@use 'typography';

@layer igloo-design-system, hopper-icons, hopper-design-system, igloo;

:root {
  --io-scoll-padding: #{token.$space-5};
}

@include media.mq(medium) {
  :root {
    --io-scroll-padding: #{token.$space-8};
  }
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--io-scroll-padding);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  background: token.$body-bg-color;
  color: token.$text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
