$size-0: 0.25rem;
$size-1: 0.5rem;
$size-2: 1rem;
$size-3: 1.5rem;
$size-4: 2rem;
$size-5: 2.5rem;
$size-6: 3rem;
$size-7: 3.5rem;
$size-8: 4rem;
$size-9: 4.5rem;
$size-10: 5rem;

$fs-1: 2rem;
$fs-2: 1.5rem;
$fs-3: 1rem;
$fs-4: 0.875rem;
$fs-5: 0.75rem;
$fs-6: 0.625rem;

$br-1: 0.5rem;

$c-black: #000;
$c-white: #fff;
$c-green: #09a198;
$c-yellow: #ffc737;
$c-grey: #d6d3d1;
