{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["components/**/*.{ts,tsx}", "packages/**/*.{ts,tsx}"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/indent": ["error", 2],
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "error"
      },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ],
  "ignorePatterns": [
    "dist",
    "node_modules",
    "examples",
    "scripts",
    "*/*.d.ts",
    "*/*.test.tsx",
    "*/*.stories.tsx"
  ]
}
