@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-combobox-font-family: #{tokens.$primary-font-family};
  --ids-combobox-font-size: #{tokens.$font-size-4};
  --ids-combobox-font-weight: #{tokens.$font-weight-regular};
  --ids-combobox-line-height: #{tokens.$space-4};
  --ids-combobox-background: #{tokens.$samoyed};
  --ids-combobox-border-color: #{tokens.$grey-300};
  --ids-combobox-border-radius: #{tokens.$border-radius-sm};
  --ids-combobox-number-of-option-to-display: 4;

  /* Compact */
  --ids-combobox-font-size-compact: #{tokens.$font-size-3};
  --ids-combobox-line-height-compact: #{tokens.$line-height-xxl};

  /* Active */
  --ids-combobox-border-color-active: #{tokens.$electric-blue-500};

  /* Disabled */
  --ids-combobox-color-disabled: #{tokens.$grey-500};
  --ids-combobox-background-disabled: #{tokens.$grey-200};
  --ids-combobox-border-color-disabled: #{tokens.$grey-200};

  /* Error */
  --ids-combobox-border-color-error: #{tokens.$coral-500};

  /* No Results */
  --ids-combobox-no-results-color: #{tokens.$grey-600};
  --ids-combobox-no-results-font-size: #{tokens.$font-size-3};
  --ids-combobox-no-results-padding: #{tokens.$space-3};
  --ids-combobox-no-results-line-height: #{tokens.$line-height-xxl};
}

.ids-combobox {
  background: var(--ids-combobox-background);
  border: 1px solid var(--ids-combobox-border-color);
  border-radius: var(--ids-combobox-border-radius);
  cursor: pointer;
  font-size: var(--ids-combobox-font-size);
  font-family: var(--ids-combobox-font-family);
  font-weight: var(--ids-combobox-font-weight);
  line-height: var(--ids-combobox-line-height);
  padding: 0 var(--ids-combobox-padding);
  position: relative;
  box-sizing: border-box;
  transition: border-color 200ms ease 0s;
  user-select: none;

  &,
  & * {
    box-sizing: border-box;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
    border-color: var(--ids-combobox-border-color-active);
  }

  &--compact {
    font-size: var(--ids-combobox-font-size-compact);
    line-height: var(--ids-combobox-line-height-compact);
  }

  &--active,
  &.active {
    border-color: var(--ids-combobox-border-color-active);
  }

  &--disabled {
    color: var(--ids-combobox-color-disabled);
    background: var(--ids-combobox-background-disabled);
    border-color: var(--ids-combobox-border-color-disabled);
    cursor: not-allowed;
  }

  &--error {
    border-color: var(--ids-combobox-border-color-error);
  }
}

.ids-combobox__dropdown {
  max-height: calc(var(--ids-combobox-height) * var(--ids-combobox-number-of-option-to-display));
  overflow: auto;

  &--compact {
    max-height: calc(var(--ids-combobox-height-compact) * var(--ids-combobox-number-of-option-to-display));
  }
}

.ids-combobox__no-results {
  color: var(--ids-combobox-no-results-color);
  font-size: var(--ids-combobox-no-results-font-size);
  line-height: var(--ids-combobox-no-results-line-height);
  padding: var(--ids-combobox-no-results-padding);
}
