@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;

@mixin ids-tag-mixin-decoration(
  $backgroundColor,
  $color,
  $borderColor: transparent
) {
  background: $backgroundColor;
  border: 1px solid $borderColor;
  color: $color;
}

@mixin ids-tag-mixin-size($fontSize, $verticalPadding, $horizontalPadding) {
  font-size: $fontSize;
  padding: $verticalPadding $horizontalPadding;

  .ids-tag__icon {
    margin:
      #{tokens.$space-0}
      calc($horizontalPadding / 1.8)
      #{tokens.$space-0}
      calc($horizontalPadding / -2);
  }

  .ids-tag__dismiss-btn.ids-icon-btn {
    margin:
      #{tokens.$space-0} calc($horizontalPadding / -2) #{tokens.$space-0}
      calc($horizontalPadding / 1.8);
  }
}
