@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;

@mixin ids-tag-mixin-decoration(
  $backgroundColor,
  $color,
  $borderColor: transparent
) {
  background: $backgroundColor;
  border: .1rem solid $borderColor;
  color: $color;
}

@mixin ids-tag-mixin-size($fontSize, $padding, $height, $contentPadding) {
  font-size: $fontSize;
  height: $height;
  padding: $padding;

  .ids-tag__content {
    padding: $contentPadding;
  }
}
