@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';
@use 'mixins';

:root {
  /* Default */
  --ids-tag-border-radius: #{tokens.$border-radius-sm};
  --ids-tag-border-radius-rounded: 4.2rem;
  --ids-tag-border-radius-rounded-medium: 2.5rem;
  --ids-tag-font-family: #{tokens.$primary-font-family};
  --ids-tag-line-height: #{tokens.$line-height-xl};
  --ids-tag-max-width: 24rem;
  --ids-tag-warning-icon-color: #{tokens.$coral-500};

  /* === Appearance === */

  /* Default */
  --ids-tag-background-default: #{tokens.$grey-400};
  --ids-tag-color-default: #{tokens.$grey-800};

  /* Info */
  --ids-tag-background-info: #{tokens.$electric-blue-100};
  --ids-tag-color-info: #{tokens.$electric-blue-600};

  /* Error */
  --ids-tag-background-error: #{tokens.$coral-100};
  --ids-tag-color-error: #{tokens.$coral-900};

  /* Success */
  --ids-tag-background-success: #{tokens.$seaweed-50};
  --ids-tag-color-success: #{tokens.$seaweed-900};

  /* Warning */
  --ids-tag-background-warning: #{tokens.$creamsicle-100};
  --ids-tag-color-warning: #{tokens.$coral-800};

  /* Primary */
  --ids-tag-background-primary: #{tokens.$electric-blue-500};
  --ids-tag-color-primary: #{tokens.$samoyed};

  /* Secondary */
  --ids-tag-background-secondary: #{tokens.$samoyed};
  --ids-tag-color-secondary: #{tokens.$grey-800};
  --ids-tag-border-secondary: #{tokens.$grey-300};
  --ids-tag-secondary-dismiss-btn-color: #{tokens.$grey-600};
  --ids-tag-secondary-dismiss-btn-hover-color: #{tokens.$grey-800};

  /* Grey */
  --ids-tag-background-grey: #{tokens.$grey-200};
  --ids-tag-color-grey: #{tokens.$grey-600};

  /* === Sizes === */

  /* Medium */
  --ids-tag-font-size: #{tokens.$font-size-3};
  --ids-tag-height: #{tokens.$space-5};
  --ids-tag-padding: #{tokens.$space-0} #{tokens.$space-2};
  --ids-tag-content-padding: #{tokens.$space-0} #{tokens.$space-2};

  /* Small */
  --ids-tag-font-size-small: #{tokens.$font-size-2};
  --ids-tag-height-small: #{tokens.$space-4};
  --ids-tag-padding-small: #{tokens.$space-0};

  /* XSmall */
  --ids-tag-height-xsmall: 2rem;

  /* Micro */
  --ids-tag-height-micro: #{tokens.$space-3};

  /* === isError === */
  --ids-tag-border-has-error: #{tokens.$coral-600};
}

.ids-tag {
  align-items: center;
  border-radius: var(--ids-tag-border-radius);
  display: inline-flex;
  font-family: var(--ids-tag-font-family);
  line-height: var(--ids-tag-line-height);

  &,
  & * {
    box-sizing: border-box;
  }

  &__visual {
    color: currentcolor;
  }

  &__content {
    flex: 0 1 auto;
    max-width: var(--ids-tag-max-width);
  }

  &__dismiss-btn.ids-icon-btn {
    color: currentcolor;
    transition: color 0.3s ease-out;
  }

  /* == Appearance == */

  &--default {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-default),
      var(--ids-tag-color-default)
    );
  }

  &--info {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-info),
      var(--ids-tag-color-info)
    );
  }

  &--error {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-error),
      var(--ids-tag-color-error)
    );
  }

  &--success {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-success),
      var(--ids-tag-color-success)
    );
  }

  &--warning {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-warning),
      var(--ids-tag-color-warning)
    );
  }

  &--primary {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-primary),
      var(--ids-tag-color-primary)
    );
  }

  &--secondary {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-secondary),
      var(--ids-tag-color-secondary),
      var(--ids-tag-border-secondary)
    );

    .ids-tag__dismiss-btn.ids-icon-btn {
      color: var(--ids-tag-secondary-dismiss-btn-color);

      &:hover {
        color: var(--ids-tag-secondary-dismiss-btn-hover-color);
      }
    }
  }

  &--grey {
    @include mixins.ids-tag-mixin-decoration(
      var(--ids-tag-background-grey),
      var(--ids-tag-color-grey)
    );
  }

  /* == Rounded == */
  &--rounded {
    border-radius: var(--ids-tag-border-radius-rounded);

    &.ids-tag--medium {
      border-radius: var(--ids-tag-border-radius-rounded-medium);
    }
  }

  /* == isError == */

  &--has-error {
    border-color: var(--ids-tag-border-has-error);
  }

  /* == Sizes == */

  /* Medium */
  &--medium {
    @include mixins.ids-tag-mixin-size(
      var(--ids-tag-font-size),
      var(--ids-tag-padding),
      var(--ids-tag-height),
      var(--ids-tag-content-padding)
    );
  }

  /* Small */
  &--small {
    @include mixins.ids-tag-mixin-size(
      var(--ids-tag-font-size-small),
      var(--ids-tag-padding-small),
      var(--ids-tag-height-small),
      var(--ids-tag-content-padding)
    );
  }

  /* XSmall */
  &--xsmall {
    @include mixins.ids-tag-mixin-size(
      var(--ids-tag-font-size-small),
      var(--ids-tag-padding-small),
      var(--ids-tag-height-xsmall),
      var(--ids-tag-content-padding)
    );
  }

  /* Micro */
  &--micro {
    @include mixins.ids-tag-mixin-size(
      var(--ids-tag-font-size-small),
      var(--ids-tag-padding-small),
      var(--ids-tag-height-micro),
      var(--ids-tag-content-padding)
    );
  }
}
