@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css');
@import url('~@hopper-ui/tokens/tokens.css');

:root {
  /* Default */
  --ids-action-menu-font-family: #{tokens.$primary-font-family};
  --ids-action-menu-font-size: #{tokens.$font-size-4};

  --ids-action-menu-helper-text-size: #{tokens.$font-size-2};
  --ids-action-menu-helper-text-color: #{tokens.$grey-600};
}

[data-brand="workleap"] {
  --ids-action-menu-font-family: var(--hop-body-sm-font-family);
  --ids-action-menu-font-size: var(--hop-body-sm-font-size);

  --ids-action-menu-helper-text-size: var(--hop-body-xs-font-size);
  --ids-action-menu-helper-text-color: var(--hop-neutral-text-weak);
}

.ids-action-menu {
  font-family: var(--ids-action-menu-font-family);
  font-size: var(--ids-action-menu-font-size);
}

.ids-action-menu__helper-text {
  font-size: var(--ids-action-menu-helper-text-size);
  color: var(--ids-action-menu-helper-text-color);
}