@use '~@igloo-ui/tokens/dist/fonts.css';
@import '~@igloo-ui/tokens/dist/base10/variables';

:root {
  /* Default */
  --ids-card-font-family: #{$primary-font-family};
  --ids-card-font-size: #{$font-size-4};
  --ids-card-background: #{$samoyed};
  --ids-card-padding: #{$space-3};
  --ids-card-shadow: 0 1px 6px rgb(35 48 67 / 10%);
  --ids-card-radius: #{$border-radius-sm};

  /* Medium */
  --ids-card-padding-medium: #{$space-4};

  /* Small */
  --ids-card-padding-small: #{$space-3};

  /* xSmall */
  --ids-card-padding-xsmall: 0;
}

.ids-card {
  font-family: var(--ids-card-font-family);
  padding: var(--ids-card-padding);
  background: var(--ids-card-background);
  font-size: var(--ids-card-font-size);
  box-shadow: var(--ids-card-shadow);
  border-radius: var(--ids-card-radius);
}

.ids-card--xsmall {
  padding: var(--ids-card-padding-xsmall);
}

@media (min-width: $breakpoints-sm) {
  :root {
    --ids-card-padding: #{$space-5};
  }

  .ids-card--medium {
    padding: var(--ids-card-padding-medium);
  }

  .ids-card--small {
    padding: var(--ids-card-padding-small);
  }
}
