@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-card-font-family: #{tokens.$primary-font-family};
  --ids-card-font-size: #{tokens.$font-size-4};
  --ids-card-background: #{tokens.$samoyed};
  --ids-card-padding: #{tokens.$space-3};
  --ids-card-shadow: 0 .1rem .6rem rgb(35 48 67 / 10%);
  --ids-card-radius: #{tokens.$border-radius-sm};

  /* Medium */
  --ids-card-padding-medium: #{tokens.$space-4};

  /* Small */
  --ids-card-padding-small: #{tokens.$space-3};

  /* xSmall */
  --ids-card-padding-xsmall: 0;
}

.ids-card {
  font-family: var(--ids-card-font-family);
  padding: var(--ids-card-padding);
  background: var(--ids-card-background);
  font-size: var(--ids-card-font-size);
  box-shadow: var(--ids-card-shadow);
  border-radius: var(--ids-card-radius);
}

.ids-card--xsmall {
  padding: var(--ids-card-padding-xsmall);
}

/* stylelint-disable-next-line media-query-no-invalid */
@media (width >= #{tokens.$breakpoints-sm}) {
  :root {
    --ids-card-padding: #{tokens.$space-5};
  }

  .ids-card--medium {
    padding: var(--ids-card-padding-medium);
  }

  .ids-card--small {
    padding: var(--ids-card-padding-small);
  }
}
