@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css');
@import url('~@hopper-ui/tokens/tokens.css');

:root {
    /* Default */
    --ids-dialog-font-family: #{tokens.$primary-font-family};
    --ids-dialog-font-size: #{tokens.$font-size-4};
    --ids-dialog-max-width: calc(100% - #{tokens.$space-5});
    --ids-dialog-radius: #{tokens.$border-radius-sm};
    --ids-dialog-header-direction: column-reverse;
    --ids-dialog-header-height: auto;
    --ids-dialog-header-font-size: #{tokens.$font-size-6};
    --ids-dialog-header-padding: #{tokens.$space-3} #{tokens.$space-3} #{tokens.$space-2};
    --ids-dialog-content-padding: #{tokens.$space-2} #{tokens.$space-3} #{tokens.$space-3};
    --ids-dialog-sub-title-line-height: #{tokens.$line-height-xxxl};
    --ids-dialog-sub-title-color: #{tokens.$grey-600};
    --ids-dialog-close-margin: #{tokens.$space-0};
    --ids-dialog-close-align: flex-end;
    --ids-dialog-buttons-margin: #{tokens.$space-5} -#{tokens.$space-0} -#{tokens.$space-2};
    --ids-dialog-button-margin: #{tokens.$space-2} #{tokens.$space-0};
    --ids-dialog-button-width: #{tokens.$space-5};
}

[data-brand="workleap"] {
    /* Default */
    --ids-dialog-font-family: var(--hop-body-md-font-family);
    --ids-dialog-font-size: var(--hop-body-md-font-size);
    --ids-dialog-max-width: calc(100% - #{tokens.$space-5});
    --ids-dialog-radius: #{tokens.$border-radius-sm};
    --ids-dialog-header-direction: column-reverse;
    --ids-dialog-header-height: auto;
    --ids-dialog-header-font-size: var(--hop-heading-lg-font-size);
    --ids-dialog-header-padding: #{tokens.$space-3} #{tokens.$space-3} #{tokens.$space-2};
    --ids-dialog-content-padding: #{tokens.$space-2} #{tokens.$space-3} #{tokens.$space-3};
    --ids-dialog-sub-title-line-height: var(--hop-body-md-line-height);
    --ids-dialog-sub-title-color: #{tokens.$grey-600};
    --ids-dialog-close-margin: #{tokens.$space-0};
    --ids-dialog-close-align: flex-end;
    --ids-dialog-buttons-margin: #{tokens.$space-5} -#{tokens.$space-0} -#{tokens.$space-2};
    --ids-dialog-button-margin: #{tokens.$space-2} #{tokens.$space-0};
    --ids-dialog-button-width: #{tokens.$space-5};
}

/* stylelint-disable-next-line media-query-no-invalid */
@media (width >= #{tokens.$breakpoints-sm}) {
    :root {
        --ids-dialog-header-padding: #{tokens.$space-4} #{tokens.$space-4} #{tokens.$space-2};
        --ids-dialog-close-margin: -#{tokens.$space-2} -#{tokens.$space-2} #{tokens.$space-0} #{tokens.$space-0};
        --ids-dialog-content-padding: #{tokens.$space-0} #{tokens.$space-4} #{tokens.$space-4};
        --ids-dialog-buttons-margin: #{tokens.$space-7} -#{tokens.$space-2} #{tokens.$space-0};
        --ids-dialog-button-margin: 0 #{tokens.$space-2};
    }
}

.ids-modal.ids-dialog {
    border-radius: var(--ids-dialog-radius);
    height: auto;
    max-width: var(--ids-dialog-max-width);

    &,
    & * {
        box-sizing: border-box;
    }
}

.ids-dialog.ids-modal--with-title .ids-modal__header,
.ids-dialog.ids-modal--closable .ids-modal__header {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: var(--ids-dialog-header-direction, initial);
    min-height: var(--ids-dialog-header-height);
    padding: var(--ids-dialog-header-padding);
    position: relative;

    &::before {
        display: none;
    }
}

.ids-dialog .ids-modal__title {
    font-size: var(--ids-dialog-header-font-size);
}

.ids-dialog .ids-modal__close {
    align-self: var(--ids-dialog-close-align, initial);
    margin: var(--ids-dialog-close-margin);
}

.ids-dialog .ids-modal__content {
    padding: var(--ids-dialog-content-padding);
}

.ids-dialog__sub-title {
    color: var(--ids-dialog-sub-title-color);
    line-height: var(--ids-dialog-sub-title-line-height);
    text-align: center;
}

.ids-dialog__buttons {
    margin: var(--ids-dialog-buttons-margin);

    /* stylelint-disable-next-line media-query-no-invalid */
    @media (width >= #{tokens.$breakpoints-sm}) {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
    }
}

.ids-dialog__dismiss-btn,
.ids-dialog__validate-btn {
    margin: var(--ids-dialog-button-margin);
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    /* stylelint-disable-next-line media-query-no-invalid */
    @media (width >= #{tokens.$breakpoints-sm}) {
        flex: 1 1 var(--ids-dialog-button-width);
    }
}
