@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-tabs-font-family: #{tokens.$primary-font-family};
  --ids-tabs-font-size: #{tokens.$font-size-4};
  --ids-tabs-margin: #{tokens.$space-0} #{tokens.$space-0} #{tokens.$space-3};

  /* Tab */
  --ids-tabs-tab-button-padding: #{tokens.$space-2};
  --ids-tabs-tab-button-font-size: #{tokens.$font-size-4};
  --ids-tabs-tab-button-font-weight: #{tokens.$font-weight-medium};
  --ids-tabs-tab-button-line-height: #{tokens.$line-height-xxxl};
  --ids-tabs-tab-button-color: #{tokens.$grey-600};
  --ids-tabs-tab-button-hover-color: #{tokens.$electric-blue-500};
  --ids-tabs-tab-button-active-color: #{tokens.$electric-blue-500};
  --ids-tabs-tab-button-after-bottom: #{tokens.$space-2};
  --ids-tabs-tab-button-after-horizontal-space: #{tokens.$space-2};
  --ids-tabs-tab-button-after-height: calc(#{tokens.$space-1} / 2);
  --ids-tabs-tab-button-after-background: #{tokens.$electric-blue-500};

  /* Icons */
  --ids-tabs-tab-icon-margin-left: #{tokens.$space-1};
  --ids-tabs-tab-icon-notification-color: #{tokens.$coral-500};
  --ids-tabs-tab-icon-premium-color: #{tokens.$dandelion-600};

  /* === Inline Style === */

  --ids-tabs-inline-tab-button-font-size: #{tokens.$font-size-3};

  /* Tab */
  --ids-tabs-inline-tab-button-padding: calc(#{tokens.$space-1} + #{tokens.$space-2}) #{tokens.$space-3};
  --ids-tabs-inline-tab-button-after-bottom: #{tokens.$space-0};
  --ids-tabs-inline-tab-button-after-height: #{tokens.$space-1};
  --ids-tabs-inline-tab-button-after-horizontal-space: #{tokens.$space-0};
}

.ids-tabs {
  $self: &;

  font-family: var(--ids-tabs-font-family);
  font-size: var(--ids-tabs-font-size);

  &__list {
    display: flex;
    list-style: none;
    margin: var(--ids-tabs-margin);
    padding: 0;
  }

  &__tab-button {
    align-items: center;
    background: none;
    border: none;
    color: var(--ids-tabs-tab-button-color);
    cursor: pointer;
    display: flex;
    font-size: var(--ids-tabs-tab-button-font-size);
    font-weight: var(--ids-tabs-tab-button-font-weight);
    line-height: var(--ids-tabs-tab-button-line-height);
    padding: var(--ids-tabs-tab-button-padding);
    position: relative;
    text-decoration: none;

    &:hover {
      color: var(--ids-tabs-tab-button-hover-color);
    }

    &::after {
      bottom: var(--ids-tabs-tab-button-after-bottom);
      content: '';
      height: var(--ids-tabs-tab-button-after-height);
      left: var(--ids-tabs-tab-button-after-horizontal-space);
      position: absolute;
      right: var(--ids-tabs-tab-button-after-horizontal-space);
    }
  }

  &__tab {
    &--active {
      #{ $self }__tab-button {
        color: var(--ids-tabs-tab-button-active-color);

        &::after {
          background: var(--ids-tabs-tab-button-after-background);
        }
      }
    }
  }

  &__tab-icon {
    margin-left: var(--ids-tabs-tab-icon-margin-left);
  }

  &__bullet-icon {
    color: var(--ids-tabs-tab-icon-notification-color);
  }

  &__crown-icon {
    color: var(--ids-tabs-tab-icon-premium-color);
  }

  /* === Inline Styles === */

  &--inline {

    #{ $self }__tab-button {
      font-size: var(--ids-tabs-inline-tab-button-font-size);
      padding: var(--ids-tabs-inline-tab-button-padding);

      &::after {
        bottom: var(--ids-tabs-inline-tab-button-after-bottom);
        height: var(--ids-tabs-inline-tab-button-after-height);
        left: var(--ids-tabs-inline-tab-button-after-horizontal-space);
        right: var(--ids-tabs-inline-tab-button-after-horizontal-space);
      }
    }
  }
}
