@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css');
@import url('~@hopper-ui/tokens/tokens.css');

:root {
    /* Default */
    --ids-input-height: #{tokens.$space-6};
    --ids-input-font-family: #{tokens.$primary-font-family};
    --ids-input-font-weight: #{tokens.$font-weight-regular};
    --ids-input-padding: #{tokens.$space-3};
    --ids-input-font-size: #{tokens.$font-size-4};
    --ids-input-line-height: #{tokens.$space-4};
    --ids-input-border-radius: #{tokens.$border-radius-sm};
    --ids-input-border-color: #{tokens.$grey-300};
    --ids-input-border-size: .1rem;
    --ids-input-background: #{tokens.$samoyed};
    --ids-input-margin: #{tokens.$space-0};

    /* Compact */
    --ids-input-height-compact: #{tokens.$space-5};
    --ids-input-font-size-compact: #{tokens.$font-size-3};
    --ids-input-line-height-compact: #{tokens.$line-height-xxl};
    --ids-input-letter-spacing-compact: #{tokens.$font-weight-regular};

    /* with icon */
    --ids-input-color-icon: #{tokens.$grey-400};
    --ids-input-color-icon-compact: #{tokens.$grey-800};

    /* with prefix icon */
    --ids-input-width-prefix: #{tokens.$space-7};
    --ids-input-width-prefix-compact: #{tokens.$space-6};
    --ids-input-padding-prefix: #{tokens.$space-2} #{tokens.$space-2} #{tokens.$space-2} #{tokens.$space-3};

    /* with suffix icon */
    --ids-input-width-suffix: #{tokens.$space-7};
    --ids-input-width-suffix-compact: #{tokens.$space-6};
    --ids-input-padding-suffix: #{tokens.$space-2} #{tokens.$space-3} #{tokens.$space-2} #{tokens.$space-2};

    /* With character indicator */
    --ids-input-padding-character-indicator: #{tokens.$space-1} #{tokens.$space-3} #{tokens.$space-1} #{tokens.$space-2};
    --ids-input-width-character-indicator: #{tokens.$space-6};
    --ids-input-font-size-character-indicator: #{tokens.$font-size-2};
    --ids-input-min-width-character-indicator: #{tokens.$space-4};
    --ids-input-width-character-indicator-suffix: #{tokens.$space-9};
    --ids-input-width-character-indicator-suffix-compact: #{tokens.$space-8};

    /* Placeholder */
    --ids-input-color-placeholder: #{tokens.$grey-400};

    /* Hover */
    --ids-input-border-color-hover: #{tokens.$grey-600};

    /* Focus */
    --ids-input-border-color-focus: #{tokens.$electric-blue-500};

    /* Active */
    --ids-input-border-color-active: #{tokens.$electric-blue-500};

    /* disabled */
    --ids-input-color-disabled: #{tokens.$grey-500};
    --ids-input-background-disabled: #{tokens.$grey-250};
    --ids-input-border-color-disabled: #{tokens.$grey-250};

    /* Error */
    --ids-input-border-color-error: #{tokens.$coral-500};
}

[data-brand="workleap"] {
    /* Default */
    --ids-input-height: 2.5rem;
    --ids-input-font-family: var(--hop-body-md-font-family);
    --ids-input-font-weight: var(--hop-body-md-font-weight);
    --ids-input-padding: var(--hop-space-inline-md);
    --ids-input-font-size: var(--hop-body-md-font-size);
    --ids-input-line-height: var(--hop-body-md-line-height);
    --ids-input-border-radius: var(--hop-shape-rounded-md);
    --ids-input-border-color: var(--hop-neutral-border);
    --ids-input-border-size: 0.0625rem;
    --ids-input-background: var(--hop-neutral-surface);

    /* Compact */
    --ids-input-height-compact: 2rem;
    --ids-input-font-size-compact: var(--hop-body-sm-font-size);
    --ids-input-line-height-compact: var(--hop-space-inline-sm);

    /* with icon */
    --ids-input-color-icon: var(--hop-neutral-icon-weak);
    --ids-input-color-icon-compact: var(--hop-neutral-icon-weak);

    /* with prefix icon */
    --ids-input-width-prefix: 2.5rem;
    --ids-input-width-prefix-compact: 2rem;
    --ids-input-padding-prefix: var(--hop-space-stack-sm);

    /* with suffix icon */
    --ids-input-width-suffix: 3rem;
    --ids-input-width-suffix-compact: 3rem;
    --ids-input-padding-suffix: var(--hop-space-stack-sm) var(--hop-space-stack-md);

    /* Hover */
    --ids-input-border-color-hover: var(--hop-neutral-border-hover);
    --ids-input-background-hover: var(--hop-neutral-surface-hover);

    /* Focus */
    --ids-input-border-color-focus: var(--hop-neutral-border-hover);
    --ids-input-focus: 0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.219rem var(--hop-primary-border-focus);

    /* Active */
    --ids-input-border-color-active: var(--hop-neutral-border-active);

    /* disabled */
    --ids-input-color-disabled: var(--hop-neutral-text-disabled);
    --ids-input-background-disabled: var(--hop-neutral-surface-disabled);
    --ids-input-border-color-disabled: var(--hop-neutral-border-disabled);

    /* Error */
    --ids-input-border-color-error: var(--hop-danger-border-strong);

    /* With character indicator */
    --ids-input-padding-character-indicator: var(--hop-space-stack-xs) var(--hop-space-inline-md) var(--hop-space-stack-xs) var(--hop-space-inline-sm);
    --ids-input-width-character-indicator: 2.5rem;
    --ids-input-font-size-character-indicator: var(--hop-body-xs-font-size);
    --ids-input-min-width-character-indicator: 2rem;
    --ids-input-width-character-indicator-suffix: 4rem;
    --ids-input-width-character-indicator-suffix-compact: 5rem;
}

%ids-input-asset {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    color: var(--ids-input-color-icon);
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.ids-input {
    height: var(--ids-input-height);
    width: 100%;
    padding: 0 var(--ids-input-padding);
    font-size: var(--ids-input-font-size);
    font-family: var(--ids-input-font-family);
    font-weight: var(--ids-input-font-weight);
    line-height: var(--ids-input-line-height);
    background-color: var(--ids-input-background);
    border: var(--ids-input-border-size) solid var(--ids-input-border-color);
    border-radius: var(--ids-input-border-radius);
    box-sizing: border-box;
    appearance: textfield;
    transition: border-color .2s ease 0s;
    margin: var(--ids-input-margin);

    &:hover {
        border-color: var(--ids-input-border-color-hover);
        background-color: var(--ids-input-background-hover, var(--ids-input-background) );
    }
}

.ids-input__wrapper {
    font-family: var(--ids-input-font-family);
    position: relative;
}

.ids-input__asset-wrapper {
    @extend %ids-input-asset;

    right: 0;
}

.ids-input__asset {
    &--prefix {
        @extend %ids-input-asset;

        left: 0;
        width: var(--ids-input-width-prefix);
        padding: var(--ids-input-padding-prefix);
    }

    &--suffix {
        @extend %ids-input-asset;

        padding: var(--ids-input-padding-suffix);
        position: relative;
        width: var(--ids-input-width-suffix);

        .ids-input__asset-wrapper--has-char-indicator & {
            padding-right: 0;
            width: auto;
        }
    }
}

.ids-input__char-indicator {
    font-size: var(--ids-input-font-size-character-indicator);
    min-width: var(--ids-input-min-width-character-indicator);
    padding: var(--ids-input-padding-character-indicator);
    text-align: right;
}

.ids-input--has-char-indicator {
    padding-right: var(--ids-input-width-character-indicator);
}

.ids-input--prefixIcon {
    padding-left: var(--ids-input-width-prefix);
}

.ids-input--suffixIcon {
    padding-right: var(--ids-input-width-suffix);
}

.ids-input--has-char-indicator.ids-input--suffixIcon {
    padding-right: var(--ids-input-width-character-indicator-suffix);
}

.ids-input__asset--prefix--compact {
    color: var(--ids-input-color-icon-compact);
    width: var(--ids-input-width-prefix-compact);
}

.ids-input__asset--suffix--compact {
    color: var(--ids-input-color-icon-compact);
    width: var(--ids-input-width-suffix-compact);
}

.ids-input--compact.ids-input--prefixIcon {
    padding-left: var(--ids-input-width-prefix-compact);
}

.ids-input--compact.ids-input--suffixIcon {
    padding-right: var(--ids-input-width-prefix-compact);
}

.ids-input--compact.ids-input--has-char-indicator.ids-input--suffixIcon {
    padding-right: var(--ids-input-width-character-indicator-suffix-compact);
}

.ids-input--compact {
    height: var(--ids-input-height-compact);
    font-size: var(--ids-input-font-size-compact);
    line-height: var(--ids-input-line-height-compact);
    letter-spacing: var(--ids-input-letter-spacing-compact);
}

.ids-input[type='password'] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ids-input::-ms-clear {
    display: none;
}

.ids-input::placeholder {
    color: var(--ids-input-color-placeholder);
}

.ids-input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
}

.ids-input--error {
    border-color: var(--ids-input-border-color-error);
}

.ids-input:focus,
.ids-input.focus,{
    outline: 0;
    outline-offset: 0;
    border: .1rem solid var(--ids-input-border-color-focus);
    box-shadow: var(--ids-input-focus, none);
}

.ids-input:active,
.ids-input.active {
    outline: 0;
    outline-offset: 0;
    border: .1rem solid var(--ids-input-border-color-active);
}

.ids-input:disabled,
.ids-input--disabled {
    color: var(--ids-input-color-disabled);
    background-color: var(--ids-input-background-disabled);
    border-color: var(--ids-input-border-color-disabled);
    cursor: not-allowed;

    &:hover {
        border-color: var(--ids-input-border-color-disabled);
        background-color: var(--ids-input-background-disabled);
    }
}

.ids-input--disabled:active,
.ids-input--disabled.active,
.ids-input--disabled:focus,
.ids-input--disabled.focus {
    border-color: var(--ids-input-border-color-disabled);
}
