@use '~@igloo-ui/tokens/dist/fonts.css';
@import '~@igloo-ui/tokens/dist/base10/variables';

:root {
  /* Default */
  --ids-input-height: #{$space-6};
  --ids-input-font-family: #{$primary-font-family};
  --ids-input-font-weight: #{$font-weight-regular};
  --ids-input-padding: #{$space-3};
  --ids-input-font-size: #{$font-size-4};
  --ids-input-line-height: #{$space-4};
  --ids-input-border-radius: #{$border-radius-sm};
  --ids-input-border-color: #{$grey-300};
  --ids-input-background: #{$samoyed};
  --ids-input-margin: #{$space-1} #{$space-0};

  /* Compact */
  --ids-input-height-compact: #{$space-5};
  --ids-input-font-size-compact: #{$font-size-3};
  --ids-input-line-height-compact: #{$line-height-xxl};
  --ids-input-letter-spacing-compact: #{$font-weight-regular};

  /* with icon */
  --ids-input-color-prefix: #{$grey-400};
  --ids-input-color-prefix-compact: #{$grey-800};
  --ids-input-width-prefix: #{$space-7};
  --ids-input-width-prefix-compact: #{$space-6};
  --ids-input-padding-prefix: #{$space-2} #{$space-2} #{$space-2} #{$space-3};

  /* Placeholder */
  --ids-input-color-placeholder: #{$grey-400};

  /* Hover */
  --ids-input-border-color-hover: #{$grey-500};

  /* Active */
  --ids-input-border-color-active: #{$electric-blue-500};

  /* disabled */
  --ids-input-color-disabled: #{$grey-500};
  --ids-input-background-disabled: #{$grey-250};
  --ids-input-border-color-disabled: #{$grey-250};

  /* Error */
  --ids-input-border-color-error: #{$coral-500};
}

.ids-input {
  height: var(--ids-input-height);
  width: 100%;
  padding: 0 var(--ids-input-padding);
  font-size: var(--ids-input-font-size);
  font-family: var(--ids-input-font-family);
  font-weight: var(--ids-input-font-weight);
  line-height: var(--ids-input-line-height);
  background-color: var(--ids-input-background);
  border: 1px solid var(--ids-input-border-color);
  border-radius: var(--ids-input-border-radius);
  box-sizing: border-box;
  appearance: textfield;
  transition: border-color 200ms ease 0s;
  margin: var(--ids-input-margin);
}

.ids-input__wrapper {
  position: relative;
}

.ids-input__asset {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: var(--ids-input-color-prefix);
  height: 100%;
  width: var(--ids-input-width-prefix);
  padding: var(--ids-input-padding-prefix);
  box-sizing: border-box;
}

.ids-input--prefixIcon {
  padding-left: var(--ids-input-width-prefix);
}

.ids-input__asset--compact {
  color: var(--ids-input-color-prefix-compact);
  width: var(--ids-input-width-prefix-compact);
}

.ids-input__asset--compact + .ids-input--prefixIcon {
  padding-left: var(--ids-input-width-prefix-compact);
}

.ids-input--compact {
  height: var(--ids-input-height-compact);
  font-size: var(--ids-input-font-size-compact);
  line-height: var(--ids-input-line-height-compact);
  letter-spacing: var(--ids-input-letter-spacing-compact);
}

.ids-input[type='password'] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ids-input::-ms-clear {
  display: none;
}

.ids-input::placeholder {
  color: var(--ids-input-color-placeholder);
}

.ids-input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.ids-input--error {
  border-color: var(--ids-input-border-color-error);
}

.ids-input:focus,
.ids-input.focus,
.ids-input:active,
.ids-input.active {
  outline: 0;
  outline-offset: 0;
  border: 1px solid var(--ids-input-border-color-active);
}

.ids-input:disabled,
.ids-input--disabled {
  color: var(--ids-input-color-disabled);
  background-color: var(--ids-input-background-disabled);
  border-color: var(--ids-input-border-color-disabled);
  cursor: not-allowed;
}
