@import "~@igloo-ui/tokens/dist/variables.css";
@import "~@igloo-ui/tokens/dist/fonts.css";

:root {
  --white: #fff;

  /* Default */
  --ids-input-font-family: var(--primary-font-family);
  --ids-input-padding: var(--space-3);
  --ids-input-font-size: var(--font-size-4);
  --ids-input-line-height: var(--space-4);
  --ids-input-border-radius: var(--border-radius-sm);

  /* Small */
  --ids-input-height-small: var(--space-5);
  --ids-input-font-weight: var(--font-weight-regular);
  --ids-input-font-size-small: var(--font-size-3);
  --ids-input-font-style-small: var(--font-weight-regular);
  --ids-input-font-stretch-small: var(--font-weight-regular);
  --ids-line-height-small: var(--line-height-xxl);
  --ids-letter-spacing-small: var(--font-weight-regular);

  /* Medium */
 --ids-input-height: var(--space-6);
}

.ids-input {
  width: 100%;
  padding: 0 var(--ids-input-padding);
  font-size: var(--ids-input-font-size);
  font-family: var(--ids-input-font-family);
  line-height: var(--ids-input-line-height);
  background-color: var(--white);
  border: 1px solid  var(--grey-300);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: var(--ids-input-border-radius);
  appearance: textfield;
  transition: border-color 200ms ease 0s;
}

.ids-input--small {
  height: var(--ids-input-height-small);
  font-weight: var(--ids-input-font-weight-small);
  font-size: var(--ids-input-font-size-small);
  font-style: var(--ids-input-font-style-small);
  font-stretch: var(--ids-input-font-stretch-small);
  line-height: var(--ids-line-height-small);
  letter-spacing: var(--ids-letter-spacing-small);
}

.ids-input--medium {
  height: var(--ids-input-height-medium);
}

.ids-input[type="password"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ids-input::-ms-clear {
  display: none;
}

.ids-input::placeholder {
  color: var(--grey-400);
}

.ids-input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.ids-input:hover {
  border-color: var(--grey-500);
}

.ids-input:focus,
.ids-input.focus {
  border-color: var(--electric-blue-500);
  outline: 0;
  outline-offset: 0;
}

.ids-input:disabled,
.ids-input--readonly {
  color: var(--grey-600);
  background-color: var(--grey-200);
  border-color: var(--grey-200);
  cursor: not-allowed;
}

.ids-input--readonly {
  cursor: default;
}

.ids-input.error {
  border-color: var(--coral-500);
}
