@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css');
@import url('~@hopper-ui/tokens/tokens.css');

:root {
    // Calculation of the width of the datepicker to obtain a square cell
  --ids-datepicker-cell-size: #{tokens.$space-6};
  --ids-datepicker-cell-number: 7;
  --ids-datepicker-cell-border: .2rem;
  --ids-datepicker-cell-empty-border: calc(6 * .05rem);

  /* Default */
  --ids-datepicker-outline: none;
  --ids-datepicker-font-family: #{tokens.$primary-font-family};
  --ids-datepicker-font-size: #{tokens.$font-size-4};
  --ids-datepicker-width: calc(var(--ids-datepicker-cell-number) * var(--ids-datepicker-cell-size) - var(--ids-datepicker-cell-border) - var(--ids-datepicker-cell-empty-border));
  --ids-datepicker-color-disabled: #{tokens.$grey-600};
  --ids-datepicker-table-width: 100%;
  --ids-datepicker-table-margin: #{tokens.$space-3};
  --ids-datepicker-table-border: .1rem solid #{tokens.$grey-250};
  --ids-datepicker-table-border-radius: 0;
  --ids-datepicker-thead-font-size: #{tokens.$font-size-3};
  --ids-datepicker-thead-font-weight: 400;
  --ids-datepicker-thead-line-height: 1.25;
  --ids-datepicker-thead-color: #{tokens.$electric-blue-500};
  --ids-datepicker-tbody-outline: 0 solid transparent;
  --ids-datepicker-tbody-outline-offset: 0;
  --ids-datepicker-tbody-radius: 0;
  --ids-datepicker-content-today-outline: none;
  --ids-datepicker-content-today-outline-offset: 0;
  --ids-datepicker-thead-space: #{tokens.$space-2};
  --ids-datepicker-title-font-size: #{tokens.$font-size-5};
  --ids-datepicker-title-line-height: 1.333;
  --ids-datepicker-content-color-today: #{tokens.$electric-blue-500};
  --ids-datepicker-content-background-hover: #{tokens.$electric-blue-600};
  --ids-datepicker-content-color: #{tokens.$black};
  --ids-datepicker-content-color-hover: #{tokens.$samoyed};
  --ids-datepicker-content-background-selected: #{tokens.$electric-blue-500};
  --ids-datepicker-content-color-selected: #{tokens.$samoyed};
  --ids-datepicker-content-line-height: 3.8rem;
  --ids-datepicker-margin-offset: -0.1rem;
  --ids-datepicker-content-focus: #{tokens.$electric-blue-600} solid .15rem;
  --ids-datepicker-content-focus-offset: 0;

  // Disabled state
  --ids-datepicker-disabled-background-selected: #51a0fa;
  --ids-datepicker-color-disabled-selected: #{tokens.$samoyed};
  --ids-datepicker-disabled-table-border: .1rem solid #eff1f5;
}

[data-brand="workleap"] {
    // Calculation of the width of the datepicker to obtain a square cell
  --ids-datepicker-cell-size: 2.5rem;
  --ids-datepicker-cell-number: 7;

  /* Default */
  --ids-datepicker-outline: 1px solid var(--hop-neutral-border-weak);
  --ids-datepicker-font-family: var(--hop-body-sm-font-family);
  --ids-datepicker-font-size: var(--hop-body-sm-font-size);
  --ids-datepicker-width: calc(var(--ids-datepicker-cell-number) * var(--ids-datepicker-cell-size));
  --ids-datepicker-color-disabled: var(--hop-neutral-text-disabled);
  --ids-datepicker-table-width: 100%;
  --ids-datepicker-table-margin: var(--hop-space-inset-sm);
  --ids-datepicker-table-border: transparent;
  --ids-datepicker-table-border-radius: var(--hop-shape-circle);
  --ids-datepicker-thead-font-size: var(--hop-body-sm-font-size);
  --ids-datepicker-thead-font-weight: var(--hop-body-sm-font-weight);
  --ids-datepicker-thead-line-height: var(--hop-body-sm-line-height);
  --ids-datepicker-thead-color: var(--hop-neutral-text);
  --ids-datepicker-tbody-outline: 0.0625rem solid var(--hop-neutral-border);
  --ids-datepicker-tbody-outline-offset: 0.125rem;
  --ids-datepicker-tbody-radius: var(--hop-shape-rounded-md);
  --ids-datepicker-thead-space: calc(0.5rem + 0.125rem);
  --ids-datepicker-title-font-size: var(--hop-body-lg-font-size);
  --ids-datepicker-title-line-height: var(--hop-body-lg-line-height);
  --ids-datepicker-content-color-today: var(--hop-neutral-text);
  --ids-datepicker-content-today-outline: 0.125rem solid var(--hop-neutral-border-strong);
  --ids-datepicker-content-today-outline-offset: -0.125rem;
  --ids-datepicker-content-background-hover: var(--hop-neutral-surface-hover);
  --ids-datepicker-content-color: var(--hop-neutral-text);
  --ids-datepicker-content-color-hover: var(--hop-neutral-text-hover);
  --ids-datepicker-content-background-selected: var(--hop-neutral-surface-active);
  --ids-datepicker-content-color-selected: var(--hop-neutral-text-active);
  --ids-datepicker-content-line-height: 2.5rem;
  --ids-datepicker-margin-offset: 0;
  --ids-datepicker-content-focus: var(--hop-primary-border-focus) solid 0.125rem;
  --ids-datepicker-content-focus-offset: -0.125rem;

  // Disabled state
  --ids-datepicker-disabled-background-selected: var(--hop-neutral-surface-disabled);
  --ids-datepicker-color-disabled-selected: var(--hop-neutral-text-disabled);
  --ids-datepicker-disabled-table-border: 0;
}

%active-date {
  background: var(--ids-datepicker-content-background-selected);
  color: var(--ids-datepicker-content-color-selected);
}

.ids-datepicker {
  font-family: var(--ids-datepicker-font-family);
  font-size: var(--ids-datepicker-font-size);
  width: var(--ids-datepicker-width);

  &__dropdown {
    outline: var(--ids-datepicker-outline);
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 1 100%;
    font-size: var(--ids-datepicker-title-font-size);
    line-height: var(--ids-datepicker-title-line-height);
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    order: 1;
  }

  &__prev {
    order: 0;
  }

  &__next {
    order: 2;
  }

  &__table {
    width: var(--ids-datepicker-table-width);
    margin-top: var(--ids-datepicker-table-margin);
    border-spacing: 0;
    border-collapse: collapse;
  }

  &__thead {
    font-size: var(--ids-datepicker-thead-font-size);
    line-height: var(--ids-datepicker-thead-line-height);
    color: var(--ids-datepicker-thead-color);

    &::after {
      content: '';
      display: block;
      height: var(--ids-datepicker-thead-space);
    }
  }

  &__head {
    font-weight: var(--ids-datepicker-thead-font-weight);
    border-bottom: var(--ids-datepicker-table-border);
    margin-bottom: var(--ids-datepicker-thead-space);
  }

  &__body {
    outline: var(--ids-datepicker-tbody-outline);
    outline-offset: var(--ids-datepicker-tbody-outline-offset);
    border-radius: var(--ids-datepicker-tbody-radius);
  }

  &__cell {
    cursor: default;
    text-align: center;
    padding: 0;

    &:focus-visible {
      outline: none;
    }
  }

  &__action {
    margin-top: var(--ids-datepicker-table-margin);
  }
}

.ids-datepicker__content {
  line-height: var(--ids-datepicker-content-line-height);
  border: var(--ids-datepicker-table-border);
  border-radius: var(--ids-datepicker-table-border-radius);
  color: var(--ids-datepicker-content-color);
  margin-right: var(--ids-datepicker-margin-offset);
  margin-top: var(--ids-datepicker-margin-offset);

  &:hover {
    color: var(--ids-datepicker-content-color-hover);
    background-color: var(--ids-datepicker-content-background-hover);
    cursor: pointer;
  }

  &:focus-visible {
    outline: var(--ids-datepicker-content-focus);
    outline-offset: var(--ids-datepicker-content-focus-offset);
  }

  &--today {
    color: var(--ids-datepicker-content-color-today);
    outline: var(--ids-datepicker-content-today-outline);
    outline-offset: var(--ids-datepicker-content-today-outline-offset);
  }

  &--selected {
    @extend %active-date;

    &[aria-invalid='true'] {
      @extend %active-date;
    }

    &.ids-datepicker__content--selected {
      color: var(--ids-datepicker-content-color-selected);
    }

    &.ids-datepicker__content--selected:hover {
      cursor: default;
      background: var(--ids-datepicker-content-background-selected);
    }
  }

  &[aria-disabled='true']:hover {
    cursor: not-allowed;
  }

  &--unavailable,
  &--disabled {
    --ids-datepicker-table-border: var(--ids-datepicker-disabled-table-border);

    cursor: not-allowed;
    color: var(--ids-datepicker-color-disabled);

    &:hover {
      color: var(--ids-datepicker-color-disabled);
      background: transparent;
    }

    &.ids-datepicker__content.ids-datepicker__content--selected {
        color: var(--ids-datepicker-color-disabled-selected);
        background: var(--ids-datepicker-disabled-background-selected);
    }

    &.ids-datepicker__content--selected:hover {
      @extend %active-date;
    }
  }

  &--disabled.ids-datepicker__content--today {
    color: var(--ids-datepicker-color-disabled);

    &.ids-datepicker__content--selected {
      color: var(--ids-datepicker-color-disabled);
      background: var(--ids-datepicker-disabled-background-selected);
    }

    &:hover {
      color: var(--ids-datepicker-color-disabled);
      background: transparent;
    }

    &.ids-datepicker__content--selected:hover {
      @extend %active-date;
    }
  }
}

.ids-datepicker__input:hover {
    cursor: pointer;
}
