@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;

@layer igloo {
    @mixin fancy-webkit-scrollbar(
      $border-color: #{tokens.$samoyed},
      $scrollbar-color: #{tokens.$grey-300},
      $scrollbar-size: 1rem) {
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: $scrollbar-size;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-color;
        border: 0.2rem solid $border-color;
        border-radius: #{tokens.$border-radius-md};
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
}
