@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

@layer igloo {
    :root {
        /* Default */
        --ids-tag-picker-border-size: 0.1rem;
        --ids-tag-picker-border-color: #{tokens.$grey-400};
        --ids-tag-picker-border-color-hover: #{tokens.$grey-600};
        --ids-tag-picker-border-color-focus: #{tokens.$electric-blue-500};
        --ids-tag-picker-border-color-error: #{tokens.$coral-500};
        --ids-tag-picker-border-radius: #{tokens.$border-radius-sm};
        --ids-tag-picker-font-family: #{tokens.$primary-font-family};
        --ids-tag-picker-font-size: #{tokens.$font-size-4};
        --ids-tag-picker-background-disabled: #{tokens.$grey-250};
        --ids-tag-picker-background-hover: transparent;
        --ids-tag-picker-border-disabled: #{tokens.$grey-250};
        --ids-tag-picker-height: #{tokens.$space-6};

        /* Search icon */
        --ids-tag-picker-search-icon-color: #{tokens.$grey-400};
        --ids-tag-picker-search-icon-margin: 0 #{tokens.$space-2} 0 #{tokens.$space-3};

        /* Search input */
        --ids-tag-picker-input-min-width: 0.2rem;
        --ids-tag-picker-input-disabled-padding: 0;
        --ids-tag-picker-input-offset: var(--ids-tag-picker-content-padding-vertical) * 2;
        --ids-tag-picker-input-height: calc(#{tokens.$space-5} - var(--ids-tag-picker-input-offset));

        /* Tag */
        --ids-tag-picker-tag-gap: #{tokens.$space-1};

        /* Dropdown */
        --ids-tag-picker-dropdown-loading-width: 45rem;

        /* Results */
        --ids-tag-picker-content-padding-vertical: #{tokens.$space-1};
        --ids-tag-picker-content-padding-selected: calc(var(--ids-tag-picker-content-padding-vertical) - var(--ids-tag-picker-border-size)) #{tokens.$space-2};
        --ids-tag-picker-results-padding: #{tokens.$space-2} 0;
        --ids-tag-picker-results-min-width: 24rem;

        /* No Results */
        --ids-tag-picker-no-results-padding: #{tokens.$space-2};
        --ids-tag-picker-no-results-color: #{tokens.$grey-600};
    }

    [data-brand="workleap"] {
        /* Default */
        --ids-tag-picker-border-size: 0.0625rem;
        --ids-tag-picker-border-color: var(--hop-neutral-border);
        --ids-tag-picker-border-color-hover: var(--hop-neutral-border-hover);
        --ids-tag-picker-border-color-focus: var(--hop-primary-border-focus);
        --ids-tag-picker-border-color-error: var(--hop-danger-border-strong);
        --ids-tag-picker-border-radius: var(--hop-shape-rounded-md);
        --ids-tag-picker-font-family: var(--hop-body-md-font-family);
        --ids-tag-picker-font-size: var(--hop-body-md-font-size);
        --ids-tag-picker-background-hover: var(--hop-neutral-surface-hover);
        --ids-tag-picker-background-disabled: var(--hop-neutral-surface-disabled);
        --ids-tag-picker-border-disabled: var(--hop-neutral-border-disabled);
        --ids-tag-picker-height: 2.5rem;

        /* Search icon */
        --ids-tag-picker-search-icon-color: var(--hop-neutral-icon-weakest);
        --ids-tag-picker-search-icon-margin: 0 var(--hop-space-inline-sm) 0 var(--hop-space-inline-md);

        /* Search input */
        --ids-tag-picker-input-min-width: 0.125rem;
        --ids-tag-picker-input-disabled-padding: var(--hop-space-inset-xs) 0;
        --ids-tag-picker-input-height: calc(2.5rem - var(--ids-tag-picker-input-offset));

        /* Tag */
        --ids-tag-picker-tag-gap: var(--hop-space-inset-xs);

        /* Dropdown */
        --ids-tag-picker-dropdown-loading-width: 28rem;

        /* Results */
        --ids-tag-picker-content-padding-vertical: var(--hop-space-inset-sm);
        --ids-tag-picker-content-padding-selected: calc(var(--ids-tag-picker-content-padding-vertical) - var(--ids-tag-picker-border-size)) var(--hop-space-inset-md);
        --ids-tag-picker-results-padding: var(--hop-space-inset-sm);
        --ids-tag-picker-results-min-width: 15rem;

        /* No Results */
        --ids-tag-picker-no-results-padding: var(--hop-space-inset-sm);
        --ids-tag-picker-no-results-color: var(--hop-neutral-text-weak);
    }

    .ids-tag-picker {
        border: var(--ids-tag-picker-border-size) solid var(--ids-tag-picker-border-color);
        border-radius: var(--ids-tag-picker-border-radius);
        font-family: var(--ids-tag-picker-font-family);
        font-size: var(--ids-tag-picker-font-size);
        min-height: var(--ids-tag-picker-height);
        overflow: auto;

        &,
        & * {
            box-sizing: border-box;
        }

        &--error {
            border-color: var(--ids-tag-picker-border-color-error);
        }

        &--focused {
            border-color: var(--ids-tag-picker-border-color-focus);
        }

        &--disabled {
            background: var(--ids-tag-picker-background-disabled);
            border-color: var(--ids-tag-picker-border-disabled);
            cursor: not-allowed;
        }

        &:hover:not(.ids-tag-picker--disabled) {
            background-color: var(--ids-tag-picker-background-hover);
        }

        &:hover:not(.ids-tag-picker--disabled, .ids-tag-picker--focused) {
            border-color: var(--ids-tag-picker-border-color-hover);
        }

        &:hover:not(.ids-tag-picker--disabled) .ids-tag-picker__input {
            background-color: var(--ids-tag-picker-background-hover);
        }

        .ids-dropdown__container {
            display: block;
        }
    }

    .ids-tag-picker__content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--ids-tag-picker-tag-gap);
        min-height: var(--ids-tag-picker-height);
        overflow: hidden;

        .ids-tag-picker--has-selected & {
            padding: var(--ids-tag-picker-content-padding-selected);
        }
    }

    .ids-tag-picker__tag {
        flex: 0 0 auto;
    }

    .ids-tag-picker__input-wrapper {
        align-items: center;
        display: flex;
        font-size: var(--ids-tag-picker-font-size);
        flex: 1 1 auto;
        position: relative;
        visibility: visible;
    }

    .ids-tag-picker--has-selected .ids-tag-picker__input-wrapper {
        display: inline-grid;
        grid-template-columns: 0 min-content;

        &::after {
            content: attr(data-value);
            grid-area: 1 / 2 / auto / auto;
            min-width: var(--ids-tag-picker-input-min-width);
            visibility: hidden;
            white-space: pre;
        }
    }

    .ids-tag-picker__search-icon {
        color: var(--ids-tag-picker-search-icon-color);
        flex: 0 0 auto;
        margin: var(--ids-tag-picker-search-icon-margin);
    }

    .ids-tag-picker .ids-tag-picker__input {
        border: none;
        flex: 1 1 auto;
        height: var(--ids-tag-picker-input-height);
        width: 100%;
    }

    .ids-tag-picker--has-selected .ids-tag-picker__input {
        grid-area: 1 / 2 / auto / auto;
        min-width: var(--ids-tag-picker-input-min-width);
        padding: 0;
    }

    .ids-tag-picker .ids-tag-picker__input:focus {
        border: none;
        box-shadow: none;
    }

    .ids-tag-picker .ids-tag-picker__search-icon + .ids-tag-picker__input {
        padding-left: 0;
    }

    .ids-tag-picker__dropdown--loading {
        max-width: 100%;
        width: var(--ids-tag-picker-dropdown-loading-width);
    }

    .ids-tag-picker__results {
        list-style: none;
        margin: 0;
        min-width: var(--ids-tag-picker-results-min-width);
        padding: var(--ids-tag-picker-results-padding);
    }

    .ids-tag-picker__results-item {
        display: flex;
    }

    .ids-tag-picker__no-results {
        color: var(--ids-tag-picker-no-results-color);
        min-width: var(--ids-tag-picker-results-min-width);
        padding: var(--ids-tag-picker-no-results-padding);
    }
}
