@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

@layer igloo {
    :root {
        /* Default */
        --ids-step-font-family: #{tokens.$primary-font-family};
        --ids-step-font-size: #{tokens.$font-size-4};
        --ids-step-background: #{tokens.$samoyed};
        --ids-step-border: #{tokens.$grey-300};
        --ids-step-size: 2rem;
        --ids-step-complete-color: #{tokens.$samoyed};
        --ids-step-complete-background: #{tokens.$electric-blue-500};
        --ids-step-focus: #{tokens.$focus};

        /* Hover */
        --ids-step-border-hover: #{tokens.$grey-800};
        --ids-step-background-hover: var(--hop-neutral-surface-hover);
        --ids-step-complete-background-hover: #{tokens.$electric-blue-600};

        /* Current Step */
        --ids-step-current-background: #{tokens.$samoyed};
        --ids-step-current-border: #{tokens.$grey-300};
        --ids-step-current-dot-background: #{tokens.$electric-blue-500};
        --ids-step-current-dot-size: 1rem;
    }

    [data-brand="workleap"] {
        /* Default */
        --ids-step-font-family: var(--hop-body-md-font-family);
        --ids-step-font-size: var(--hop-body-md-font-size);
        --ids-step-background: var(--hop-neutral-surface);
        --ids-step-border: var(--hop-neutral-border);
        --ids-step-size: 1.5rem;
        --ids-step-complete-color: var(--hop-neutral-icon-selected);
        --ids-step-complete-background: var(--hop-neutral-surface-selected);

        /* Hover */
        --ids-step-border-hover: var(--hop-neutral-border-hover);
        --ids-step-background-hover: var(--hop-neutral-surface-hover);
        --ids-step-complete-background-hover: var(--hop-neutral-surface-selected);

        /* Current Step */
        --ids-step-current-background: var(--hop-neutral-surface-selected);
        --ids-step-current-border: var(--hop-neutral-border-selected);
        --ids-step-current-dot-background: var(--hop-neutral-icon-selected);
        --ids-step-current-dot-size: 0.75rem;
    }

    .ids-step__wrapper {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        min-width: 0;
        position: relative;

    }

    .ids-step {
        align-items: center;
        background: var(--ids-step-background);
        border: .1rem solid var(--ids-step-border);
        border-radius: 100%;
        display: flex;
        flex: 0 0 auto;
        font-family: var(--ids-step-font-family);
        font-size: var(--ids-step-font-size);
        height: var(--ids-step-size);
        justify-content: center;
        outline: 0;
        padding: 0;
        transition: border .2s, background .2s;
        width: var(--ids-step-size);
    }

    .ids-step--clickable {
        cursor: pointer;

        &:hover {
            border-color: var(--ids-step-border-hover);
            background: var(--ids-step-background-hover);
        }

        &.ids-step--focus-visible {
            box-shadow: var(--ids-step-focus);
        }
    }

    .ids-step--complete {
        background: var(--ids-step-complete-background);
        border-color: var(--ids-step-complete-background);
        color: var(--ids-step-complete-color);

        &:hover {
            background: var(--ids-step-complete-background-hover);
            border-color: var(--ids-step-complete-background-hover);
        }
    }

    .ids-step--current {
        pointer-events: none;
        background-color: var(--ids-step-current-background);
        border-color: var(--ids-step-current-border);

        &:hover {
            border-color: var( --ids-step-border);
        }

        &::after {
            background: var(--ids-step-current-dot-background);
            border-radius: 100%;
            content: '';
            display: block;
            flex: 0 0 auto;
            height: var(--ids-step-current-dot-size);
            width: var(--ids-step-current-dot-size);
        }
    }

    .ids-step__checkmark {
        flex: 0 0 auto;
    }
}
