@import '~@igloo-ui/tokens/dist/base10/variables';
@import '~@igloo-ui/tokens/dist/fonts.css';

:root {
  /* Default */
  --ids-radio-font-family: #{$primary-font-family};
  --ids-radio-font-weight: #{$font-weight-regular};
  --ids-radio-font-size: #{$font-size-4};
  --ids-radio-font-size-small: #{$font-size-3};
  --ids-radio-font-size-description: #{$font-size-3};
  --ids-radio-text: #{$grey-800};
  --ids-radio-text-description: #{$grey-600};
  --ids-radio-margin: #{$space-2};
  --ids-radio-padding: #{$space-1};
  --ids-radio-size: #{$font-size-4};
  --ids-radio-check: #{$samoyed};
  --ids-radio-border: #{$grey-400};
  --ids-radio-border-hover: #{$grey-800};
  --ids-radio-border-disabled: #{$grey-300};
  --ids-radio-border-checked: #{$electric-blue-500};
  --ids-radio-background: #{$samoyed};
  --ids-radio-background-disabled: #{$grey-300};
  --ids-radio-background-checked: #{$electric-blue-500};
}

%radio {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: var(--ids-radio-background);
}

.ids-form-control {
  display: inline-flex;
  align-items: center;

  &.has-description {
    align-items: flex-start;
  }
}

.ids-radio__label {
  font-family: var(--ids-radio-font-family);
  font-size: var(--ids-radio-font-size);
  font-weight: var(--ids-radio-font-weight);
  color: var(--ids-radio-text);
  padding-left: var(--ids-radio-margin);
}

.ids-radio {
  appearance: none;
  height: var(--ids-radio-size);
  width: var(--ids-radio-size);
  margin: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: var(--ids-radio-check);
  border: 1px solid var(--ids-radio-border);
  border-radius: 50%;
  background: var(--ids-radio-background);
  box-sizing: border-box;
  transition: background 0.05s ease-in-out;

  &:checked {
    border-color: var(--ids-radio-border-checked);
    background: var(--ids-radio-background-checked);

    &::after {
      @extend %radio;
    }
  }

  &:disabled {
    cursor: not-allowed;
    border-color: var(--ids-radio-border-disabled);
    background: var(--ids-radio-background-disabled);
  }

  &:focus {
    outline: none;
    box-shadow: var(--focus);
  }

  &:hover,
  &:checked:hover {
    border-color: var(--ids-radio-border-hover);
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:disabled:hover {
    border-color: var(--ids-radio-border-disabled);
  }

  &--small + &__label {
    font-size: var(--ids-radio-font-size-small);
  }
}

.ids-radio__description {
  display: block;
  padding-top: var(--ids-radio-padding);
  color: var(--ids-radio-text-description);
  font-size: var(--ids-radio-font-size-description);
}
