@use "~@igloo-ui/tokens/dist/base10/variables" as tokens;
@use "~@igloo-ui/tokens/dist/fonts";

:root {
    /* === Default === */
    --ids-text-editor-font-family: #{tokens.$primary-font-family};
    --ids-text-editor-font-size: #{tokens.$font-size-4};
    --ids-text-editor-background: #{tokens.$samoyed};
    --ids-text-editor-border-width: 0.1rem;
    --ids-text-editor-border-color: #{tokens.$grey-300};
    --ids-text-editor-border-radius: #{tokens.$border-radius-sm};
    --ids-text-editor-color: #{tokens.$grey-800};
    --ids-text-editor-padding: #{tokens.$space-2} #{tokens.$space-3};
    --ids-text-editor-line-height: #{tokens.$line-height-xxxl};
    --ids-text-editor-placeholder-color: #{tokens.$grey-400};
    --ids-text-editor-min-height: 12rem;
    --ids-text-editor-min-width: 31.4rem;

    /* Hover */
    --ids-text-editor-border-color-hover: #{tokens.$grey-600};
    --ids-text-editor-background-hover: #{tokens.$samoyed};

    /* Focus */
    --ids-text-editor-border-color-focus: #{tokens.$electric-blue-500};
    --ids-text-editor-focus: none;

    /* Disabled */
    --ids-text-editor-background-disabled: #{tokens.$grey-200};
    --ids-text-editor-border-color-disabled: #{tokens.$grey-200};

    /* Error */
    --ids-text-editor-border-color-error: #{tokens.$coral-500};

    /* Footer */
    --ids-text-editor-footer-spacing: #{tokens.$space-2};
    --ids-text-editor-chars-limit-color: #{tokens.$grey-400};
    --ids-text-editor-chars-limit-font-size: #{tokens.$font-size-2};
    --ids-text-editor-private-icon-margin: 0 #{tokens.$space-2} 0 0;
    --ids-text-editor-private-color: #{tokens.$grey-600};
    --ids-text-editor-private-font-size: #{tokens.$font-size-2};
    --ids-text-editor-private-line-height: #{tokens.$line-height-xl};
    --ids-text-editor-private-background: #{tokens.$dandelion-50};
    --ids-text-editor-private-border-color: #{tokens.$dandelion-100};

    /* === Theme === */

    /* Bold */
    --ids-text-editor-bold: #{tokens.$font-weight-bold};

    /* Text Code */
    --ids-text-editor-text-code-background: #{tokens.$grey-200};

    /* Link */
    --ids-text-editor-link-color: #{tokens.$electric-blue-500};
    --ids-text-editor-link-font-weight: #{tokens.$font-weight-medium};
    --ids-text-editor-link-hover: #{tokens.$electric-blue-600};

    /* Code */
    --ids-text-editor-code-font-size: #{tokens.$font-size-2};
    --ids-text-editor-code-line-height: #{tokens.$line-height-xxxl};
    --ids-text-editor-code-margin: #{tokens.$space-2} #{tokens.$space-0};
    --ids-text-editor-code-padding: #{tokens.$space-2} #{tokens.$space-2} #{tokens.$space-2} #{tokens.$space-7};
    --ids-text-editor-code-before-background: #{tokens.$grey-300};
    --ids-text-editor-code-before-border-color: #{tokens.$grey-300};
    --ids-text-editor-code-before-color: #{tokens.$grey-600};
    --ids-text-editor-code-before-padding: #{tokens.$space-2};
    --ids-text-editor-code-after-font-size: #{tokens.$font-size-1};

    /* Code Tokens */
    --ids-text-editor-token-comment: #{tokens.$grey-600};
    --ids-text-editor-token-punctuation: #{tokens.$grey-500};
    --ids-text-editor-token-property: #{tokens.$coral-900};
    --ids-text-editor-token-selector: #{tokens.$seaweed-800};
    --ids-text-editor-token-function: #{tokens.$strawberry-fields-300};
    --ids-text-editor-token-variable: #{tokens.$electric-blue-500};

    /* Paragraphs */
    --ids-text-editor-paragraph-margin: 0 0 #{tokens.$space-2};

    /* Headings */
    --ids-text-editor-heading-1-font-size: #{tokens.$font-size-7};
    --ids-text-editor-heading-1-font-weight: #{tokens.$font-weight-regular};
    --ids-text-editor-heading-1-margin: 0 0 #{tokens.$space-3};
    --ids-text-editor-heading-1-color: #{tokens.$grey-800};
    --ids-text-editor-heading-2-color: #{tokens.$grey-800};
    --ids-text-editor-heading-2-font-size: #{tokens.$font-size-4};
    --ids-text-editor-heading-2-font-weight: #{tokens.$font-weight-semi-bold};
    --ids-text-editor-heading-2-margin: 0 0 #{tokens.$space-2};

    /* Quote */
    --ids-text-editor-quote-color: #{tokens.$grey-600};
    --ids-text-editor-quote-border-color: #{tokens.$grey-300};
    --ids-text-editor-quote-border-size: #{tokens.$space-1};
    --ids-text-editor-quote-margin: 0 0 #{tokens.$space-2} #{tokens.$space-3};
    --ids-text-editor-quote-padding: 0 0 0 #{tokens.$space-3};

    /* List */
    --ids-text-editor-list-margin: #{tokens.$space-2} #{tokens.$space-5};
}

[data-brand="workleap"] {
    /* === Default === */
    --ids-text-editor-font-family: var(--hop-body-md-font-family);
    --ids-text-editor-font-size: var(--hop-body-md-font-size);
    --ids-text-editor-background: var(--hop-neutral-surface);
    --ids-text-editor-border-width: 0.0625rem;
    --ids-text-editor-border-color: var(--hop-neutral-border);
    --ids-text-editor-border-radius: var(--hop-shape-rounded-md);
    --ids-text-editor-color: var(--hop-neutral-color);
    --ids-text-editor-padding: var(--hop-space-stack-sm) var(--hop-space-inline-md);
    --ids-text-editor-line-height: var(--hop-body-md-line-height);
    --ids-text-editor-placeholder-color: var(--hop-neutral-text-weakest);
    --ids-text-editor-min-height: 7.5rem;
    --ids-text-editor-min-width: 19.625rem;

    /* Hover */
    --ids-text-editor-border-color-hover: var(--hop-neutral-border-hover);
    --ids-text-editor-background-hover: var(--hop-neutral-surface-hover);

    /* Focus */
    --ids-text-editor-border-color-focus: var(--hop-neutral-border-active);
    --ids-text-editor-focus: 0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.219rem var(--hop-primary-border-focus);

    /* Disabled */
    --ids-text-editor-background-disabled: var(--hop-neutral-surface-disabled);
    --ids-text-editor-border-color-disabled: var(--hop-neutral-border-disabled);

    /* Error */
    --ids-text-editor-border-color-error: var(--hop-danger-border-strong);

    /* Footer */
    --ids-text-editor-footer-spacing: var(--hop-space-inset-sm);
    --ids-text-editor-chars-limit-color: var(--hop-neutral-icon-weak);
    --ids-text-editor-chars-limit-font-size: var(--hop-body-sm-font-size);
    --ids-text-editor-private-icon-margin: 0 var(--hop-space-inline-sm) 0 0;
    --ids-text-editor-private-color: var(--hop-neutral-icon-weak);
    --ids-text-editor-private-font-size: var(--hop-body-sm-font-size);
    --ids-text-editor-private-line-height: var(--hop-body-sm-line-height);
    --ids-text-editor-private-background: var(--hop-decorative-option6-surface-weak);
    --ids-text-editor-private-border-color: #EAC96D;

    /* === Theme === */

    /* Bold */
    --ids-text-editor-bold: var(--hop-body-sm-bold-font-weight);

    /* Text Code */
    --ids-text-editor-text-code-background: var(--hop-neutral-surface-weak);

    /* Link */
    --ids-text-editor-link-color: var(--hop-primary-text);
    --ids-text-editor-link-font-weight: var(--hop-body-sm-font-weight);
    --ids-text-editor-link-hover: var(--hop-primary-text-hover);

    /* Code */
    --ids-text-editor-code-font-size: var(--hop-body-sm-font-size);
    --ids-text-editor-code-line-height: var(--hop-body-sm-line-height);
    --ids-text-editor-code-margin: var(--hop-space-stack-sm) 0;
    --ids-text-editor-code-padding: var(--hop-space-stack-sm) var(--hop-space-inline-sm) var(--hop-space-stack-sm) 3rem;
    --ids-text-editor-code-before-background: var(--hop-neutral-surface-weak);
    --ids-text-editor-code-before-border-color: var(--hop-neutral-border-weak);
    --ids-text-editor-code-before-color: var(--hop-neutral-text);
    --ids-text-editor-code-before-padding: var(--hop-space-inset-xl);
    --ids-text-editor-code-after-font-size: var(--hop-body-xs-font-size);

    /* Code Tokens */
    --ids-text-editor-token-comment: var(--hop-neutral-text);
    --ids-text-editor-token-punctuation: var(--hop-neutral-text-weakest);
    --ids-text-editor-token-property: var(--hop-decorative-option1-text);
    --ids-text-editor-token-selector: var(--hop-decorative-option5-text);
    --ids-text-editor-token-function: var(--hop-decorative-option8-text-weak);
    --ids-text-editor-token-variable: var(--hop-primary-text);

    /* Paragraphs */
    --ids-text-editor-paragraph-margin: 0 0 var(--hop-space-stack-sm);

    /* Headings */
    --ids-text-editor-heading-1-font-size: var(--hop-heading-2xl-font-size);
    --ids-text-editor-heading-1-font-weight: var(--hop-heading-2xl-font-weight);
    --ids-text-editor-heading-1-margin: 0 0 var(--hop-space-stack-md);
    --ids-text-editor-heading-1-color: var(--hop-neutral-text);
    --ids-text-editor-heading-2-color: var(--hop-neutral-text);
    --ids-text-editor-heading-2-font-size: var(--hop-heading-lg-font-size);
    --ids-text-editor-heading-2-font-weight: var(--hop-heading-lg-font-weight);
    --ids-text-editor-heading-2-margin: 0 0 var(--hop-space-stack-sm);

    /* Quote */
    --ids-text-editor-quote-color: var(--hop-neutral-text);
    --ids-text-editor-quote-border-color: var(--hop-neutral-border);
    --ids-text-editor-quote-border-size: 0.25rem;
    --ids-text-editor-quote-margin: 0 0 var(--hop-space-stack-sm) var(--hop-space-inline-md);
    --ids-text-editor-quote-padding: 0 0 0 var(--hop-space-inline-md);

    /* List */
    --ids-text-editor-list-margin: var(--hop-space-stack-sm) var(--hop-space-inline-xl);
}

.ids-text-editor {
    background: var(--ids-text-editor-background);
    border: var(--ids-text-editor-border-width) solid var(--ids-text-editor-border-color);
    border-radius: var(--ids-text-editor-border-radius);
    display: flex;
    flex-direction: column;
    font-family: var(--ids-text-editor-font-family);
    font-size: var(--ids-text-editor-font-size);
    min-height: var(--ids-text-editor-min-height);
    min-width: var(--ids-text-editor-min-width);
    transition: border .15s ease-out;

    &,
    & * {
        box-sizing: border-box;
    }

    &--private {
        --ids-text-editor-background: var(--ids-text-editor-private-background) ;
        --ids-text-editor-border-color: var(--ids-text-editor-private-border-color) ;
    }

    &--error {
        --ids-text-editor-border-color: var(--ids-text-editor-border-color-error);
    }

    &:focus-within {
        --ids-text-editor-border-color: var(--ids-text-editor-border-color-focus);
        box-shadow: var(--ids-text-editor-focus);
    }

    &:hover {
        --ids-text-editor-border-color: var(--ids-text-editor-border-color-hover);
        --ids-text-editor-background: var(--ids-text-editor-background-hover);
    }

    &--disabled,
    &--disabled:hover {
        --ids-text-editor-background: var(--ids-text-editor-background-disabled);
        --ids-text-editor-border-color: var(--ids-text-editor-border-color-disabled);

        cursor: not-allowed;
    }

    &--read-only,
    &--read-only:hover {
        background: none;
        border: none;
        min-height: auto;
        min-width: auto;
    }

}

.ids-text-editor__inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    line-height: var(--ids-text-editor-line-height);
    position: relative;
}

.ids-text-editor__scroller {
    display: flex;
    flex: 1 1 auto;
    outline: 0;
    overflow: auto;
    position: relative;
}

.ids-text-editor__editor {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}

.ids-text-editor__placeholder {
    color: var(--ids-text-editor-placeholder-color);
    display: inline-block;
    left: 0;
    overflow: hidden;
    padding: var(--ids-text-editor-padding);
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    user-select: none;
    white-space: nowrap;
}

.ids-text-editor__input {
    color: var(--ids-text-editor-color);
    flex: 1 1 auto;
    outline: 0;
    padding: var(--ids-text-editor-padding);

    .ids-text-editor--read-only & {
        padding: 0;
    }
}

.ids-text-editor__footer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: var(--ids-text-editor-padding);

    .ids-text-editor__private {
        align-items: center;
        color: var(--ids-text-editor-private-color);
        display: flex;
        font-size: var(--ids-text-editor-private-font-size);
        line-height: var(--ids-text-editor-private-line-height);
        margin-right: auto;
    }

    .ids-text-editor__private-icon {
        flex: 0 0 auto;
        margin: var(--ids-text-editor-private-icon-margin);
    }

    .characters-limit {
        color: var(--ids-text-editor-chars-limit-color);
        flex: 0 0 auto;
        font-size: var(--ids-text-editor-chars-limit-font-size);
        margin-left: var(--ids-text-editor-footer-spacing);
    }

    .ids-text-editor__primary-btn {
        margin-left: var(--ids-text-editor-footer-spacing);
    }
}


/* === Theme === */

.ids-text-editor__text-bold {
    font-weight: var(--ids-text-editor-bold);
}

.ids-text-editor__text-italic {
    font-style: italic;
}

.ids-text-editor__text-underline {
    text-decoration: underline;
}

.ids-text-editor__text-strikethrough {
    text-decoration: line-through;
}

.ids-text-editor__text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.ids-text-editor__text-code {
    background-color: var(--ids-text-editor-text-code-background);
    padding: .1rem 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.ids-text-editor__link,
.ids-text-editor a {
    color: var(--ids-text-editor-link-color);
    cursor: pointer;
    font-weight: var(--ids-text-editor-link-font-weight);
    text-decoration: none;

    &:focus,
    &:hover {
        cursor: pointer;
        color: var(--ids-text-editor-link-hover);
    }
}

.ids-text-editor__code {
    background-color: var(--ids-text-editor-text-code-background);
    display: block;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: var(--ids-text-editor-code-font-size);
    line-height: var(--ids-text-editor-code-line-height);
    margin: var(--ids-text-editor-code-margin);
    overflow-x: auto;
    padding: var(--ids-text-editor-code-padding);
    position: relative;
    tab-size: 2;
}

.ids-text-editor__code::before {
    background-color: var(--ids-text-editor-code-before-background);
    border-right: .1rem solid var(--ids-text-editor-code-before-border-color);
    color: var(--ids-text-editor-code-before-color);
    content: attr(data-gutter);
    left: 0;
    min-width: 2.5rem;
    padding: var(--ids-text-editor-code-before-padding);
    position: absolute;
    text-align: right;
    top: 0;
    white-space: pre-wrap;
}

.ids-text-editor__code::after {
    color: rgb(0 0 0 / 50%);
    content: attr(data-highlight-language);
    font-size: var(--ids-text-editor-code-after-font-size);
    padding: .3rem;
    position: absolute;
    right: .3rem;
    text-transform: uppercase;
    top: 0;
}

.ids-text-editor__token-comment {
    color: var(--ids-text-editor-token-comment);
}

.ids-text-editor__token-punctuation {
    color: var(--ids-text-editor-token-punctuation);
}

.ids-text-editor__token-property {
    color: var(--ids-text-editor-token-property);
}

.ids-text-editor__token-selector {
    color: var(--ids-text-editor-token-selector);
}

.ids-text-editor__token-operator {
    color: #9a6e3a;
}

.ids-text-editor__token-attr {
    color: #0077aa;
}

.ids-text-editor__token-variable {
    color: var(--ids-text-editor-token-variable);
}

.ids-text-editor__token-function {
    color: var(--ids-text-editor-token-function);
}

.ids-text-editor__paragraph {
    margin: var(--ids-text-editor-paragraph-margin);
    position: relative;
}

.ids-text-editor__paragraph:last-child {
    margin-bottom: 0;
}

.ids-text-editor__heading-h1 {
    color: var(--ids-text-editor-heading-1-color);
    font-size: var(--ids-text-editor-heading-1-font-size);
    font-weight: var(--ids-text-editor-heading-1-font-weight);
    margin: var(--ids-text-editor-heading-1-margin);
    padding: 0;
}

.ids-text-editor__heading-h2 {
    color: var(--ids-text-editor-heading-2-color);
    font-size: var(--ids-text-editor-heading-2-font-size);
    font-weight: var(--ids-text-editor-heading-2-font-weight);
    margin: var(--ids-text-editor-heading-2-margin);
    padding: 0;
}

.ids-text-editor__quote {
    border-left: var(--ids-text-editor-quote-border-size) solid var(--ids-text-editor-quote-border-color);
    color: var(--ids-text-editor-quote-color);
    font-size: var(--ids-text-editor-font-size);
    margin: var(--ids-text-editor-quote-margin);
    padding: var(--ids-text-editor-quote-padding);
}

.ids-text-editor__list-ol {
    padding: 0;
    margin: var(--ids-text-editor-quote-spacing);
}

.ids-text-editor__list-ul {
    padding: 0;
    margin: var(--ids-text-editor-quote-spacing);
}

.ids-text-editor__list-item {
    margin: var(--ids-text-editor-list-margin);
}

.ids-text-editor__nested-list-item {
    list-style-type: none;
}
