@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

@layer igloo {
    :root {
        /* Default */
        --ids-list-item-padding: #{tokens.$space-2} #{tokens.$space-3};
        --ids-list-item-min-height: 5.6rem;
        --ids-list-item-action-margin: #{tokens.$space-3};
        --ids-list-item-border-radius: 0;

        /* Compact */
        --ids-list-item-padding-compact: #{tokens.$space-2} #{tokens.$space-3};
        --ids-list-item-min-height-compact: #{tokens.$space-5};

        /* Member */
        --ids-list-item-padding-member: #{tokens.$space-2};
        --ids-list-item-min-height-member: 5rem;

        /* Focused */
        --ids-list-item-background-focused: #{tokens.$electric-blue-50};
        --ids-list-item-color-focused: #{tokens.$grey-800};

        /* Selected */
        --ids-list-item-background-selected: #{tokens.$electric-blue-50};
        --ids-list-item-background-selected-multi: none;
        --ids-list-item-font-weight-selected: #{tokens.$font-weight-regular};
        --ids-list-item-check-display: none;

        /* Disabled */
        --ids-list-item-color-disabled: #{tokens.$grey-600};
        --ids-list-item-icon-color-disabled: #{tokens.$grey-600};

        /* Visual Identifier */
        --ids-list-item-icon-size: #{tokens.$space-4};
        --ids-list-item-icon-size-compact: #{tokens.$space-3};
        --ids-list-item-icon-margin: 0.25rem #{tokens.$space-2} 0.25rem 0;
        --ids-list-item-svg-margin: 0 #{tokens.$space-2} 0 0;
        --ids-list-item-svg-color: #{tokens.$grey-600};
        --ids-list-item-icon-member-size: #{tokens.$space-5};

        /* Manager */
        --ids-list-item-manager-color: #{tokens.$grey-500};
        --ids-list-item-manager-margin: 0 0 0 #{tokens.$space-2};

        /* Checkbox */
        --ids-list-item-checkbox-size: #{tokens.$font-size-3};
        --ids-list-item-checkbox-radius: #{tokens.$border-radius-sm};
        --ids-list-item-checkbox-check: #{tokens.$samoyed};
        --ids-list-item-checkbox-margin: 0.25rem #{tokens.$space-2} 0.25rem 0;
        --ids-list-item-checkbox-box-sizing: content-box;
        --ids-list-item-checkbox-background: #{tokens.$samoyed};
        --ids-list-item-checkbox-background-hover: #{tokens.$samoyed};
        --ids-list-item-checkbox-background-disabled: #{tokens.$grey-200};
        --ids-list-item-checkbox-background-checked: #{tokens.$electric-blue-500};
        --ids-list-item-checkbox-border-checked-hover: #{tokens.$electric-blue-500};
        --ids-list-item-checkbox-background-checked-disabled: #{tokens.$grey-400};
        --ids-list-item-checkbox-border: #{tokens.$grey-400};
        --ids-list-item-checkbox-border-hover: #{tokens.$grey-800};
        --ids-list-item-checkbox-border-checked: #{tokens.$electric-blue-500};
        --ids-list-item-checkbox-border-disabled: #{tokens.$grey-400};
        --ids-list-item-checkbox-one-px: 0.1rem;
        --ids-list-item-checkbox-check-color-disabled: #{tokens.$grey-600};
        --ids-list-item-checkbox-check-size: #{tokens.$font-size-3};
        --ids-list-item-checkbox-check-color-hover: transparent;
        --ids-list-item-checkbox-check-color-selected: #{tokens.$samoyed};
        --ids-list-item-checkbox-check-color-default: transparent;

        /* Description */
        --ids-list-item-desc-color: #{tokens.$grey-600};
        --ids-list-item-desc-font-size: #{tokens.$font-size-2};
        --ids-list-item-desc-line-height: #{tokens.$line-height-xl};
        --ids-list-item-desc-margin: #{tokens.$space-1} 0 0;

        /* Member Name */
        --ids-list-item-member-color: #{tokens.$grey-600};
        --ids-list-item-member-font-weight: #{tokens.$font-weight-semi-bold};

        /* Loading */
        --ids-list-item-loading-thumbnail-border-radius: #{tokens.$border-radius-sm};
        --ids-list-item-loading-thumbnail-margin: 0 #{tokens.$space-3} 0 0;
        --ids-list-item-loading-text-border-radius: 4.5rem;
        --ids-list-item-loading-text-height: #{tokens.$space-2};
        --ids-list-item-loading-text-width: 60%;
        --ids-list-item-loading-color: #{tokens.$grey-200};
    }

    [data-brand="workleap"] {
        /* Default */
        --ids-list-item-padding: var(--hop-space-inset-squish-md);
        --ids-list-item-min-height: 3.5rem;
        --ids-list-item-action-margin: var(--hop-space-inline-md);
        --ids-list-item-border-radius: var(--hop-shape-rounded-md);

        /* Compact */
        --ids-list-item-padding-compact: var(--hop-space-inset-squish-md);
        --ids-list-item-min-height-compact: 2.5rem;

        /* Member */
        --ids-list-item-padding-member: var(--hop-space-inset-sm);
        --ids-list-item-min-height-member: 3rem;

        /* Focused */
        --ids-list-item-background-focused: var(--hop-neutral-surface-hover);
        --ids-list-item-color-focused: var(--hop-neutral-text-hover);

        /* Selected */
        --ids-list-item-background-selected: none;
        --ids-list-item-background-selected-multi: none;
        --ids-list-item-font-weight-selected: var(--hop-body-sm-semibold-font-weight);
        --ids-list-item-check-display: block;
        --ids-list-item-check-margin: var(--hop-space-inline-sm);
        --ids-list-item-check-color: var(--hop-neutral-icon);

        /* Disabled */
        --ids-list-item-color-disabled: var(--hop-neutral-text-disabled);
        --ids-list-item-icon-color-disabled: var(--hop-neutral-icon-disabled);

        /* Visual Identifier */
        --ids-list-item-icon-size: 2rem;
        --ids-list-item-icon-size-compact: 1rem;
        --ids-list-item-icon-margin: 0.125rem var(--hop-space-inline-sm) 0.125rem 0;
        --ids-list-item-svg-margin: 0 var(--hop-space-inline-sm) 0 0;
        --ids-list-item-svg-color: var(--hop-neutral-icon);
        --ids-list-item-icon-member-size: 2rem;

        /* Manager */
        --ids-list-item-manager-color: var(--hop-neutral-icon-weak);
        --ids-list-item-manager-margin: 0 0 0 var(--hop-space-inline-sm);

        /* Checkbox */
        --ids-list-item-checkbox-size: 1rem;
        --ids-list-item-checkbox-radius: var(--hop-shape-rounded-sm);
        --ids-list-item-checkbox-check: var(--hop-neutral-icon-selected);
        --ids-list-item-checkbox-margin: 0.15rem var(--hop-space-inline-sm) 0 0;
        --ids-list-item-checkbox-box-sizing: border-box;
        --ids-list-item-checkbox-background: var(--hop-neutral-surface);
        --ids-list-item-checkbox-background-hover: var(--hop-neutral-surface-hover);
        --ids-list-item-checkbox-background-disabled: var(--hop-neutral-surface-disabled);
        --ids-list-item-checkbox-background-checked: var(--hop-neutral-surface-selected);
        --ids-list-item-checkbox-background-checked-disabled: var(--hop-neutral-surface-disabled);
        --ids-list-item-checkbox-border: var(--hop-neutral-border);
        --ids-list-item-checkbox-border-hover: var(--hop-neutral-border-hover);
        --ids-list-item-checkbox-border-checked: var(--hop-neutral-border-selected);
        --ids-list-item-checkbox-border-checked-hover: var(--hop-neutral-border-selected);
        --ids-list-item-checkbox-border-disabled: var(--hop-neutral-border-disabled);
        --ids-list-item-checkbox-one-px: 0.0625rem;
        --ids-list-item-checkbox-check-size: 1rem;
        --ids-list-item-checkbox-check-color-hover: transparent;
        --ids-list-item-checkbox-check-color-selected: var(--hop-neutral-icon-selected);
        --ids-list-item-checkbox-check-color-default: transparent;
        --ids-list-item-checkbox-check-color-disabled: var(--hop-neutral-icon-disabled);

        /* Description */
        --ids-list-item-desc-color: var(--hop-neutral-text-weak);
        --ids-list-item-desc-font-size: var(--hop-body-xs-font-size);
        --ids-list-item-desc-line-height: var(--hop-body-xs-line-height);
        --ids-list-item-desc-margin: var(--hop-space-stack-xs) 0 0;

        /* Member Name */
        --ids-list-item-member-color: var(--hop-neutral-text-weak);
        --ids-list-item-member-font-weight: var(--hop-body-sm-semibold-font-weight);

        /* Loading */
        --ids-list-item-loading-thumbnail-border-radius: var(--hop-shape-circle);
        --ids-list-item-loading-thumbnail-margin: 0 var(--hop-space-inline-sm) 0 0;
        --ids-list-item-loading-text-border-radius: var(--hop-shape-pill);
        --ids-list-item-loading-text-height: 0.5rem;
        --ids-list-item-loading-text-width: 60%;
        --ids-list-item-loading-color: var(--hop-neutral-surface-weak);
    }

    @keyframes list-check-animation {
        0% {
            opacity: 0;
            stroke-dashoffset: 20;
        }

        30% {
            opacity: 1;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes loading-pulse-light {
        0%, 100% {
            background-color: var(--ids-list-item-loading-color);
            opacity: 1;
        }

        50% {
            background-color: var(--ids-list-item-loading-color);
            opacity: 0.40;
        }
    }

    .ids-list-item {
        align-items: center;
        border-radius: var(--ids-list-item-border-radius);
        display: flex;
        min-height: var(--ids-list-item-min-height);
        outline: none;
        padding: var(--ids-list-item-padding);
        user-select: none;

        &--selectable {
            cursor: pointer;
        }

        &--compact {
            min-height: var(--ids-list-item-min-height-compact);
            padding: var(--ids-list-item-padding-compact);
        }

        &--member {
            min-height: var(--ids-list-item-min-height-member);
            padding: var(--ids-list-item-padding-member);
        }

        &--selected,
        &--focused {
            background: var(--ids-list-item-background-selected);
            outline: 0;
            box-shadow: none;
        }

        &--selected {
            font-weight: var(--ids-list-item-font-weight-selected);
        }

        .ids-list--multi-select &--selected {
            background: var(--ids-list-item-background-selected-multi);
        }

        &--focused {
            background: var(--ids-list-item-background-focused);
            color: var(--ids-list-item-color-focused);
            outline: 0;
        }

        &--disabled,
        &--disabled:hover,
        &--disabled:active {
            background: transparent;
            color: var(--ids-list-item-color-disabled);
            cursor: not-allowed;
        }
    }

    .ids-list-item__content {
        align-items: flex-start;
        display: flex;
        flex: 1 1 auto;
        min-width: 0;

        .ids-list-item--member & {
            align-items: center;
        }

        .ids-list-item--no-description & {
            align-items: center;
        }
    }

    .ids-list-item__visual-identifier-container {
        align-items: flex-start;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        margin: var(--ids-list-item-icon-margin);

        .ids-list-item--member & {
            margin-bottom: 0;
            margin-top: 0;
            width: var(--ids-list-item-icon-member-size);
        }
    }

    .ids-list-item__svg-container {
        color: var(--ids-list-item-svg-color);
        margin: var(--ids-list-item-svg-margin);

        .ids-list-item--disabled & {
            color: var(--ids-list-item-icon-color-disabled);
        }
    }

    .ids-list-item--loading .ids-list-item__thumbnail {
        animation: loading-pulse-light ease-in-out 1.5s infinite both;
        border-radius: var(--ids-list-item-loading-thumbnail-border-radius);
        flex: 0 0 auto;
        height: var(--ids-list-item-icon-size);
        margin: var(--ids-list-item-loading-thumbnail-margin);
        width: var(--ids-list-item-icon-size);
    }

    .ids-list-item--loading.ids-list-item--compact .ids-list-item__thumbnail {
        height: var(--ids-list-item-icon-size-compact);
        width: var(--ids-list-item-icon-size-compact);
    }

    .ids-list-item--loading.ids-list-item--member .ids-list-item__thumbnail {
        height: var(--ids-list-item-icon-member-size);
        width: var(--ids-list-item-icon-member-size);
    }

    .ids-list-item__text {
        align-self: center;
        flex: 1 1 auto;
        min-width: 0;

        .ids-list-item--loading & {
            animation: loading-pulse-light ease-in-out 1.5s infinite both;
            border-radius: var(--ids-list-item-loading-text-border-radius);
            flex: 0 1 var(--ids-list-item-loading-text-width);
            height: var(--ids-list-item-loading-text-height);
        }
    }

    .ids-list-item__text-body {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        margin: var(--ids-list-item-text-body-margin);
        min-width: 0;
    }

    .ids-list-item__text-content {
        flex: 1 1 auto;
        min-width: 0;
    }

    .ids-list-item__text-action {
        display: block;
        flex: 0 0 auto;
        opacity: 0;
        margin-left: var(--ids-list-item-action-margin);
        transition: opacity .2s ease-out;

        .ids-list-item--focused & {
            opacity: 1;
        }

        /* stylelint-disable-next-line media-query-no-invalid */
        @media (width <= #{tokens.$breakpoints-md}) {
            display: none;
        }
    }

    /* Checkbox */
    .ids-list-item__checkbox {
        background: var(--ids-list-item-checkbox-background);
        border: var(--ids-list-item-checkbox-one-px) solid var(--ids-list-item-checkbox-border);
        border-radius: var(--ids-list-item-checkbox-radius);
        box-sizing: var(--ids-list-item-checkbox-box-sizing);
        color: var(--ids-list-item-checkbox-check);
        cursor: pointer;
        display: inline-block;
        flex: 0 0 auto;
        height: var(--ids-list-item-checkbox-size);
        margin: var(--ids-list-item-checkbox-margin);
        overflow: hidden;
        position: relative;
        transition: background 0.05s ease-in-out;
        width: var(--ids-list-item-checkbox-size);

        .ids-list-item:where(:hover) & {
            background: var(--ids-list-item-checkbox-background-hover);
            border-color: var(--ids-list-item-checkbox-border-hover);
        }

        .ids-list-item--selected & {
            border-color: var(--ids-list-item-checkbox-border-checked);
            background: var(--ids-list-item-checkbox-background-checked);
        }

        .ids-list-item--disabled & {
            cursor: not-allowed;
            border-color: var(--ids-list-item-checkbox-border-disabled);
            background: var(--ids-list-item-checkbox-background-disabled);
        }

        .ids-list-item--selected:hover & {
            border-color: var(--ids-list-item-checkbox-border-checked-hover);
        }

        .ids-list-item--disabled:hover & {
            border-color: var(--ids-list-item-checkbox-border-disabled);
        }
    }

    /* Checkbox checkmark */
    .ids-list-item .ids-list-item__checkbox-check {
        color: var(--ids-list-item-checkbox-check-color-default);
        font-size: 0;
        height: var(--ids-list-item-checkbox-check-size);
        left: 50%;
        position: absolute;
        stroke-dasharray: 20;
        stroke-dashoffset: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--ids-list-item-checkbox-check-size);
    }

    .ids-list-item:hover .ids-list-item__checkbox-check {
        color: var(--ids-list-item-checkbox-check-color-hover);
    }

    .ids-list-item--disabled .ids-list-item__checkbox-check {
        visibility: hidden;
    }

    .ids-list-item--selected .ids-list-item__checkbox-check {
        animation: list-check-animation .30s ease-out .15s forwards;
        color: var(--ids-list-item-checkbox-check-color-selected);
        stroke-dashoffset: 20;
    }

    .ids-list-item--selected:hover .ids-list-item__checkbox-check {
        color: var(--ids-list-item-checkbox-check-color-selected);
    }

    .ids-list-item--selected.ids-list-item--disabled .ids-list-item__checkbox-check {
        animation: none;
        color: var(--ids-list-item-checkbox-check-color-disabled);
        stroke-dashoffset: 0;
        visibility: visible;
    }

    /* List Item Text */
    .ids-list-item__text-label {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ids-list-item__text-description {
        color: var(--ids-list-item-desc-color);
        display: block;
        font-size: var(--ids-list-item-desc-font-size);
        line-height: var(--ids-list-item-desc-line-height);
        margin: var(--ids-list-item-desc-margin);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .ids-list-item--disabled & {
            color: var(--ids-list-item-color-disabled);
        }
    }

    .ids-list-item__text-member {
        align-items: center;
        color: var(--ids-list-item-member-color);
        display: flex;
        font-weight: var(--ids-list-item-member-font-weight);
    }

    .ids-list-item__manager {
        color: var(--ids-list-item-manager-color);
        flex: 0 0 auto;
        margin: var(--ids-list-item-manager-margin);
    }

    .ids-list-item__text-role {
        color: var(--ids-list-item-member-color);
        display: block;
        font-size: var(--ids-list-item-desc-font-size);
        line-height: var(--ids-list-item-desc-line-height);
    }

    .ids-list-item__selected-icon {
        color: var(--ids-list-item-check-color);
        display: var(--ids-list-item-check-display);
        flex: 0 0 auto;
        margin-left: var(--ids-list-item-check-margin);
    }
}
