@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

@layer igloo {
    :root {
        /* Default */
        --ids-checkbox-font-family: #{tokens.$primary-font-family};
        --ids-checkbox-font-weight: #{tokens.$font-weight-regular};
        --ids-checkbox-font-size: #{tokens.$font-size-4};
        --ids-checkbox-focus: #{tokens.$focus};
        --ids-checkbox-size: #{tokens.$font-size-3};
        --ids-checkbox-line-height: 2rem;
        --ids-checkbox-radius: #{tokens.$border-radius-sm};
        --ids-checkbox-check: #{tokens.$samoyed};
        --ids-checkbox-margin: #{tokens.$space-2};
        --ids-checkbox-top-space: .2rem;
        --ids-checkbox-box-sizing: content-box;
        --ids-checkbox-text: #{tokens.$grey-800};
        --ids-checkbox-text-disabled: #{tokens.$grey-600};
        --ids-checkbox-text-hover: #{tokens.$grey-800};
        --ids-checkbox-text-press: #{tokens.$grey-800};
        --ids-checkbox-background: #{tokens.$samoyed};
        --ids-checkbox-background-hover: #{tokens.$samoyed};
        --ids-checkbox-background-disabled: #{tokens.$grey-200};
        --ids-checkbox-background-checked: #{tokens.$electric-blue-500};
        --ids-checkbox-border-checked-hover: #{tokens.$electric-blue-500};
        --ids-checkbox-background-checked-disabled: #{tokens.$grey-400};
        --ids-checkbox-background-pressed: #{tokens.$samoyed};
        --ids-checkbox-border: #{tokens.$grey-400};
        --ids-checkbox-border-hover: #{tokens.$grey-800};
        --ids-checkbox-border-checked: #{tokens.$electric-blue-500};
        --ids-checkbox-border-pressed: #{tokens.$grey-800};
        --ids-checkbox-border-disabled: #{tokens.$grey-400};
        --ids-checkbox-check-color-disabled: #{tokens.$grey-600};
        --ids-checkbox-check-size: #{tokens.$font-size-3};
        --ids-checkbox-check-color-hover: transparent;
        --ids-checkbox-check-color-selected: #{tokens.$samoyed};
        --ids-checkbox-check-color-default: transparent;

        /* Completion */
        --ids-checkbox-completion-size: #{tokens.$space-4};
        --ids-checkbox-completion-radius: 50%;
        --ids-checkbox-one-px: 0.1rem;
        --ids-checkbox-completion-border-disabled: #{tokens.$grey-300};
        --ids-checkbox-completion-check-color-disabled: #{tokens.$grey-400};
        --ids-checkbox-completion-check-color-hover: #{tokens.$grey-800};
        --ids-checkbox-completion-check-color-selected: #{tokens.$samoyed};
        --ids-checkbox-completion-check-color-default: #{tokens.$grey-200};
    }

    [data-brand="workleap"] {
        --ids-checkbox-font-size: var(--hop-body-sm-font-size);
        --ids-checkbox-font-weight: var(--hop-body-sm-font-weight);
        --ids-checkbox-line-height: var(--hop-body-sm-line-height);
        --ids-checkbox-focus: 0 0 0 0.12rem var(--hop-neutral-surface), 0 0 0 0.2188rem var(--hop-primary-border-focus);
        --ids-checkbox-size: 1rem;
        --ids-checkbox-radius: var(--hop-shape-rounded-sm);
        --ids-checkbox-check: var(--hop-neutral-icon-selected);
        --ids-checkbox-margin: var(--hop-space-inline-sm);
        --ids-checkbox-top-space: 0.15rem;
        --ids-checkbox-box-sizing: border-box;
        --ids-checkbox-text: var(--hop-neutral-text);
        --ids-checkbox-text-disabled: var(--hop-neutral-text-disabled);
        --ids-checkbox-text-hover: var(--hop-neutral-text-hover);
        --ids-checkbox-text-press: var(--hop-neutral-text-press);
        --ids-checkbox-background: var(--hop-neutral-surface);
        --ids-checkbox-background-hover: var(--hop-neutral-surface-hover);
        --ids-checkbox-background-disabled: var(--hop-neutral-surface-disabled);
        --ids-checkbox-background-checked: var(--hop-neutral-surface-selected);
        --ids-checkbox-background-checked-disabled: var(--hop-neutral-surface-disabled);
        --ids-checkbox-background-pressed: var(--hop-neutral-surface-press);
        --ids-checkbox-border: var(--hop-neutral-border);
        --ids-checkbox-border-hover: var(--hop-neutral-border-hover);
        --ids-checkbox-border-checked: var(--hop-neutral-border-selected);
        --ids-checkbox-border-checked-hover: var(--hop-neutral-border-selected);
        --ids-checkbox-border-pressed: var(--hop-neutral-border-press);
        --ids-checkbox-border-disabled: var(--hop-neutral-border-disabled);
        --ids-checkbox-one-px: 0.0625rem;
        --ids-checkbox-check-size: 1rem;
        --ids-checkbox-check-color-hover: transparent;
        --ids-checkbox-check-color-selected: var(--hop-neutral-icon-selected);
        --ids-checkbox-check-color-default: transparent;
        --ids-checkbox-check-color-disabled: var(--hop-neutral-icon-disabled);

        /* Completion */
        --ids-checkbox-completion-size: 1.5rem;
        --ids-checkbox-completion-border-disabled: var(--hop-neutral-border-disabled);
        --ids-checkbox-completion-check-color-disabled: var(--hop-neutral-icon-disabled);
        --ids-checkbox-completion-check-color-hover: transparent;
        --ids-checkbox-completion-check-color-selected: var(--hop-neutral-icon-selected);
        --ids-checkbox-completion-check-color-default: transparent;
    }

    .ids-form-control-checkbox {
        cursor: pointer;
        display: inline-block;

        &,
        & * {
            box-sizing: var(--ids-checkbox-box-sizing);
        }

        &--disabled {
            cursor: not-allowed;
        }
    }

    .ids-checkbox {
        position: absolute;
        clip: rect(var(--ids-checkbox-one-px), var(--ids-checkbox-one-px), var(--ids-checkbox-one-px), var(--ids-checkbox-one-px));
        padding: 0;
        border: 0;
        height: var(--ids-checkbox-one-px);
        width: var(--ids-checkbox-one-px);
        overflow: hidden;
    }

    /* Checkbox label */
    .ids-checkbox__label {
        align-items: flex-start;
        color: var(--ids-checkbox-text);
        cursor: inherit;
        display: flex;
        font-family: var(--ids-checkbox-font-family);
        font-size: var(--ids-checkbox-font-size);
        font-weight: var(--ids-checkbox-font-weight);
        line-height: var(--ids-checkbox-line-height);

        &--completion {
            align-items: center;
        }

        .ids-form-control-checkbox:hover & {
            color: var(--ids-checkbox-text-hover);
        }

        .ids-form-control-checkbox:active & {
            color: var(--ids-checkbox-text-press);
        }
    }

    .ids-checkbox:disabled ~ .ids-checkbox__label {
        color: var(--ids-checkbox-text-disabled);
    }

    .ids-checkbox__label-text {
        display: block;
        padding-left: var(--ids-checkbox-margin);
    }

    /* Checkbox box */
    .ids-checkbox__box {
        background: var(--ids-checkbox-background);
        border: var(--ids-checkbox-one-px) solid var(--ids-checkbox-border);
        border-radius: var(--ids-checkbox-radius);
        color: var(--ids-checkbox-check);
        cursor: inherit;
        display: inline-block;
        flex: 0 0 auto;
        height: var(--ids-checkbox-size);
        margin: var(--ids-checkbox-top-space) 0 0;
        overflow: hidden;
        position: relative;
        transition: background 0.05s ease-in-out;
        width: var(--ids-checkbox-size);

        .ids-checkbox--completion ~ .ids-checkbox__label & {
            border-radius: var(--ids-checkbox-completion-radius);
            height: var(--ids-checkbox-completion-size);
            margin: 0;
            width: var(--ids-checkbox-completion-size);
        }

        .ids-checkbox:hover ~ .ids-checkbox__label & {
            background: var(--ids-checkbox-background-hover);
            border-color: var(--ids-checkbox-border-hover);
        }

        .ids-checkbox:checked ~ .ids-checkbox__label &,
        .ids-checkbox:indeterminate ~ .ids-checkbox__label &,
        .ids-form-control-checkbox:not(.ids-form-control-checkbox--disabled):active .ids-checkbox:checked ~ .ids-checkbox__label &,
        .ids-form-control-checkbox:not(.ids-form-control-checkbox--disabled):active .ids-checkbox:indeterminate ~ .ids-checkbox__label & {
            border-color: var(--ids-checkbox-border-checked);
            background: var(--ids-checkbox-background-checked);
        }

        .ids-checkbox:disabled ~ .ids-checkbox__label & {
            cursor: not-allowed;
            border-color: var(--ids-checkbox-border-disabled);
            background: var(--ids-checkbox-background-disabled);
        }

        .ids-checkbox--completion:disabled ~ .ids-checkbox__label & {
            border-color: var(--ids-checkbox-completion-border-disabled);
        }

        .ids-checkbox:focus ~ .ids-checkbox__label & {
            outline: none;
            box-shadow: var(--ids-checkbox-focus);
        }

        .ids-checkbox:checked:hover ~ .ids-checkbox__label &,
        .ids-checkbox:indeterminate:hover ~ .ids-checkbox__label & {
            border-color: var(--ids-checkbox-border-checked-hover);
        }

        .ids-checkbox:focus:not(:focus-visible) ~ .ids-checkbox__label & {
            box-shadow: none;
        }

        .ids-checkbox:disabled:hover ~ .ids-checkbox__label & {
            border-color: var(--ids-checkbox-border-disabled);
        }

        .ids-form-control-checkbox:active &,
        .ids-form-control-checkbox:active:hover & {
            background-color: var(--ids-checkbox-background-pressed);
            border-color: var(--ids-checkbox-border-pressed);
        }
    }

    /* Checkbox checkmark */
    .ids-checkbox ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-check-color-default);
        font-size: 0;
        height: var(--ids-checkbox-check-size);
        left: 50%;
        position: absolute;
        stroke-dasharray: 20;
        stroke-dashoffset: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--ids-checkbox-check-size);
    }

    .ids-checkbox--completion ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-completion-check-color-default);
    }

    .ids-checkbox:hover ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-check-color-hover);
    }

    .ids-checkbox--completion:hover ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-completion-check-color-hover);
    }

    .ids-checkbox:disabled ~ .ids-checkbox__label .ids-checkbox__check {
        visibility: hidden;
    }

    .ids-checkbox:checked ~ .ids-checkbox__label .ids-checkbox__check,
    .ids-checkbox:indeterminate ~ .ids-checkbox__label .ids-checkbox__check {
        animation: checkbox-check-animation .30s ease-out .15s forwards;
        color: var(--ids-checkbox-check-color-selected);
        stroke-dashoffset: 20;
    }

    .ids-checkbox--completion:checked ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-completion-check-color-selected);
    }

    .ids-checkbox:checked:hover ~ .ids-checkbox__label .ids-checkbox__check,
    .ids-checkbox:indeterminate:hover ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-check-color-selected);
    }

    .ids-checkbox--completion:checked:hover ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-completion-check-color-selected);
    }

    .ids-checkbox:checked:disabled ~ .ids-checkbox__label .ids-checkbox__check,
    .ids-checkbox:indeterminate:disabled ~ .ids-checkbox__label .ids-checkbox__check {
        animation: none;
        color: var(--ids-checkbox-check-color-disabled);
        stroke-dashoffset: 0;
        visibility: visible;
    }

    .ids-checkbox--completion:checked:disabled ~ .ids-checkbox__label .ids-checkbox__check
    .ids-checkbox--completion:indeterminate:disabled ~ .ids-checkbox__label .ids-checkbox__check {
        color: var(--ids-checkbox-completion-check-color-disabled);
    }

    @keyframes checkbox-check-animation {
        0% {
            opacity: 0;
            stroke-dashoffset: 20;
        }

        30% {
            opacity: 1;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }
}
