$types: (
  small: (
    100: 0.75rem,
    300: 1rem,
    400: 1.375rem,
    600: 1.8125rem,
    700: 2.375rem,
    display: 3.125rem,
  ),
  medium: (
    050: 0.75rem,
    100: 0.875rem,
    300: 1.125rem,
    400: 1.8125rem,
    600: 2.375rem,
    700: 2.875rem,
    display: 3.75rem,
  ),
)
