@import '~@igloo-ui/tokens/dist/base10/variables.css';
@import '~@igloo-ui/tokens/dist/fonts.css';
@import './animations';

:root {
  /* Default */
  --ids-tooltip-font-family: var(--primary-font-family);
  --ids-tooltip-font-size: var(--font-size-2);
  --ids-tooltip-padding: var(--space-2) var(--space-3);
  --ids-tooltip-border-radius: var(--border-radius-sm);
  --ids-tooltip-z-index: var(--z-index-max);
  --ids-tooltip-arrow-size: 5px;
  --ids-tooltip-spacing: var(--space-2);

  /* Theme */
  --ids-tooltip-text: var(--samoyed);
  --ids-tooltip-background: var(--grey-800);
  --ids-tooltip-shadow: none;
}

.ids-tooltip {
  font-family: var(--ids-btn-font-family);
  font-size: var(--ids-tooltip-font-size);
  position: absolute;
  padding: var(--ids-tooltip-padding);
  border-radius: var(--ids-tooltip-border-radius);
  z-index: var(--ids-tooltip-z-index);
  color: var(--ids-tooltip-text);
  background-color: var(--ids-tooltip-background);
  box-shadow: var(--ids-tooltip-shadow);
  pointer-events: none;
  user-select: none;
  width: max-content;
  animation: ids-tooltip-fadein 0.2s;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: var(--ids-tooltip-arrow-size) solid transparent;
  }

  &__container {
    position: relative;
    display: inline-block;
  }

  &--light {
    --ids-tooltip-text: var(--grey-800);
    --ids-tooltip-background: var(--samoyed);
    --ids-tooltip-shadow: var(--shadow-12);
  }

  &--top {
    text-align: center;
    bottom: calc(100% + var(--ids-tooltip-spacing));
    left: 50%;
    transform: translateX(-50%);

    &::after {
      top: 100%;
      left: calc(50% - var(--ids-tooltip-arrow-size));
      border-top-color: var(--ids-tooltip-background);
    }
  }

  &--right {
    text-align: left;
    left: calc(100% + var(--ids-tooltip-spacing));
    top: 50%;
    transform: translateY(-50%);

    &::after {
      top: calc(50% - var(--ids-tooltip-arrow-size));
      right: 100%;
      border-right-color: var(--ids-tooltip-background);
    }
  }

  &--bottom {
    text-align: center;
    top: calc(100% + var(--ids-tooltip-spacing));
    left: 50%;
    transform: translateX(-50%);

    &::after {
      bottom: 100%;
      left: calc(50% - var(--ids-tooltip-arrow-size));
      border-bottom-color: var(--ids-tooltip-background);
    }
  }

  &--left {
    text-align: right;
    right: calc(100% + var(--ids-tooltip-spacing));
    top: 50%;
    transform: translateY(-50%);

    &::after {
      top: calc(50% - var(--ids-tooltip-arrow-size));
      left: 100%;
      border-left-color: var(--ids-tooltip-background);
    }
  }
}
