@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-tooltip-font-family: #{tokens.$primary-font-family};
  --ids-tooltip-font-size: #{tokens.$font-size-2};
  --ids-tooltip-padding: #{tokens.$space-2} #{tokens.$space-3};
  --ids-tooltip-border-radius: #{tokens.$border-radius-sm};
  --ids-tooltip-z-index: #{tokens.$z-index-max};
  --ids-tooltip-arrow-size: 5px;
  --ids-tooltip-arrow-size-negatif: -10px;
  --ids-tooltip-spacing: #{tokens.$space-2};

  /* Theme */
  --ids-tooltip-text: #{tokens.$samoyed};
  --ids-tooltip-background: #{tokens.$electric-blue-900};
  --ids-tooltip-shadow: none;
}

.ids-tooltip {
  font-family: var(--ids-btn-font-family);
  font-size: var(--ids-tooltip-font-size);
  position: fixed;
  padding: var(--ids-tooltip-padding);
  border-radius: var(--ids-tooltip-border-radius);
  z-index: var(--ids-tooltip-z-index);
  color: var(--ids-tooltip-text);
  background-color: var(--ids-tooltip-background);
  box-shadow: var(--ids-tooltip-shadow);
  pointer-events: none;
  user-select: none;
  width: max-content;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &[data-show='true'] {
    opacity: 1;
  }

  &__arrow {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: var(--ids-tooltip-arrow-size) solid transparent;
  }

  &[data-text^='center'],
  &[data-popper-placement^='top'],
  &[data-popper-placement^='bottom']{
    text-align: center;
  }

  &[data-popper-placement^='bottom'] > .ids-tooltip__arrow {
    top: var(--ids-tooltip-arrow-size-negatif);
    border-bottom-color: var(--ids-tooltip-background);
  }

  &[data-popper-placement^='top'] > .ids-tooltip__arrow {
    bottom: var(--ids-tooltip-arrow-size-negatif);
    border-top-color: var(--ids-tooltip-background);
  }

  &[data-popper-placement^='left'] > .ids-tooltip__arrow {
    right: var(--ids-tooltip-arrow-size-negatif);
    border-left-color: var(--ids-tooltip-background);
  }

  &[data-popper-placement^='right'] > .ids-tooltip__arrow {
    left: var(--ids-tooltip-arrow-size-negatif);
    border-right-color: var(--ids-tooltip-background);
  }

  &__container {
    position: relative;
  }

  &--light {
    --ids-tooltip-text: var(--grey-800);
    --ids-tooltip-background: var(--samoyed);
    --ids-tooltip-shadow: var(--shadow-12);
  }
}
