@import '~@igloo-ui/tokens/dist/base10/variables.css';
@import '~@igloo-ui/tokens/dist/fonts.css';

:root {
  /* Default */
  --ids-tooltip-font-family: var(--primary-font-family);
  --ids-tooltip-padding: var(--space-2) var(--space-3);
  --ids-tooltip-border-radius: var(--border-radius-sm);
  --ids-tooltip-z-index: var(--z-index-max);
  --ids-tooltip-arrow-size: 5px;

  /* Dark */
  --ids-tooltip-text-dark: var(--samoyed);
  --ids-tooltip-backgroun-dark:var(--grey-800);
  --ids-tooltip-shadow-dark: none;

  /* Light */
  --ids-tooltip-text-light: var(--grey-800);
  --ids-tooltip-backgroun-light:var(--samoyed);
  --ids-tooltip-shadow-light: var(--shadow-6);
}

.ids-tooltip {
  font-family: var(--ids-btn-font-family);
  position: relative;
  padding: var(--ids-tooltip-padding);
  border-radius: var(--ids-tooltip-border-radius);
  z-index: var(--ids-tooltip-z-index);

  & {
    color: var(--ids-tooltip-text-light);
    background-color: var(--ids-tooltip-backgroun-light);
    box-shadow: var(--ids-tooltip-shadow-light);
  }

  &-dark {
    color: var(--ids-tooltip-text-dark);
    background-color: var(--ids-tooltip-backgroun-dark);
    box-shadow: var(--ids-tooltip-shadow-dark);
  }

  &--top {
    text-align: center;
  }

  &--top::after {
    text-align: center;
  }

  &--left {
    text-align: right;
  }

  &--bottom {
    text-align: center;
  }

  &--right {
    text-align: left;
  }

  &.has-arrow {
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
    }

    &.ids-tooltip--top {
      &::after {
        top: 100%;
        left: calc(50% - var(--ids-tooltip-arrow-size));
        border-left: var(--ids-tooltip-arrow-size) solid transparent;
        border-right: var(--ids-tooltip-arrow-size) solid transparent;
        border-top: var(--ids-tooltip-arrow-size) solid var(--ids-tooltip-backgroun-light);
      }

      &.ids-tooltip-dark::after {
        border-top-color: var(--ids-tooltip-backgroun-dark);
      }
    }

    &.ids-tooltip--right {
      &::after {
        top: calc(50% - var(--ids-tooltip-arrow-size));
        right: 100%;
        border-top: var(--ids-tooltip-arrow-size) solid transparent;
        border-bottom: var(--ids-tooltip-arrow-size) solid transparent;
        border-right: var(--ids-tooltip-arrow-size) solid var(--ids-tooltip-backgroun-light);
      }

      &.ids-tooltip-dark::after {
        border-right-color: var(--ids-tooltip-backgroun-dark);
      }
    }

    &.ids-tooltip--bottom {
      &::after {
        bottom: 100%;
        left: calc(50% - var(--ids-tooltip-arrow-size));
        border-left: var(--ids-tooltip-arrow-size) solid transparent;
        border-right: var(--ids-tooltip-arrow-size) solid transparent;
        border-bottom: var(--ids-tooltip-arrow-size) solid var(--ids-tooltip-backgroun-light);
      }

      &.ids-tooltip-dark::after {
        border-bottom-color: var(--ids-tooltip-backgroun-dark);
      }
    }

    &.ids-tooltip--left {
      &::after {
        top: calc(50% - var(--ids-tooltip-arrow-size));
        left: 100%;
        border-top: var(--ids-tooltip-arrow-size) solid transparent;
        border-bottom: var(--ids-tooltip-arrow-size) solid transparent;
        border-left: var(--ids-tooltip-arrow-size) solid var(--ids-tooltip-backgroun-light);
      }

      &.ids-tooltip-dark::after {
        border-left-color: var(--ids-tooltip-backgroun-dark);
      }
    }
  }
}


