@use '~@igloo-ui/tokens/dist/base10/variables';
@use '~@igloo-ui/tokens/dist/fonts';

.ids-kashim {
  display: flex;
  align-items: center;
  font-size: variables.$font-size-4;
  padding: variables.$space-3;
  background: paleturquoise;
}

.ids-kashim .ids-icon {
  margin-right: variables.$space-1;
}