@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-metric-background: #{tokens.$samoyed};
  --ids-metric-font-family: #{tokens.$primary-font-family};
  --ids-metric-font-size: #{tokens.$font-size-3};
  --ids-metric-padding: #{tokens.$space-2};
  --ids-metric-border-radius: #{tokens.$border-radius-sm};
  --ids-metric-line-height: #{tokens.$line-height-xxl};
  --ids-metric-focus-border-color: #{tokens.$electric-blue-600};

  /* Visual */
  --ids-metric-visual-background: #{tokens.$grey-400};
  --ids-metric-visual-border-radius: 4rem;
  --ids-metric-visual-color: #{tokens.$grey-600};
  --ids-metric-visual-size: #{tokens.$space-6};
  --ids-metric-visual-positive-background: #{tokens.$seaweed-50};
  --ids-metric-visual-positive-color: #{tokens.$seaweed-500};
  --ids-metric-visual-negative-background: #{tokens.$coral-100};
  --ids-metric-visual-negative-color: #{tokens.$coral-500};
  --ids-metric-visual-selected-background: #{tokens.$electric-blue-100};
  --ids-metric-visual-selected-color: #{tokens.$electric-blue-500};
  --ids-metric-visual-margin: 0 #{tokens.$space-3} 0 0;

  /* Hover */
  --ids-metric-hover-shadow: #{tokens.$shadow-12};
  --ids-metric-hover-background: #{tokens.$electric-blue-50};
  --ids-metric-hover-border-color: #{tokens.$electric-blue-500};

  /* Score */
  --ids-metric-score-margin-left: #{tokens.$space-2};

  /* Name */
  --ids-metric-name-color: #{tokens.$grey-600};

  /* Status */
  --ids-metric-status-color: #{tokens.$grey-500};
  --ids-metric-status-selected-color: #{tokens.$electric-blue-500};

  /* Fluctuate */
  --ids-metric-alignment-icon-margin: #{tokens.$space-2};

  /* Sub Metric */
  --ids-metric-sub-metric-border-color: #{tokens.$grey-300};
  --ids-metric-sub-metric-padding-left: #{tokens.$space-3};
  --ids-metric-sub-metric-focus-shadow: #{tokens.$focus};

  /* Sub Metric Selected */
  --ids-metric-sub-metric-selected-border-color: #{tokens.$grey-400};
  --ids-metric-sub-metric-selected-left-border-color: #{tokens.$electric-blue-500};
  --ids-metric-sub-metric-selected-left-border-width: #{tokens.$space-1};
}

.ids-metric {
  align-items: center;
  background: var(--ids-metric-background);
  border: .15rem solid transparent;
  border-radius: var(--ids-metric-border-radius);
  display: flex;
  font-family: var(--ids-metric-font-family);
  font-size: var(--ids-metric-font-size);
  outline: none;
  overflow: hidden;
  padding: var(--ids-metric-padding);
  position: relative;
  text-align: left;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  width: 100%;

  &,
  & * {
    box-sizing: border-box;
  }

  &:hover {
    box-shadow: var(--ids-metric-hover-shadow);
    cursor: pointer;
  }

  &.keyboard-focus {
    outline: none;
    border-color: var(--ids-metric-focus-border-color);
    box-shadow: var(--ids-metric-hover-shadow);
  }
}

.ids-metric--selected {
  box-shadow: none;

  &:hover {
    background: var(--ids-metric-hover-background);
    box-shadow: none;
  }

  &.keyboard-focus {
    background: var(--ids-metric-hover-background);
    box-shadow: none;
  }
}

.ids-metric--subMetric {
  border: .1rem solid var(--ids-metric-sub-metric-border-color);
  padding-left: var(--ids-metric-sub-metric-padding-left);

  &:hover {
    background: var(--ids-metric-hover-background);
    border-color: var(--ids-metric-hover-border-color);
    box-shadow: none;
  }

  &.keyboard-focus {
    background: var(--ids-metric-hover-background);
    border-color: var(--ids-metric-hover-border-color);
    box-shadow: var(--ids-metric-sub-metric-focus-shadow);
  }

  &.ids-metric--selected {
    border-color: var( --ids-metric-sub-metric-selected-border-color);

    &:hover {
      border-color: var(--ids-metric-hover-border-color);
    }

    &::before {
      background: var(--ids-metric-sub-metric-selected-left-border-color);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: var(--ids-metric-sub-metric-selected-left-border-width);
    }
  }
}

.ids-metric__visual {
  align-items: center;
  background: var(--ids-metric-visual-background);
  border-radius: var(--ids-metric-visual-border-radius);
  color: var(--ids-metric-visual-color);
  display: flex;
  flex: 0 0 auto;
  height: var(--ids-metric-visual-size);
  justify-content: center;
  margin: var(--ids-metric-visual-margin);
  width: var(--ids-metric-visual-size);

  &--positive {
    background: var(--ids-metric-visual-positive-background);
    color: var(--ids-metric-visual-positive-color);
  }
  
  &--negative {
    background: var(--ids-metric-visual-negative-background);
    color: var(--ids-metric-visual-negative-color);
  }
  
  &--selected {
    background: var(--ids-metric-visual-selected-background);
    color: var(--ids-metric-visual-selected-color);
  }
}

.ids-metric__content {
  flex: 1 1 auto;
}

.ids-metric__score-group {
  align-items: baseline;
  display: flex;

  & .ids-metric__score ~ .ids-metric__score  {
    margin-left: var(--ids-metric-score-margin-left);
  }
}

.ids-metric__name {
  align-items: center;
  color: var(--ids-metric-name-color);
  display: flex;
  line-height: var(--ids-metric-line-height);
}

.ids-metric__status {
  color: var(--ids-metric-status-selected-color);
  flex: 0 0 auto;
  transition: opacity 0.2s ease-in-out;

  &--tooltip {
    color: var(--ids-metric-status-color);
    opacity: 0;
  }

  .ids-metric:hover &--tooltip {
    opacity: 1;
  }
}

.ids-metric__alignment-icon {
  flex: 0 0 auto;
  margin-right: var(--ids-metric-alignment-icon-margin);
}
  