@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-color-picker-option-border-radius: #{tokens.$border-radius-md};
  --ids-color-picker-option-border-size: 0.15rem;
  --ids-color-picker-option-padding: #{tokens.$space-1};

  /* Focused */
  --ids-color-picker-option-border-color-focus: #{tokens.$electric-blue-600};

  /* Hovered */
  --ids-color-picker-option-border-color-hover: #{tokens.$grey-600};

  /* Selected */
  --ids-color-picker-option-border-color-selected: #{tokens.$grey-400};

}

[data-brand="workleap"] {
  /* Default */
  --ids-color-picker-option-border-radius: var(--hop-shape-circle);
  --ids-color-picker-option-border-size: 0.09rem;
  --ids-color-picker-option-padding: var(--hop-space-inset-xs);

  /* Focused */
  --ids-color-picker-option-border-color-focus: var(--hop-primary-border-focus);

  /* Hovered */
  --ids-color-picker-option-border-color-hover: transparent;

  /* Selected */
  --ids-color-picker-option-border-color-selected: transparent;
}

.ids-color-picker-option {
  border: var(--ids-color-picker-option-border-size) solid transparent;
  border-radius: var(--ids-color-picker-option-border-radius);
  cursor: pointer;
  flex: 0 0 auto;
  outline: 0;
  padding: var(--ids-color-picker-option-padding);
  position: relative;

  &--hovered {
    border-color: var(--ids-color-picker-option-border-color-hover);
  }

  &--selected {
    border-color: var(--ids-color-picker-option-border-color-selected);
    cursor: default;
  }

  &--focused {
    border-color: var(--ids-color-picker-option-border-color-focus);
  }
}

.ids-color-picker-option .ids-color__inner {
  transition: background-color .2s ease-out;
}

.ids-color-picker-option--hovered .ids-color__inner {
  background-color: var(--ids-color-picker-option-color-hover); /* variable set in code */
}

.ids-color-picker-option svg {
  color: var(--ids-color-picker-option-icon-color); /* Variable set in code */
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
