@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-form-group-font-family: #{tokens.$primary-font-family};
  --ids-form-group-font-size: #{tokens.$font-size-3};
  --ids-form-group-line-height: #{tokens.$line-height-xxl};

  /* Label */
  --ids-form-group-label-color: #{tokens.$grey-600};
  --ids-form-group-label-margin-bottom: #{tokens.$space-1};

  /* Message */
  --ids-form-group-message-margin-top: #{tokens.$space-1};
}

.ids-form-group {
  font-family: var(--ids-form-group-font-family);
  font-size: var(--ids-form-group-font-size);
  line-height: var(--ids-form-group-line-height);

  &,
  & * {
    box-sizing: border-box;
  }

  &__label {
    color: var(--ids-form-group-label-color);
    display: block;
    margin-bottom: var(--ids-form-group-label-margin-bottom);
  }

  &__message {
    align-items: center;
    display: flex;
    margin-top: var(--ids-form-group-message-margin-top);
  }
}
