@import '~@igloo-ui/tokens/dist/base10/variables';
@import '~@igloo-ui/tokens/dist/fonts.css';

:root {
  /* Default */
  --ids-button-group-font-family: #{$primary-font-family};
  --ids-button-group-font-size: #{$font-size-4};
}

.ids-btn-group {
  font-family: var(--ids-button-group-font-family);
  font-size: var(--ids-button-group-font-size);
  height: $space-6;
  color: $grey-800;
  display: flex;

  &--small {
    height: $space-5;
  }

  &__item {
    position: relative;
    border-color: $grey-300;
    border-width: 1px;
    border-style: solid;
    background-color: $samoyed;

    padding: 0 $space-3;
    z-index: $z-index-0;

    &:active,
    &:hover,
    &:focus,
    &.is-selected {
      z-index: $z-index-max;
    }

    &:first-child {
      border-top-left-radius: $border-radius-sm;
      border-bottom-left-radius: $border-radius-sm;
    }

    &:last-child {
      border-top-right-radius: $border-radius-sm;
      border-bottom-right-radius: $border-radius-sm;
    }

    &:hover {
      border-color: $grey-600;
      cursor: pointer;
    }

    &:focus {
      outline: 0;
      border-color: $electric-blue-600;
      box-shadow: 0 0 0 1px $electric-blue-600;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &.is-selected {
      border-color: $electric-blue-500;
      color: $electric-blue-500;
      background-color: $electric-blue-50;
    }

    &.is-disabled {
      border-color: $grey-300;
      background-color: $grey-300;
      color: $grey-600;
      pointer-events: none;
      user-select: none;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }
}
