@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-button-group-font-family: #{tokens.$primary-font-family};
  --ids-button-group-font-size: #{tokens.$font-size-4};
  --ids-button-group-text: #{tokens.$grey-800};
  --ids-button-group-heigth: #{tokens.$space-6};
  --ids-button-group-min-width: #{tokens.$space-10};
  --ids-button-group-border: #{tokens.$grey-300};
  --ids-button-group-border-hover: #{tokens.$grey-600};
  --ids-button-group-border-width: 1px;
  --ids-button-group-border-radius: #{tokens.$border-radius-sm};
  --ids-button-group-background: #{tokens.$samoyed};
  --ids-button-group-index: #{tokens.$z-index-0};
  --ids-button-group-index-max: #{tokens.$z-index-max};
  --ids-button-group-focus: 0 0 0 2px #{tokens.$electric-blue-600};

  /* Selected */
  --ids-button-group-border-selected: #{tokens.$electric-blue-500};
  --ids-button-group-text-selected: #{tokens.$electric-blue-500};
  --ids-button-group-background-selected: #{tokens.$electric-blue-50};
  --ids-button-group-index-selected: #{tokens.$z-index-20};

  /* Disabled */
  --ids-button-group-border-disabled: #{tokens.$grey-300};
  --ids-button-group-text-disabled: #{tokens.$grey-600};
  --ids-button-group-background-disabled: #{tokens.$grey-300};

  /* Variant */
  --ids-button-group-padding-small: #{tokens.$space-1};
  --ids-button-group-padding-compact: #{tokens.$space-2};
  --ids-button-group-height-small: #{tokens.$space-5};
}

.ids-btn-group {
  display: flex;
  font-family: var(--ids-button-group-font-family);
  font-size: var(--ids-button-group-font-size);
  color: var(--ids-button-group-text);
  height: var(--ids-button-group-heigth);
  min-width: var(--ids-button-group-min-width);
}

.ids-btn-group__item {
  font-size: inherit;
  position: relative;
  border-style: solid;
  border-color: var(--ids-button-group-border);
  border-width: var(--ids-button-group-border-width);
  background-color: var(--ids-button-group-background);
  margin: 0;
  padding: 0 tokens.$space-3;
  z-index: var(--ids-button-group-index);

  &:active,
  &:hover,
  &:focus,
  &.is-selected {
    z-index: var(--ids-button-group-index-max);
  }

  &:first-child {
    border-top-left-radius: var(--ids-button-group-border-radius);
    border-bottom-left-radius: var(--ids-button-group-border-radius);
  }

  &:last-child {
    border-top-right-radius: var(--ids-button-group-border-radius);
    border-bottom-right-radius: var(--ids-button-group-border-radius);
  }

  &:hover {
    border-color: var(--ids-button-group-border-hover);
    cursor: pointer;
  }

  &:focus {
    outline: 0;
    box-shadow: var(--ids-button-group-focus);
  }

  &:not(:first-child) {
    margin-left: -1px;
  }

  &.is-selected {
    border-color: var(--ids-button-group-border-selected);
    color: var(--ids-button-group-text-selected);
    background-color: var(--ids-button-group-background-selected);
    z-index: var(--ids-button-group-index-selected);
  }

  &.is-disabled {
    border-color: var(--ids-button-group-border-disabled);
    background-color: var(--ids-button-group-background-disabled);
    color: var(--ids-button-group-text-disabled);
    pointer-events: none;
    user-select: none;
  }
}

.ids-btn-group--compact {
  .ids-btn-group__item {
    padding-left: var(--ids-button-group-padding-compact);
    padding-right: var(--ids-button-group-padding-compact);
  }

  &.ids-btn-group--small {
    .ids-btn-group__item {
      padding-left: var(--ids-button-group-padding-small);
      padding-right: var(--ids-button-group-padding-small);
    }
  }
}

.ids-btn-group--small {
  height: var(--ids-button-group-height-small);
}

.ids-btn-group__item:focus:not(:focus-visible) {
  box-shadow: none;
}
