@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

@import url('~@hopper-ui/tokens/fonts.css') layer(hopper-design-system);
@import url('~@hopper-ui/tokens/tokens.css') layer(hopper-design-system);

@layer igloo {
    :root {
        /* Default */
        --ids-button-group-font-family: #{tokens.$primary-font-family};
        --ids-button-group-font-size: #{tokens.$font-size-4};
        --ids-button-group-font-weight: #{tokens.$font-weight-regular};
        --ids-button-group-text: #{tokens.$grey-800};
        --ids-button-group-box-sizing: content-box;
        --ids-button-group-display: flex;
        --ids-button-group-height: #{tokens.$space-6};
        --ids-button-group-padding: 0;
        --ids-button-group-gap: 0;
        --ids-button-group-background: none;
        --ids-button-group-border: none;
        --ids-button-group-border-radius: 0;
        --ids-button-group-item-border-color: #{tokens.$grey-300};
        --ids-button-group-item-border-width: .1rem;
        --ids-button-group-item-border-radius-left: #{tokens.$border-radius-sm} 0 0 #{tokens.$border-radius-sm};
        --ids-button-group-item-border-radius-right: 0 #{tokens.$border-radius-sm} #{tokens.$border-radius-sm} 0;
        --ids-button-group-item-border-radius-middle: 0;
        --ids-button-group-item-background: #{tokens.$samoyed};
        --ids-button-group-item-margin: -0.1rem;
        --ids-button-group-item-padding: calc(#{tokens.$space-1} / 2) #{tokens.$space-3};
        --ids-button-group-item-index: #{tokens.$z-index-0};
        --ids-button-group-item-index-max: #{tokens.$z-index-max};
        --ids-button-group-item-focus: 0 0 0 .2rem #{tokens.$electric-blue-600};

        /* Hover */
        --ids-button-group-item-text-hover: var(--ids-button-group-text);
        --ids-button-group-item-background-hover: var(--ids-button-group-item-background);
        --ids-button-group-item-border-color-hover: #{tokens.$grey-600};

        /* Active */
        --ids-button-group-item-text-pressed: var(--ids-button-group-text);
        --ids-button-group-item-background-pressed: var(--ids-button-group-item-background);
        --ids-button-group-item-border-color-pressed: #{tokens.$grey-600};

        /* Selected */
        --ids-button-group-item-border-selected: #{tokens.$electric-blue-500};
        --ids-button-group-item-text-selected: #{tokens.$electric-blue-500};
        --ids-button-group-item-background-selected: #{tokens.$electric-blue-50};
        --ids-button-group-item-index-selected: #{tokens.$z-index-20};

        /* Disabled */
        --ids-button-group-item-border-disabled: #{tokens.$grey-300};
        --ids-button-group-item-text-disabled: #{tokens.$grey-600};
        --ids-button-group-item-background-disabled: #{tokens.$grey-300};

        /* Variant */
        --ids-button-group-font-size-small: #{tokens.$font-size-3};
        --ids-button-group-item-horizontal-padding-small: #{tokens.$space-1};
        --ids-button-group-item-horizontal-padding-compact: #{tokens.$space-2};
        --ids-button-group-height-small: #{tokens.$space-5};

        /* With icons */
        --ids-button-group-icon-spacing: #{tokens.$space-1};
        --ids-button-group-item-icon-only-width: auto;
        --ids-button-group-item-icon-only-width-compact: auto;
    }

    [data-brand="workleap"] {
        /* Default */
        --ids-button-group-font-family: var(--hop-body-sm-medium-font-family);
        --ids-button-group-font-size: var(--hop-body-sm-medium-font-size);
        --ids-button-group-font-weight: var(--hop-body-sm-medium-font-weight);
        --ids-button-group-text: var(--hop-neutral-text);
        --ids-button-group-box-sizing: border-box;
        --ids-button-group-display: inline-flex;
        --ids-button-group-height: 2.5rem;
        --ids-button-group-padding: var(--hop-space-inset-xs);
        --ids-button-group-gap: var(--hop-space-inline-xs);
        --ids-button-group-background: var(--hop-neutral-surface);
        --ids-button-group-border: 0.0625rem solid var(--hop-neutral-border);
        --ids-button-group-border-radius: var(--hop-shape-rounded-md);
        --ids-button-group-item-border-color: transparent;
        --ids-button-group-item-border-width: 0;
        --ids-button-group-item-border-radius-left: var(--hop-shape-rounded-sm);
        --ids-button-group-item-border-radius-right: var(--hop-shape-rounded-sm);
        --ids-button-group-item-border-radius-middle: var(--hop-shape-rounded-sm);
        --ids-button-group-item-background: var(--hop-neutral-surface);
        --ids-button-group-item-margin: 0;
        --ids-button-group-item-padding: calc(var(--hop-space-inset-xs) / 2) var(--hop-space-inset-md);
        --ids-button-group-item-index: 0;
        --ids-button-group-item-index-max: 999;
        --ids-button-group-item-focus: 0 0 0 0.09375rem var(--hop-primary-border-focus);

        /* Hover */
        --ids-button-group-item-text-hover: var(--hop-neutral-text-hover);
        --ids-button-group-item-background-hover: var(--hop-neutral-surface-hover);
        --ids-button-group-item-border-color-hover: transparent;

        /* Active */
        --ids-button-group-item-text-pressed: var(--hop-neutral-text-press);
        --ids-button-group-item-background-pressed: var(--hop-neutral-surface-press);
        --ids-button-group-item-border-color-pressed: transparent;

        /* Selected */
        --ids-button-group-item-border-selected: transparent;
        --ids-button-group-item-text-selected: var(--hop-neutral-text-selected);
        --ids-button-group-item-background-selected: var(--hop-neutral-surface-selected);
        --ids-button-group-item-index-selected: 20;

        /* Disabled */
        --ids-button-group-item-border-disabled: transparent;
        --ids-button-group-item-text-disabled: var(--hop-neutral-text-disabled);
        --ids-button-group-item-background-disabled: transparent;

        /* Variant */
        --ids-button-group-font-size-small: var(--hop-body-sm-medium-font-size);
        --ids-button-group-item-horizontal-padding-small: var(--hop-space-inset-md);
        --ids-button-group-item-horizontal-padding-compact: var(--hop-space-inset-sm);
        --ids-button-group-height-small: 2rem;

        /* With icons */
        --ids-button-group-icon-spacing: var(--hop-space-inline-xs);
        --ids-button-group-item-icon-only-width: 6rem;
        --ids-button-group-item-icon-only-width-compact: auto;
    }

    .ids-btn-group {
        background: var(--ids-button-group-background);
        border: var(--ids-button-group-border);
        border-radius: var(--ids-button-group-border-radius);
        color: var(--ids-button-group-text);
        display: var(--ids-button-group-display);
        font-family: var(--ids-button-group-font-family);
        font-size: var(--ids-button-group-font-size);
        font-weight: var(--ids-button-group-font-weight);
        gap: var(--ids-button-group-gap);
        min-height: var(--ids-button-group-height);
        padding: var(--ids-button-group-padding);

        &,
        & * {
            box-sizing: var(--ids-button-group-box-sizing);
        }

        //The following declarations are required to support the tooltip in the ButtonGroup
        > *:first-child .ids-btn-group__item {
            border-radius: var(--ids-button-group-item-border-radius-left);
        }

        > *:last-child .ids-btn-group__item {
            border-radius: var(--ids-button-group-item-border-radius-right);
        }

        > *:not(:first-child) {
            margin-left: var(--ids-button-group-item-margin);
        }
    }

    .ids-btn-group__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        position: relative;
        border-style: solid;
        border-color: var(--ids-button-group-item-border-color);
        border-width: var(--ids-button-group-item-border-width);
        border-radius: var(--ids-button-group-item-border-radius-middle);
        background-color: var(--ids-button-group-item-background);
        margin: 0;
        padding: var(--ids-button-group-item-padding);
        z-index: var(--ids-button-group-item-index);

        &.is-icon-only {
            width: var(--ids-button-group-item-icon-only-width);
        }

        &:active,
        &:hover,
        &:focus,
        &.is-selected {
            z-index: var(--ids-button-group-item-index-max);
        }

        &[data-item="is-first"] {
            border-radius: var(--ids-button-group-item-border-radius-left);
        }

        &[data-item="is-last"] {
            border-radius: var(--ids-button-group-item-border-radius-right);
        }

        &:hover {
            background-color: var(--ids-button-group-item-background-hover);
            border-color: var(--ids-button-group-item-border-color-hover);
            color: var(--ids-button-group-item-text-hover);
            cursor: pointer;
        }

        &:active,
        &:active:hover {
            background-color: var(--ids-button-group-item-background-pressed);
            border-color: var(--ids-button-group-item-border-color-pressed);
            color: var(--ids-button-group-item-text-pressed);
        }

        &:focus {
            outline: 0;
            background: var(--ids-button-group-item-background-hover);
            box-shadow: var(--ids-button-group-item-focus);
        }

        &.is-selected {
            border-color: var(--ids-button-group-item-border-selected);
            color: var(--ids-button-group-item-text-selected);
            background-color: var(--ids-button-group-item-background-selected);
            z-index: var(--ids-button-group-item-index-selected);
        }

        &.is-disabled {
            border-color: var(--ids-button-group-item-border-disabled);
            background-color: var(--ids-button-group-item-background-disabled);
            color: var(--ids-button-group-item-text-disabled);
            pointer-events: none;
            user-select: none;
        }
    }

    .ids-btn-group--compact {
        .ids-btn-group__item {
            padding-left: var(--ids-button-group-item-horizontal-padding-compact);
            padding-right: var(--ids-button-group-item-horizontal-padding-compact);

            &.is-icon-only {
                width: var(--ids-button-group-item-icon-only-width-compact);
            }

            > svg {
                margin-left: var(--ids-button-group-item-margin);
                margin-right: var(--ids-button-group-item-margin);
            }
        }

        &.ids-btn-group--small {
            .ids-btn-group__item {
                padding-left: var(--ids-button-group-item-horizontal-padding-small);
                padding-right: var(--ids-button-group-item-horizontal-padding-small);
            }
        }
    }

    .ids-btn-group--small {
        font-size: var(--ids-button-group-font-size-small);
        min-height: var(--ids-button-group-height-small);
    }

    .ids-btn-group__item:focus:not(:focus-visible) {
        box-shadow: none;
    }

    .ids-btn-group__text {
        margin-left: var(--ids-button-group-icon-spacing);
    }
}
