@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  --ids-modal-font-family: #{tokens.$primary-font-family};
  --ids-modal-font-size: #{tokens.$font-size-4};
  --ids-modal-background: #{tokens.$samoyed};
  --ids-modal-text: #{tokens.$black};
  --ids-modal-padding: #{tokens.$space-3};
  --ids-modal-safe-area: #{tokens.$space-0};
  --ids-modal-index: #{tokens.$z-index-100};
  --ids-modal-shadow: none;
  --ids-modal-radius: 0;
  --ids-modal-height: 100%;
  --ids-modal-width: 100%;
  --ids-modal-max-width: none;
  --ids-modal-header-display: flex;
  --ids-modal-header-before-display: block;
  --ids-modal-header-border: 1px solid #{tokens.$grey-200};
  --ids-modal-header-width: calc(#{tokens.$space-3} + #{tokens.$space-4});
  --ids-modal-header-height: 5.6rem;
  --ids-modal-header-font-family: #{tokens.$secondary-font-family};
  --ids-modal-header-font-size: #{tokens.$font-size-3};
  --ids-modal-header-font-weight: #{tokens.$font-weight-medium};
  --ids-modal-header-line-height: #{tokens.$line-height-lg};
  --ids-modal-header-padding: #{tokens.$space-0} #{tokens.$space-3};
  --ids-modal-back-margin: #{tokens.$space-0} #{tokens.$space-3} #{tokens.$space-0} #{tokens.$space-0};
  --ids-modal-close-margin: #{tokens.$space-0} #{tokens.$space-0} #{tokens.$space-0} #{tokens.$space-3};
  --ids-modal-overlay: rgb(25 34 47 / 50%);
  --ids-modal-overlay-index: #{tokens.$z-index-100};
  --ids-modal-full-content-display: block;
  --ids-modal-footer-margin: #{tokens.$space-2} -#{tokens.$space-2} -#{tokens.$space-2};
  --ids-modal-footer-action-margin: #{tokens.$space-2};
}

@media (min-width: #{tokens.$breakpoints-sm}) {
  :root {
    --ids-modal-radius: #{tokens.$border-radius-sm};
    --ids-modal-shadow: #{tokens.$shadow-12};
    --ids-modal-height: auto;
    --ids-modal-width: 46rem;
    --ids-modal-width-medium: 58.4rem;
    --ids-modal-width-large: 66.4rem;
    --ids-modal-width-xlarge: 80rem;
    --ids-modal-max-width: 94%;
    --ids-modal-bottom: auto;
    --ids-modal-left: 50%;
    --ids-modal-right: auto;
    --ids-modal-top: 50%;
    --ids-modal-header-display: none;
    --ids-modal-header-before-display: none;
    --ids-modal-header-direction: column-reverse;
    --ids-modal-header-border: none;
    --ids-modal-header-height: auto;
    --ids-modal-header-font-size: #{tokens.$font-size-6};
    --ids-modal-header-padding: #{tokens.$space-4} #{tokens.$space-4} #{tokens.$space-2};
    --ids-modal-title-display: none;
    --ids-modal-close-margin: -#{tokens.$space-2} -#{tokens.$space-2} #{tokens.$space-0} #{tokens.$space-0};
    --ids-modal-close-align: flex-end;
    --ids-modal-padding: #{tokens.$space-4};
    --ids-modal-safe-area: #{tokens.$space-3};
    --ids-modal-full-content-padding: #{tokens.$space-3};
    --ids-modal-full-content-display: none;
  }
}

.ids-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ids-modal-overlay);
  z-index: var(--ids-modal-overlay-index);
}

.ids-modal {
  background-color: var(--ids-modal-background);
  border-radius: var(--ids-modal-radius);
  box-shadow: var(--ids-modal-shadow);
  box-sizing: border-box;
  color: var(--ids-modal-text);
  font-family: var(--ids-modal-font-family);
  font-size: var(--ids-modal-font-size);
  height: var(--ids-modal-height);
  max-height: 100%;
  max-width: var(--ids-modal-max-width);
  overflow-y: auto;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: var(--ids-modal-width);
  z-index: var(--ids-modal-index);

  /* Removes the focus-within outline around the modal */
  outline: none;

  &--medium {
    width: var(--ids-modal-width-medium, 100%);
  }

  &--large {
    width: var(--ids-modal-width-large, 100%);
  }

  &--xlarge {
    width: var(--ids-modal-width-xlarge, 100%);
  }
}

.ids-modal__header {
  &--with-action {
    display: var(--ids-modal-header-display);
    justify-content: flex-end;
    align-items: center;
    padding: var(--ids-modal-header-padding);
    border-bottom: var(--ids-modal-header-border);
    min-height: var(--ids-modal-header-height);
  }

  &--with-back-btn {
    --ids-modal-header-before-display: none;
  }

  .ids-modal--with-header & {
    position: relative;
    display: flex;
    flex-direction: var(--ids-modal-header-direction, initial);
    align-items: center;
    padding: var(--ids-modal-header-padding);
    border-bottom: var(--ids-modal-header-border);
    min-height: var(--ids-modal-header-height);
  }

  &::before {
    content: '';
    display: var(--ids-modal-header-before-display);
    min-width: var(--ids-modal-header-width);
  }

  .ids-modal__back {
    margin: var(--ids-modal-back-margin);

    @media (min-width: #{tokens.$breakpoints-sm}) {
      display: none;
    }
  }
}

.ids-modal__title {
  flex: 1 1 100%;
  text-align: center;
  font-family: var(--ids-modal-header-font-family);
  font-size: var(--ids-modal-header-font-size);
  font-weight: var(--ids-modal-header-font-weight);
  line-height: var(--ids-modal-header-line-height);
  margin: 0;

  .ids-modal--full-content & {
    display: var(--ids-modal-full-content-display);
  }
}

.ids-modal__close {
  margin: var(--ids-modal-close-margin);
  align-self: var(--ids-modal-close-align, initial);
}

.ids-modal__content {
  padding: var(--ids-modal-padding);

  .ids-modal--full-content & {
    --ids-modal-padding: #{tokens.$space-3};
  }
}

.ids-modal__footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: var(--ids-modal-footer-margin);

  @media (min-width: #{tokens.$breakpoints-sm}) {
    flex-wrap: nowrap;
  }
}

.ids-modal__footer-action {
  flex: 1 1 100%;
  margin: var(--ids-modal-footer-action-margin);

  @media (min-width: #{tokens.$breakpoints-sm}) {
    flex: 0 0 auto;
  }
}
