@use '../../../node_modules/@igloo-ui/tokens/dist/base10/variables' as tokens;

:root {
  /* Default */
  --ids-dropdown-value-padding: #{tokens.$space-2} #{tokens.$space-3};
  --ids-dropdown-value-gap: #{tokens.$space-1};

  /* Compact **/
  --ids-dropdown-value-padding-compact: #{tokens.$space-1} #{tokens.$space-3};

  /* Disabled */
  --ids-dropdown-value-color-disabled: #{tokens.$grey-500};

  /* Placeholder */
  --ids-dropdown-value-color-placeholder: #{tokens.$grey-400};
}

.ids-select-value {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  gap: var(--ids-dropdown-value-gap);
  padding: var(--ids-dropdown-value-padding);

  &--compact {
    padding: var(--ids-dropdown-value-padding-compact);
  }

  &--disabled {
    color: var(--ids-dropdown-value-color-disabled);
  }

  &--placeholder {
    color: var(--ids-dropdown-value-color-placeholder);
  }

  &__icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    order: 0;

    svg {
      align-self: center;
    }
  }

  &__label {
    order: 1;
  }
}
