@use "~@igloo-ui/tokens/dist/base10/variables" as tokens;

@layer igloo {
    :root {
        /* Default */
        --ids-select-input-height: #{tokens.$space-6};
        --ids-select-input-chevron-padding: 0 #{tokens.$space-2};
        --ids-select-input-chevron-color: #{tokens.$grey-800};
        --ids-select-input-search-height: 3.9rem;
        --ids-select-input-actions-padding: 0 #{tokens.$space-2};

        /* Compact **/
        --ids-select-input-height-compact: #{tokens.$space-5};

        /* Disabled */
        --ids-select-input-chevron-color-disabled: #{tokens.$grey-600};
    }

    [data-brand="workleap"] {
        /* Default */
        --ids-select-input-height: 2.5rem;
        --ids-select-input-chevron-padding: 0;
        --ids-select-input-chevron-color: var(--hop-neutral-icon-weak);
        --ids-select-input-search-height: 2.4375rem;
        --ids-select-input-actions-padding: 0 var(--hop-space-inline-sm);

        /* Compact **/
        --ids-select-input-height-compact: 2rem;

        /* Disabled */
        --ids-select-input-chevron-color-disabled: var(--hop-neutral-icon-disabled);
    }

    .ids-select__input {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        height: var(--ids-select-input-height);
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .ids-select--compact & {
            height: var(--ids-select-input-height-compact);
        }

        & &__chevron {
            color: var(--ids-select-input-chevron-color);
            padding: var(--ids-select-input-chevron-padding);
            display: flex;
            align-items: center;
            order: 99;
            width: auto;
            flex: 0 0 auto;
        }

        &--disabled &__chevron {
            color: var(--ids-select-input-chevron-color-disabled);
        }
    }

    .ids-select__input-search {
        background: none;
        border: none;
        height: var(--ids-select-input-search-height);
        flex: 1 1 100%;

        &:focus {
            border: none;
        }
    }

    .ids-select__input-actions {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        margin-left: auto;
        padding: var(--ids-select-input-actions-padding);
    }

    .ids-select__input-clear {
        flex: 0 0 auto;
    }
}
