@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;

:root {
  /* Default */

  /* Selected */
  --ids-select-option-selected-background-color: #{tokens.$electric-blue-50};

  /* Disabled */
  --ids-select-option-disabled-color: #{tokens.$grey-600};
}

.ids-select-option {
  width: 100%;
  user-select: none;

  &--selected, &:hover, &:focus {
    background-color: var(--ids-select-option-selected-background-color);
    outline: 0;
    box-shadow: none;
  }

  &--disabled, &--disabled:hover, &--disabled:active {
    background-color: transparent;
    color: var(--ids-select-option-disabled-color);
    cursor: not-allowed;
  }
}