@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;

:root {
  /* Default */
  --ids-select-header-padding: 0 #{tokens.$space-2};
  --ids-select-header-chevron: #{tokens.$grey-800};

  /* Disabled */
  --ids-select-header-chevron-disabled: #{tokens.$grey-600};
}

.ids-select-header {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  &__chevron {
    color: var(--ids-select-header-chevron);

    padding: var(--ids-select-header-padding);

    display: flex;
    align-items: center;
    order: 99;
  }

  &--disabled &__chevron {
    color: var(--ids-select-header-chevron-disabled);
  }
}
