@use "~@igloo-ui/tokens/dist/base10/variables" as tokens;

@layer igloo {
    :root {
        /* Default */
        --ids-select-input-chevron-color: #{tokens.$grey-800};
        --ids-select-input-search-height: 3.9rem;
        --ids-select-input-actions-padding: 0 #{tokens.$space-2};

        /* Disabled */
        --ids-select-input-chevron-color-disabled: #{tokens.$grey-600};
    }

    [data-brand="workleap"] {
        /* Default */
        --ids-select-input-chevron-color: var(--hop-neutral-icon-weak);
        --ids-select-input-search-height: 2.4375rem;
        --ids-select-input-actions-padding: 0 var(--hop-space-inline-md) 0 var(--hop-space-inline-sm);

        /* Disabled */
        --ids-select-input-chevron-color-disabled: var(--hop-neutral-icon-disabled);
    }

    .ids-select__input {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        & &__chevron {
            align-items: center;
            color: var(--ids-select-input-chevron-color);
            flex: 0 0 auto;

            &--disabled &__chevron {
                color: var(--ids-select-input-chevron-color-disabled);
            }
        }
    }

    .ids-select__input-search {
        background: none;
        border: none;
        height: var(--ids-select-input-search-height);
        flex: 1 1 100%;

        &:focus {
            border: none;
        }
    }

    .ids-select__input-actions {
        align-items: center;
        color: var(--ids-select-input-chevron-color);
        display: flex;
        flex: 0 0 auto;
        margin-left: auto;
        padding: var(--ids-select-input-actions-padding);

    }

    .ids-select__input-clear {
        flex: 0 0 auto;
    }
}
