@use "~@igloo-ui/tokens/dist/base10/variables" as tokens;

:root {
    /* Default */
    --ids-select-value-padding: #{tokens.$space-2} #{tokens.$space-3};

    /* Compact **/
    --ids-select-value-padding-compact: #{tokens.$space-1} #{tokens.$space-3};

    /* Disabled */
    --ids-select-value-color-disabled: #{tokens.$grey-500};

    /* Placeholder */
    --ids-select-value-color-placeholder: #{tokens.$grey-400};

    /* Visual Identifier */
    --ids-select-value-icon-size: #{tokens.$space-4};
    --ids-select-value-icon-margin-right: #{tokens.$space-2};
}

[data-brand="workleap"] {
    /* Default */
    --ids-select-value-padding: var(--hop-space-stack-sm) var(--hop-space-inline-md);

    /* Compact **/
    --ids-select-value-padding-compact: calc(var(--hop-space-stack-sm) - var(--ids-select-border-width) * 2) var(--hop-space-inline-md);

    /* Placeholder */
    --ids-select-value-color-placeholder: var(--hop-neutral-text-weakest);

    /* Visual Identifier */
    --ids-select-value-icon-size: 1.5rem;
    --ids-select-value-icon-margin-right: var(--hop-space-inline-sm);
}

.ids-select__value {
    display: flex;
    flex: 1 1 100%;
    flex-flow: row nowrap;
    align-content: center;
    padding: var(--ids-select-value-padding);
    white-space: nowrap;
    overflow: hidden;

    &--compact {
        padding: var(--ids-select-value-padding-compact);
    }

    &--disabled {
        color: var(--ids-select-value-color-disabled);
    }

    &--placeholder {
        color: var(--ids-select-value-color-placeholder);
    }

    svg {
        order: 0;
        align-self: center;
    }
}

.ids-select__value-visual-identifier-container {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: var(--ids-select-value-icon-size);
    justify-content: center;
    margin-right: var(--ids-select-value-icon-margin-right);
    width: var(--ids-select-value-icon-size);
}
