@import '~@igloo-ui/tokens/dist/base10/variables.css';

body,
.sb-show-main {
  text-rendering: geometricPrecision;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.isb-section {
  display: flex;
}

.isb-section > * {
  margin-left: var(--space-3);
}

.isb-section--column {
  flex-direction: column;
  gap: var(--space-5);
}

.isb-section--column > * {
  margin-left: 0;
}

.isb-section__title {
  font-weight: var(--font-weight-regular);
  color: var(--grey-800);
}

.isb-element__thin {
  max-width: 100px;
}

.isb-trigger {
  display: inline-block;
  width: var(--space-2);
  height: var(--space-2);
  border-radius: 50%;
  background-color: var(--electric-blue-500);
}

.isb-popover__item {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.isb-popover__tag {
  border-radius: 50%;
  width: var(--space-2);
  height: var(--space-2);
}

.isb-popover__value {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-semi-bold);
  color: var(--grey-800);
}

.gv-mockup {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
}

.gv-mockup__visual {
  flex: 1 1 50%;
  aspect-ratio: 3/4;
  background-color: #ccced2;
  border-radius: 8px 0 0 8px;
}

.gv-mockup__content {
  flex: 1 1 50%;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.gv-mockup__formGroup {
  display: flex;
  gap: 0.8rem;
}

.gv-mockup__formGroup--column {
  margin-top: 2.4rem;
  flex-direction: column;
}

.gv-mockup__formGroup--actions {
  justify-content: flex-end;
  align-self: flex-end;
}

.gv-mockup__input,
.gv-mockup__textarea {
  background-color: #ccced2;
  width: 100%;
  border-radius: 4px;
}

.gv-mockup__input {
  height: 4rem;
}

.gv-mockup__textarea {
  height: 19rem;
}

.gv-mockup__btn {
  width: 8.5rem;
  height: 4rem;
  background-color: #ccced2;
}
