@import url('~@igloo-ui/tokens/dist/base10/variables.css');
@import url('~@hopper-ui/tokens/tokens.css');

:root {
    --isb-section-margin: var(--space-3);
    --isb-mockup-content-padding: 3.2rem;
    --isb-section-column-gap: var(--space-5);
    --isb-section-title-font-weight: var(--font-weight-regular);
    --isb-section-title-color: var(--grey-800);
    --isb-trigger-width: var(--space-2);
    --isb-trigger-height: var(--space-2);
    --isb-trigger-background-color: var(--electric-blue-500);
    --isb-popover-item-gap: var(--space-2);
    --isb-popover-item-line-height: var(--line-height-xxl);
    --isb-popover-tag-width: var(--space-2);
    --isb-popover-tag-height: var(--space-2);
    --isb-popover-value-font-size: var(--font-size-6);
    --isb-popover-value-font-family: var(--secondary-font-family);
    --isb-popover-value-font-weight: var(--font-weight-medium);
    --isb-popover-value-color: var(--grey-800);
    --isb-popover-value-line-height: var(--line-height-lg);
    --isb-option-button-item-max-width: 26rem;
    --isb-list-padding: 0.8rem;
    --isb-list-min-width: 20rem;
    --isb-list-item-padding-y: 0.8rem;
    --isb-list-item-padding-x: 1.6rem;
    --isb-list-item-hover: var(--grey-200);
    --isb-tag-picker-small-width: 45rem;
    --isb-combobox-tag-list-margin: -0.2rem;
    --isb-combobox-tag-list-min-height: 3.8rem;
    --isb-combobox-tag-margin: 0.2rem;
    --isb-gv-mockup-font-size: 1.6rem;
    --isb-gv-mockup-font-weight: 700;
    --isb-gv-mockup-visual-radius: 0.8rem;
    --isb-mockup-content-gap: 1.6rem;
    --isb-mockup-form-group-gap: 0.8rem;
    --isb-gv-mockup-formGroup-column-margin-top: 2.4rem;
    --isb-gv-mockup-input-radius: 0.4rem;
    --isd-gv-mockup-textarea-height: 19rem;
    --isd-gv-mockup-btn-width: 8.5rem;
    --isd-gv-mockup-btn-height: 4rem;
    --isb-disclosure-desc-tag-margin-right: 0.4rem;
    --isb-action-menu-card-height: 6rem;
    --isb-action-menu-card-margin-x: 2rem;
    --isb-action-menu-card-hover-translate-y: -.2rem;
    --isb-action-menu-card-hover-shadow-hover: 0 0.4rem 1rem 0.4rem rgb(35 48 67 / 10%);
}

[data-brand="workleap"] {
    --isb-section-margin: 1rem;
    --isb-mockup-content-padding: 2rem;
    --isb-section-column-gap: 2.5rem;
    --isb-section-title-font-weight: normal;
    --isb-section-title-color: var(--hop-neutral-text);
    --isb-trigger-width: 0.5rem;
    --isb-trigger-height: 0.5rem;
    --isb-trigger-background-color: var(--hop-surface-primary-strong);
    --isb-popover-item-gap: 0.5rem;
    --isb-popover-item-line-height: 1.4285;
    --isb-popover-tag-width: 0.5rem;
    --isb-popover-tag-height: 0.5rem;
    --isb-popover-value-font-size: var(--hop-heading-lg-font-size);
    --isb-popover-value-font-family: var(--hop-heading-lg-font-family);
    --isb-popover-value-font-weight: var(--hop-heading-lg-font-weight);
    --isb-popover-value-color: var(--hop-neutral-text);
    --isb-popover-value-line-height: var(--hop-heading-lg-line-height);
    --isb-option-button-item-max-width: 16.25rem;
    --isb-list-padding: 0.5rem;
    --isb-list-min-width: 12.5rem;
    --isb-list-item-padding-y: 0.5rem;
    --isb-list-item-padding-x: 1rem;
    --isb-list-item-hover: var(--hop-neutral-surface-weakest);
    --isb-tag-picker-small-width: 28.125rem;
    --isb-combobox-tag-list-margin: -0.125rem;
    --isb-combobox-tag-list-min-height: 2.375rem;
    --isb-combobox-tag-margin: 0.125rem;
    --isb-gv-mockup-font-size: var(--hop-heading-xs-medium-font-size);
    --isb-gv-mockup-font-weight: var(--hop-heading-xs-medium-font-weight);
    --isb-gv-mockup-visual-radius: var(--hop-shape-rounded-md);
    --isb-mockup-content-gap: 1rem;
    --isb-mockup-form-group-gap: 0.5rem;
    --isb-gv-mockup-formGroup-column-margin-top: 1.5rem;
    --isb-gv-mockup-input-radius: var(--hop-shape-rounded-sm);
    --isb-gv-mockup-input-height: 2.5rem;
    --isd-gv-mockup-textarea-height: 11.875rem;
    --isd-gv-mockup-btn-width: 5.3125rem;
    --isd-gv-mockup-btn-height: 2.5rem;
    --isb-disclosure-desc-tag-margin-right: 0.25rem;
    --isb-action-menu-card-height: 3.75rem;
    --isb-action-menu-card-margin-x: 1.25rem;
    --isb-action-menu-card-hover-translate-y: -0.125rem;
    --isb-action-menu-card-hover-shadow-hover: var(--hop-elevation-lifted);
}

body,
.sb-show-main {
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: geometricPrecision;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.isb-section {
  display: flex;
}

.isb-section > * {
  margin-left: var(--isb-section-margin);
}

.isb-section--column {
  flex-direction: column;
  gap: var(--isb-section-column-gap);
}

.isb-section--column > * {
  margin-left: 0;
}

.isb-section__title {
  font-weight: var(--isb-section-title-font-weight);
  color: var(--isb-section-title-color);
}

.isb-element__thin {
  max-width: 100px;
}

.isb-trigger {
  display: inline-block;
  width: var(--isb-trigger-width);
  height: var(--isb-trigger-height);
  border-radius: 50%;
  background-color: var(--isb-trigger-background-color);
}

.isb-popover__item {
  display: flex;
  align-items: baseline;
  gap: var(--isb-popover-item-gap);
  line-height: var(--isb-popover-item-line-height);
}

.isb-popover__tag {
  align-self: center;
  border-radius: 50%;
  width: var(--isb-popover-tag-width);
  height: var(--isb-popover-tag-height);
}

.isb-popover__value {
  font-size: var(--isb-popover-value-font-size);
  font-family: var(--isb-popover-value-font-family);
  font-weight: var(--isb-popover-value-font-weight);
  color: var(--isb-popover-value-color);
  line-height: var(--isb-popover-value-line-height);
}

.isb-option-button__item {
  flex: 1 1 var(--isb-option-button-item-max-width);
  max-width: var(--isb-option-button-item-max-width);
  padding: 6px 0;
}

.isb-list {
  list-style: none;
  margin: 0;
  padding: var(--isb-list-padding) 0;
  min-width: var(--isb-list-min-width);
}

.isb-list__item {
  padding: var(--isb-list-item-padding-y) var(--isb-list-item-padding-x);
}

.isb-list__item:hover {
  background: var(--isb-list-item-hover);
}

.isb-tag-picker--small-width {
  max-width: var(--isb-tag-picker-small-width);
}

.isb-combobox__tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: var(--isb-combobox-tag-list-margin);
  min-height: var(--isb-combobox-tag-list-min-height);
}

.isb-combobox__tag {
  margin: var(--isb-combobox-tag-margin);
}

.gv-mockup {
  display: flex;
  width: 100%;
  font-size: var(--isb-gv-mockup-font-size);
  font-weight: var(--isb-gv-mockup-font-weight);
}

.gv-mockup__visual {
  flex: 1 1 50%;
  aspect-ratio: 3/4;
  background-color: #ccced2;
  border-radius: var(--isb-gv-mockup-visual-radius) 0 0 var(--isb-gv-mockup-visual-radius);
}

.gv-mockup__content {
  flex: 1 1 50%;
  padding: var(--isb-mockup-content-padding);
  display: flex;
  flex-direction: column;
  gap: var(--isb-mockup-content-gap);
}

.gv-mockup__formGroup {
  display: flex;
  gap: var(--isb-mockup-form-group-gap);
}

.gv-mockup__formGroup--column {
  margin-top: var(--isb-gv-mockup-formGroup-column-margin-top);
  flex-direction: column;
}

.gv-mockup__formGroup--actions {
  justify-content: flex-end;
  align-self: flex-end;
}

.gv-mockup__input,
.gv-mockup__textarea {
  background-color: #ccced2;
  width: 100%;
  border-radius: var(--isb-gv-mockup-input-radius);
}

.gv-mockup__input {
  height: var(--isb-gv-mockup-input-height);
}

.gv-mockup__textarea {
  height: var(--isd-gv-mockup-textarea-height);
}

.gv-mockup__btn {
  width: var(--isd-gv-mockup-btn-width);
  height: var(--isd-gv-mockup-btn-height);
  background-color: #ccced2;
}

.isb-disclosure__desc {
  align-items: baseline;
  display: flex;
}

.isb-disclosure__desc-tag {
  align-self: center;
  margin-right: var(--isb-disclosure-desc-tag-margin-right);
}

.isb-action-menu__card {
  align-items: center;
  box-shadow: 0 1px 6px rgb(35 48 67 / 10%);
  display: flex;
  height: var(--isb-action-menu-card-height);
  justify-content: flex-end;
  margin: var(--isb-action-menu-card-margin-x) 0;
  position: relative;
  transform: translateY(0);
  transition: transform .4s, box-shadow .4s, opacity .4s;
  z-index: 0;
}

.isb-action-menu__card:hover {
  box-shadow: var(--isb-action-menu-card-hover-shadow-hover);
  transform: translateY(var(--isb-action-menu-card-hover-translate-y));
}
