@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  --ids-progress-bar-height: #{tokens.$space-2};
  --ids-progress-bar-radius: #{tokens.$space-1};
  --ids-progress-bar-background: #{tokens.$grey-200};
  --ids-progress-bar-background-progress: #{tokens.$electric-blue-500};
  --ids-progress-bar-background-completed: #{tokens.$seaweed-500};
  --ids-progress-bar-height-compact: #{tokens.$space-1};
  --ids-progress-bar-radius-compact: calc(#{tokens.$space-1} / 2);
}

.ids-progress-bar {
  display: flex;
  width: 100%;
  border-radius: var(--ids-progress-bar-radius);
  height: var(--ids-progress-bar-height);
  background-color: var(--ids-progress-bar-background);

  &__status {
    display: block;
    width: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: var(--ids-progress-bar-background-progress);
  }

  &--compact {
    --ids-progress-bar-height: var(--ids-progress-bar-height-compact);
    --ids-progress-bar-radius: var(--ids-progress-bar-radius-compact);
  }
}

.ids-progress-bar--completed {
  .ids-progress-bar__status {
    --ids-progress-bar-background-progress: var(--ids-progress-bar-background-completed);

    border-radius: inherit;
  }
}
