@import "~@igloo-ui/tokens/dist/variables.css";
@import "~@igloo-ui/tokens/dist/fonts.css";

.ids-ellipsis {
  overflow: hidden;
  white-space: nowrap;
}

.ids-ellipsis__content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}