@use '~@igloo-ui/tokens/dist/base10/variables' as tokens;
@use '~@igloo-ui/tokens/dist/fonts';

:root {
  /* Default */
  --ids-my-select-height: #{tokens.$space-6};
  --ids-my-select-font-family: #{tokens.$primary-font-family};
  --ids-my-select-font-size: #{tokens.$font-size-4};
  --ids-my-select-font-weight: #{tokens.$font-weight-regular};
  --ids-my-select-padding: #{tokens.$space-3};
  --ids-my-select-line-height: #{tokens.$space-4};
  --ids-my-select-margin: #{tokens.$space-1} #{tokens.$space-0};

  --ids-my-select-background: #{tokens.$samoyed};
  --ids-my-select-text: #{tokens.$grey-800};
  --ids-my-select-chevron: #{tokens.$grey-800};
  --ids-my-select-border-color: #{tokens.$grey-300};
  --ids-my-select-border-radius: #{tokens.$border-radius-sm};

  /* Compact */
  --ids-my-select-height-compact: #{tokens.$space-5};
  --ids-my-select-font-size-compact: #{tokens.$font-size-3};
  --ids-my-select-line-height-compact: #{tokens.$line-height-xxl};
  --ids-my-select-letter-spacing-compact: #{tokens.$font-weight-regular};

  /* Active */
  --ids-my-select-border-color-active: #{tokens.$electric-blue-500};

  /* Disabled */
  --ids-my-select-background-disabled: #{tokens.$grey-200};
  --ids-my-select-text-disabled: #{tokens.$grey-500};
  --ids-my-select-chevron-disabled: #{tokens.$grey-800};
  --ids-my-select-border-color-disabled: #{tokens.$grey-200};

  /* Error */
  --ids-my-select-border-color-error: #{tokens.$coral-500};
}

.ids-my-select {
  height: var(--ids-my-select-height);
  width: 100%;
  padding: 0 var(--ids-my-select-padding);
  font-size: var(--ids-my-select-font-size);
  font-family: var(--ids-my-select-font-family);
  font-weight: var(--ids-my-select-font-weight);
  line-height: var(--ids-my-select-line-height);
  background-color: var(--ids-my-select-background);
  border: 1px solid var(--ids-my-select-border-color);
  border-radius: var(--ids-my-select-border-radius);
  box-sizing: border-box;
  appearance: textfield;
  transition: border-color 200ms ease 0s;
  margin: var(--ids-my-select-margin);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  cursor: pointer;
  user-select: none;
  position: relative;

  .ids-dropdown {
    position: absolute;
    top: var(--ids-my-select-height);
    left: -1px;
    display: flex;
    flex-flow: column nowrap;
  }

  .ids-my-select--header {
    svg {
      color: var(--ids-my-select-chevron);
      align-self: flex-end;
    }
  }
}

.ids-my-select.active {
  font-family: var(--ids-my-select-font-family);
  font-size: var(--ids-my-select-font-size);

  display: flex;
  align-items: flex-start;
  background-color: var(--ids-my-select-background);
  color: var(--ids-my-select-text);

  .ids-my-select--header {
    svg {
      color: var(--ids-my-select-chevron);
    }
  }
}

.ids-my-select.disabled {
  background-color: var(--ids-my-select-background-disabled);
  color: var(--ids-my-select-text-disabled);
  cursor: default;

  .ids-my-select--header {
    & svg {
      color: var(--ids-my-select-chevron-disabled);
    }
  }
}
