.ids-select-option {
  width: 100%;
  user-select: none;
  padding: 2px;

  &:hover, &--selected {
    background-color: blue;
    color: white;
  }

  &--disabled, &--disabled:hover, &--disabled:active {
    background-color: gray;
    color: white;
    cursor: default;
  }
}